{% load i18n future mezzanine_tags %}

{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/social_login.css">
{% endcompress %}
{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    $('#fblogin').add('#twitterlogin').click(function() {
        var w = 700;
        var h = 500;
        var left = 100;
        var top = 100;
        var name="Facebook Login";
        var settings = 'height=' + h + ',width=' + w + ',left=' + left + ',top=' + top + ',resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=yes,directories=no,status=yes';
        var url = $(this).attr("href");
        url += "?next={% url "login_popup_close" %}";
        window.open(url, name, settings)

        return false;
    });
});
</script>
{% endblock %}

{% if request.user.is_authenticated %}
    {% trans "Logged in as: " %}
    {% url "profile" request.user.username as profile_url %}
    {% if profile_url %}
        <a href="{{ profile_url }}">{{ request.user.username }}</a><br>
        {% if request.user.is_authenticated %}
        <a href="{{profile_url}}">
        {% if request.user.get_profile.profile_photo%}
        <img style="margin-right:20px;height=150px;width:150px;" src="{{ request.user.get_profile.profile_photo.url }}">
        {% elif request.user.get_profile.image_url %}
        <img style="margin-right:20px;" src="{{ request.user.get_profile.image_url }}">
        {% else %}
        <img style="margin-right:20px;height=150px;width:150px;" src="{{ STATIC_URL }}img/defaultProfilePic.gif">
        </a> 
        {% endif %}
        {% endif %}
        <a href="{% url "profile_update" %}"
            class="btn btn-small btn-account">{% trans "Update profile" %}</a>
    {% else %}
        <a href="{% url "profile_update" %}">{{ request.user.username }}</a>
        {% if request.user.get_profile.profile_photo %}
        <img style="margin-right:20px;height=150px;width:150px;" src="{{ request.user.get_profile.profile_photo.url }}">
        {% elif request.user.get_profile.image_url %}
        <img style="margin-right:20px;" src="{{ request.user.get_profile.image_url }}">
        {% else %}
        <img style="margin-right:20px;height=150px;width:150px;" src="{{ STATIC_URL }}img/defaultProfilePic.gif">
        {% endif %}
        </a>
    {% endif %}
    <a href="{% url "logout" %}?next={{ request.path }}"
        class="btn btn-small btn-danger btn-account">{% trans "Log out" %}</a>
{% else %}
    <a href="{% url "login" %}?next={{ request.path }}"
        class="btn btn-small btn-account btn-success">{% trans " Log in" %}</a>
    <a id="fblogin" href="{% url "socialauth_begin" "facebook" %}"><img src="{{ STATIC_URL }}img/fb_login.png"> </a>
    <a id="twitterlogin" href="{% url "socialauth_begin" "twitter" %}" ><img src="{{ STATIC_URL }}img/twitter.png"></a></br>
    <a href="{% url "signup" %}?next={{ request.path }}"
        class="btn btn-small btn-account btn-success">{% trans "Sign up" %}</a>
{% endif %}
