{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags reviewrating_tags i18n future disqus_tags static %}
{% load follow_tags %}
{% load userProfile_tags %}
{% load hitcount_tags %}
{% load blog_tags %}
{% load activity_tags %}
{% block meta_title %}{{ blog_post.meta_title|title }} {{blog_post.overall_average|floatformat:"1" }} {% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{% block extra_css %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "css/vallenato.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/searchresults.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/imagestore.css" %}"/>
{% endcompress %}

{% endblock %}
{% block extra_js %}
{% include 'js/store_page.js.html' with blog_post=blog_post %}
{% compress js %}
<script src="{% static "js/vallenato.js" %}"></script>
<script src="{% static "js/album.handlers.js" %}"></script>
{% endcompress %}

<script type="text/javascript">
    $(document).ready(function() {
        var store_page = '{{blog_post.title|lower}}'; 
        $('body').data('store', store_page);
        {% get_hit_count_javascript for blog_post %}
        install_voting_handlers();
        install_review_voting_handler();
        install_review_handlers();

        var get_deallist_stores = function() {
            var link = "{% url 'get_filtered_deallist' blog_post.id 'All' 0 'DEALS_NUM_LATEST'|settings_value %}";
            link = link + '?v=1';
            $.get(link, {}, function(data) {
                if(data.success === true) {
                    var $relatedDeals = $('#topDealsForStore');
                    $relatedDeals.html(data.html);
                    setupCustomScrollBar($relatedDeals);
                    install_voting_handlers($relatedDeals);
                    install_share_object_handler($relatedDeals);

                    $('a.wishimg-deal-homepage').fancybox({
                        scrolling: 'yes',
                        minWidth: 500,
                        minHeight:450,
                        autoSize: true,
                        helpers : { overlay : { locked : false } }
                    });
                }
            }); 
        }

        get_deallist_stores();

        var get_related_stores = function() {
            var link = "{% url 'get_related_stores' blog_post.id 'All' 0 'MIN_STORES_HOME_PAGE'|settings_value %}";
            link = link + '?v=1';
            $.get(link, {}, function(data) {
                if(data.success === true) {
                    var $relatedStoreContainer = $('#topRelatedStoreForStore');
                    $relatedStoreContainer.html(data.html);
                    $relatedStoreContainer.find('.vendorFollowers').on("click", display_popup_handler);
                    setupCustomScrollBar($relatedStoreContainer);
                }
            }); 
        }

        get_related_stores();
        
        $('#viewAlbum').click(function() {
            var add_link = $(this);
            $('#vendorAlbum').html("");
            var link = add_link.attr('href');
            $.get(link, {}, function(data) {
                $("#vendorAlbum").html(data);
                install_album_handlers($("#vendorAlbum"));
            });
            return false;
        });
        $('#viewAlbum').click();
        $('#getComments').click();

        {% if blog_post.user == request.user %}
            $('#fakeselect_featured_image').click(function(event){
                $('#featured_image').click();
            });
            $("#featured_image").change(function() {
                $('#blogpost_edit_image').submit();
                return false;
            });
            $('#blogpost_edit_image').ajaxForm({
                complete: function(xhr) {
                    var ret_data = JSON.parse(xhr.responseText);
                    if(ret_data.success == true){
                        var img_url = ret_data.image_url;
                        if(img_url) {
                            $('.featuredImg').attr('src', img_url);
                        }
                        else {
                            console.log(ret_data);
                        }
                    }
                    else
                       console.log(ret_data); 
                }
            });
        {% endif %}
        {% if request.session.unauthenticated_write_review and not request.session.unauthenticated_store_write_review %}
            $('.writeReview').first().click();
        {% endif %}
    });
</script>
{% endblock %}


{% block main %}
<div class="row topHalfGutter color5D">
    <div class="span7">
        <div class="row">
            <div class="whiteBox storeIntro">
                {% include 'blog/store_intro.html' with blog_post=blog_post %}
            </div>
        </div>
        <div class="row">
            <div class="whiteBox">
                {% include 'blog/store_details.html'  with blog_post=blog_post %}
            </div>
        </div>
    </div>
    {% blog_subcategories_for_blog blog_post as sub_categories_blog %}
        {% if sub_categories_blog %}
        <div class="span3 whiteBox">
            <div>
                <select id="dealsFilterSelect" class="dealsFilter">
                    <option value='empty' selected disabled>{% trans "Filter By" %}</option>
                    <option value="all">{% trans "All" %}</option>
                    {% for category in sub_categories_blog %}
                    <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="accordion-container">
                <h2 class="accordion-header accordion-header-color-2"><span class="hotDealsIcon">%&nbsp;</span>{{ blog_post.title|title }} {% trans "Deals" %}
                    <div class="yellowLineContainer">
                        <hr class="whiteLine"/>
                    </div>
                </h2>
                <div class="accordion-content">
                    <div id="topDealsForStore">
                        <div class="row vendorResult loader">
                            <div class="span3">
                                <img src="{% static 'img/loading.gif' %}">
                            </div>
                        </div>
                        {#% render_deals_for_stores blog_post.id 'All' 'MIN_DEALS_HOME_PAGE'|settings_value 'vertical' %#}
                    </div>
                    <div class="">
                    </div>
                </div> 
                <h2 class="accordion-header accordion-header-color-1"><img src="{% static "img/top_stores_white.png" %}"> {% trans "Related Stores" %}
                    <div class="yellowLineContainer">
                        <hr class="whiteLine"/>
                    </div>
                </h2>
                <div class="accordion-content"> 
                    <div id="topRelatedStoreForStore">
                    <div class="row vendorResult loader">
                        <div class="span3">
                            <img src="{% static 'img/loading.gif' %}">
                        </div>
                    </div>
                        {#% render_related_stores blog_post.id 'All' 'MIN_STORES_HOME_PAGE'|settings_value 'vertical' %#}
                    </div>
                    <div class="">
                    </div>
                </div> 
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
