{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags reviewrating_tags i18n future disqus_tags static %}
{% load follow_tags %}
{% load userProfile_tags %}
{% load hitcount_tags %}
{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ blog_post.title }}</li>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static "js/jquery.lightbox-0.5.js" %}"></script>
<script src="{% static "js/jquery.linkify.js" %}"></script>
<link rel="stylesheet" href="{% static "css/customnavbar.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/imagestore.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.lightbox-0.5.css" %}"/>
<link rel="stylesheet" href="{% static "css/creative.css" %}">
<link rel="stylesheet" href="{% static "css/navigation.css" %}">

    <script type="text/javascript">
       $(function() {
            $.ajaxSetup({
                 beforeSend: function(xhr, settings) {
                     function getCookie(name) {
                         var cookieValue = null;
                         if (document.cookie && document.cookie != '') {
                             var cookies = document.cookie.split(';');
                             for (var i = 0; i < cookies.length; i++) {
                                 var cookie = jQuery.trim(cookies[i]);
                                 // Does this cookie string begin with the name we want?
                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                     return cookieValue;
                     }
                     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                         // Only send the token to relative URLs i.e. locally.
                         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                     }
                 }
            });     
    });    
    $(document).ready(function() {
            {% get_hit_count_javascript for blog_post %}

            var getDealList = function(){
                {% if request.user.is_authenticated %}
                    $('#load-deals').html("");
                    {% get_wishlist_url blog_post 0 10 as wishlisturl %}
                    var link = "{{wishlisturl}}";
                    $.get(link, {}, function(data) {
                        $('#load-deals').html(data);
                    });
                {% endif %}    
            }
            getDealList(); 

            $('#vendorFollowers').click(function() {
                var w = 700;
                var h = 500;
                var left = 100;
                var top = 100;
                var name="Friends";
                var settings = 'height=' + h + ',width=' + w + ',left=' + left + ',top=' + top + ',resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=yes,directories=no,status=yes';
                var url = $(this).attr("href");
                window.open(url, name, settings);

                return false;
            });
        $('#viewAlbum').click(function() {

            var add_link = $(this);
            $('#vendorAlbum').html("");
            var link = add_link.attr('href');
            $.get(link, {}, function(data) {
                $('#vendorAlbum').html(data);
            });
            return false;
        });
        $('#viewAlbum').click();
       $('#getComments').add('#viewComments').add('#getLikedComments').add('#getRecentComments').add('#getSocialComments').add('#getSocialLevel2Comments').click(function() {
            var add_link = $(this);
            $('#commentContainer').html("");
            var link = add_link.attr('href');
            $.get(link, {}, function(data) {
                $('#commentContainer').html(data);
            });
            return false;
        });
        $('#getComments').click();
            var FollowUnfollow = function() {
                var element = $("#followContainer");
                var classes = element.attr('class');
                if (classes.indexOf('following') == -1) {
                    classes+= ' following';
                }
                else {
                    classes = classes.replace('following', '');
                }
                element.attr('class', classes); 
            }
            
            {% if request.user|is_following:blog_post %}
                var element = $("#followContainer");
                var classes = element.attr('class');
                if (classes.indexOf('following') == -1) {
                        classes+= ' following';
                    }
                element.attr('class', classes); 
            {% endif %}

            $('#follow-btn').click(function() {
                var add_link = $(this);
                $.post(add_link.attr('href'), {}, function(data) {
                    if (data  == 'ok') {
                        FollowUnfollow();
                        var followerCount = $('#vendorFollowers').html();
                        var followerCount = parseInt(followerCount) + 1;
                        $('#vendorFollowers').html(followerCount);
                    } else {
                        //showSnazzySuccessMessage("Something went wrong!");
                    }
                });
                return false;
            });

            $('#unfollow-btn').click(function() {
                var add_link = $(this);
                $.post(add_link.attr('href'), {}, function(data) {
                    if (data == 'ok') {
                        FollowUnfollow();
                        var followerCount = $('#vendorFollowers').html();
                        var followerCount = parseInt(followerCount) - 1;
                        $('#vendorFollowers').html(followerCount);
                    } else {
                        //showSnazzySuccessMessage("Something went wrong!");
                    }
                });
                return false;
            });
    });
    </script>
{% endblock %}


{% block main %}

{% block blog_post_detail_postedby %}
{% editable blog_post.publish_date %}
<h6>
    {% trans "Posted by" %}:
    {% with blog_post.user as author %}
    <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
    {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
</h6>
{% endeditable %}
{% endblock %}
{% block blog_post_detail_commentlink %}
<p>
    {% if blog_post.allow_comments %}
        {% if settings.COMMENTS_DISQUS_SHORTNAME %}
            (<a href="{{ blog_post.get_absolute_url }}#disqus_thread"
                data-disqus-identifier="{% disqus_id_for blog_post %}">{% spaceless %}
                {% trans "Comments" %}
            {% endspaceless %}</a>)
        {% else %}(<a href="#comments">{% spaceless %}
            {% blocktrans count blog_post.comments_count as comments_count %}1 comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
            {% endspaceless %}</a>)
        {% endif %}
    {% endif %}
</p>
{% endblock %}

{% block blog_post_detail_featured_image %}
{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
<p><img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 100 0 %}"></p>
{% endif %}
{% endblock %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% block blog_post_detail_content %}
{% editable blog_post.content %}
{{ blog_post.content|richtext_filter|safe }}
{% endeditable %}
{% endblock %}

{% block blog_post_detail_keywords %}
{% keywords_for blog_post as tags %}
{% if tags %}
{% spaceless %}
<ul class="unstyled tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}
{% endblock %}

{% rating_for blog_post %}
{% reviewrating_for blog_post %}

{% block blog_post_detail_sharebuttons %}
{% set_short_url_for blog_post %}
<a class="btn small primary share-twitter" target="_blank" href="http://twitter.com/home?status={{ blog_post.short_url|urlencode }}%20{{ blog_post.title|urlencode }}">{% trans "Share on Twitter" %}</a>
<a class="btn small primary share-facebook" target="_blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ blog_post.title|urlencode }}">{% trans "Share on Facebook" %}</a>
<div id="followContainer" class="follow-button-container action-follow-user" >
    <a id="follow-btn" href="{% follow_url blog_post %}" class="form-button form-button-follow form-button-small form-button-default form-button-left-icon form-button-icon-follow">Follow</a>
    <a class="form-button form-button-following form-button-small form-button-light-and-grey form-button-left-icon form-button-icon-following">Following</a>
    <a id="unfollow-btn" href="{% follow_url blog_post %}" class="form-button form-button-unfollow form-button-small form-button-red form-button-left-icon form-button-icon-unfollow">Unfollow</a>
    {% vendor_follower_subset_info_url blog_post 0 request.user|follower_count:blog_post as subset_follower_url %}
    <a id="vendorFollowers" href="{{subset_follower_url}}">
        {{  request.user|follower_count:blog_post }}
    </a>
</div>
<span class="cover-stat cover-stat-views">
      <span class="stat-label be-font-inline">G</span>
      <span class="stat-value">{% get_hit_count for blog_post %}</span>
</span>
{% endblock %}

<div>
    {#% for follower in request.user|followers:blog_post %#}
     <!--a href="{{ follower.get_absolute_url }}"> {{ follower.username }} </a-->
    {#% endfor %#}
</div>

{% block blog_post_previous_next %}
<ul class="pager">
{% with blog_post.get_previous_by_publish_date as previous %}
{% if previous %}
<li class="previous">
    <a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
</li>
{% endif %}
{% endwith %}
{% with blog_post.get_next_by_publish_date as next %}
{% if next %}
<li class="next">
    <a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
</li>
{% endif %}
{% endwith %}
</ul>
{% endblock %}

{% block blog_post_detail_related_posts %}
{% if blog_post.related_posts.all %}
<div id="related-posts">
<h3>{% trans 'Related posts' %}</h3>
<ul class="unstyled">
{% for post in blog_post.related_posts.all %}
     <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}

{% if request.user.is_authenticated %}

<a id="viewAlbum"  style="" href="{% url "imagestore:user" blog_post.user %}"></a>

{% endif %}

<div id="vendorAlbum" class="container">
</div>
<div id="uploadOrCreate" class="container">
</div>   


<div class="span9">
        <h3>Deals</h3>
        <div class="section-scroll" style="border-style:solid;border-width:medium;border-color:#00A3EF;">
            <div id="load-deals" class="content">
            </div>
        </div>
</div>

{% block blog_post_detail_comments %}
{% if blog_post.allow_comments %}
{#% comments_for blog_post %#}
<div id="commentStyle">
<ul>
   <li class="active has-sub"><a id="getComments" href="{% url "comment_thread_default_view" blog_post.id %}"><span>Default</span></a>
      <ul>
         <li><a id="getLikedComments" href="{% url "comment_thread_most_liked_view" blog_post.id %}"><span>Most Liked</span></a></li>
         {% if request.user.is_authenticated %}
         <li><a id="getSocialComments" href="{% url "comment_thread_social_view" blog_post.id %}"><span>Friends' reviews</span></a></li>
         <li><a id="getSocialLevel2Comments" href="{% url "comment_thread_social_view_level2" blog_post.id %}"><span>Friends' of Friends reviews</span></a></li>
         {% endif %}
         <li class="last"><a id="getRecentComments" href="{% url "comment_thread_most_recent_view" blog_post.id %}"><span>Most Recent</span></a></li>
      </ul>
   </li>
</ul>
</div>

<a id="viewComments" href="{% url "comment_thread_default_view" blog_post.id %}"></a>
<div id="commentContainer"></div>
{% endif %}
{% endblock %}

{% endblock %}
