{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags reviewrating_tags i18n future disqus_tags static %}
{% load follow_tags %}
{% load userProfile_tags %}
{% load hitcount_tags %}
{% load blog_tags %}
{% load activity_tags %}
{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/vallenato.css" %}"/>
<link rel="stylesheet" href="{% static "css/store_page.css" %}"/>
<link rel="stylesheet" href="{% static "css/searchresults.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/imagestore.css" %}"/>
{% endblock %}
{% block extra_js %}
{% include 'js/store_page.js.html' with blog_post=blog_post %}
<script src="{% static "js/vallenato.js" %}"></script>
<script src="{% static "js/album.handlers.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        {% get_hit_count_javascript for blog_post %}
        install_voting_handlers();
        install_review_voting_handler();
        install_review_handlers();
        var getDealList = function(){
                $('#load-deals').html("");
                {% get_deallist_url blog_post 0 10 as wishlisturl %}
                var link = "{{wishlisturl}}";
                $.get(link, {}, function(data) {
                    $('#load-deals').html(data);
                    install_voting_handlers($('#load-deals'));
                    install_review_voting_handler($('#load-deals'));
                    $('.shareDeal').on('click', sharewish_handler);
                });  
        }
        getDealList(); 

        $('#viewAlbum').click(function() {
            var add_link = $(this);
            $('#vendorAlbum').html("");
            var link = add_link.attr('href');
            $.get(link, {}, function(data) {
                $("#vendorAlbum").html(data);
                install_album_handlers($('#vendorAlbum'));
            });
            return false;
        });
        $('#viewAlbum').click();

       $('#getComments').add('#viewComments').add('#getLikedComments').add('#getRecentComments').add('#getSocialComments').add('#getSocialLevel2Comments').click(function() {
            var add_link = $(this);
            $('#commentContainer').html("");
            var link = add_link.attr('href');
            $.get(link, {}, function(data) {
                $('#commentContainer').html(data);
                install_voting_handlers($('#commentContainer'));
                install_review_voting_handler($('#commentContainer'));
                install_review_handlers($('#commentContainer'));
            });
            return false;
        });
        $('#getComments').click();
    });
</script>
{% endblock %}


{% block main %}
<div class="row topHalfGutter color5D">
    <div class="span7">
        <div class="row">
            <div class="whiteBox storeIntro">
                {% include 'blog/store_intro.html' with blog_post=blog_post %}
            </div>
        </div>
        <div class="row topHalfGutter">
            <div class="whiteBox">
                {% include 'blog/store_details.html'  with blog_post=blog_post %}
            </div>
        </div>
    </div>
    <div class="span3 whiteBox" style="overflow:auto">
        {% blog_subcategories_for_blog blog_post as sub_categories_blog %}
        {% if sub_categories_blog %}
            <div>
                <select id="dealsFilterSelect" class="dealsFilter">
                    <option value='empty' selected disabled>{% trans "Filter By" %}</option>
                    <option value="all">{% trans "All" %}</option>
                    {% for category in sub_categories_blog %}
                    <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="accordion-container">
            <h2 class="accordion-header"><span class="hotDealsIcon">%&nbsp;</span>{{ blog_post.title|upper }} {% trans "DEALS" %}
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
            <div class="accordion-content"> 
                <div id="topDealsForStore">
                    {% render_deals_for_stores blog_post.id 'All' 'MIN_DEALS_HOME_PAGE'|settings_value 'vertical' %}
                </div>
            </div> 
            <h2 class="accordion-header"><img src="{% static "img/top_stores_white.png" %}"> {% trans "RELATED STORES" %}
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
            <div class="accordion-content"> 
                <div id="topRelatedStoreForStore" class="scrollContainer">
                        {% render_related_stores blog_post.id 'All' 'MIN_STORES_HOME_PAGE'|settings_value 'vertical' %}
                </div>
            </div> 
        {% endif %}
    </div>
</div>
{% endblock %}
