{% load i18n hitcount_tags blog_tags static %}
{% load activity_tags %}
{% load follow_tags %}
{% load userProfile_tags %}
{% load comment_tags %}

<div class="span7" style="height:25px;">
    <span class="radioModuleFeedRadio"></span>
    <span class="radioModuleFeedContainer fontTitillium1 fontSize12">
    	<a href="javascript:void(0)">{% trans "Views" %} ({% get_hit_count for blog_post %})</a>
    	<a href='{% if wholeReviewLink == "True" %}{{ blog_post.get_absolute_url }}#comments{% else %}#comments{% endif %}' style="margin-right:0px;">{% trans "Reviews" %}</a>
        {% get_range_commenters_url blog_post 0 5 as commenters_url %}

        <a class="broadcasters commentCount" href="{{commenters_url}}" style="margin-left:0px;">({{blog_post.comments_count}})</a>

		{% get_share_count blog_post as share_count %}
        {% get_share_object_url blog_post as share_store_url %}
		<a href="#" data-href="{{share_store_url}}" class="shareObject">{% trans "Share" %}</a>
		{% broadcasters_for_object blog_post as broadcasters_url %}
		<a class="store_sharers sharedCount" href="{{broadcasters_url}}" data-href="#">({{share_count}})</a>

		<span id="vendorFollowContainer" class="vendorFollowContainer {% if request.user|is_following:blog_post %}following{% endif %}" >
			<a href="#" class="follow-btn icon-follow" data-href="{% follow_url blog_post %}">{% trans "Follow" %}</a>

			<a class="icon-following radioColor">{% trans "Follow" %}</a><a href="#" class="unfollow-btn icon-unfollow" data-href="{% follow_url blog_post %}"><img class="noBoxShadow" src="{% static 'img/1transparent.png' %}"></a>
		</span>{% vendor_follower_subset_info_url blog_post 0 request.user|follower_count:blog_post as subset_follower_url %}<a class="vendorFollowers" href="{{subset_follower_url}}">({{  request.user|follower_count:blog_post }})</a></span>
    {% if noShare == "True" %}
    {% else %}
        <span class="socialShare makeButton fontTitillium halfGutter">+</span>
        <a href="javascript:void(0)" class="writeReview rateStoreNow radioColorBackground colorWhite fontTitillium1 fontSize13 pull-right" data-href="{% write_review_for_obj_url blog_post %}">{% trans "Write a Review" %}</a>
    {% endif %}
</div>