{% load static %}
{% load future i18n %}
{% load comment_tags %}

<div class="span7 halfGutter">
	<div class="row">
		<div class="span7">
			<h6 class="fontTitillium fontSize16 categories">
				<img src="{% static "img/categories.png" %}">
				{% trans "THE COLLECTION" %}
			</h6>
		</div>
	</div>
	<div class="row">
		<div class="span7">
			<a id="viewAlbum" href="{% url "imagestore:user" blog_post.user %}"></a>
			<div id="vendorAlbum">
			</div>
		</div>
	</div>
</div>
<hr class="dottedSeparator">
<div class="span7 halfGutter topHalfGutter">
	<div class="row">
		<div class="span2">
			<h6 class="fontTitillium fontSize16 categories">
				<img src="{% static "img/shopTalk.png" %}">
				{% trans "REVIEWS" %}
			</h6>
		</div>
		<div class="span2 pull-right halfGutterRight">
			<select class="dealsFilter reviewFilter">
				<option value='empty' selected disabled>{% trans "Filter By" %}</option>
				<option value="recent">{% trans "Recent Reviews" %}</option>
				<option value="social">{% trans "Social Reviews" %}</option>
				<option value="helpful">{% trans "Helpful Reviews" %}</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="span7" id="commentContainer">
			{% block blog_post_detail_comments %}
			{% if blog_post.allow_comments %}
				{% comments_for blog_post %}
			{% endif %}
			{% endblock %}
		</div>
	</div>
</div>