{% load mezzanine_tags reviewrating_tags static %}
{% load i18n %}
<div class="span7 halfGutter color5D">
	<div class="row topHalfGutter bottomHalfGutter">
		<div class="span2 vendorLogoImage pagination-centered" style="width:auto">

		{% block blog_post_detail_featured_image %}
				<img class="noBoxShadow featuredImg" src="
				{% if settings.BLOG_USE_FEATURED_IMAGE %}
					{% if blog_post.featured_image %}
						{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 100 0 %}
					{% else %}
						{% static "img/store_default.png" %}
					{% endif %}
				{% endif %}">
			{% if blog_post.user == request.user %}
				 <form id="blogpost_edit_image" action="{% url edit_blog_image blog_post.id %}" method="post" role="form" class='pagination-left album-form' enctype="multipart/form-data" style="line-height:20px;margin-top:-145px;margin-left:5px;">
				 {% csrf_token %}
				    <input style="display:none;" type="file" id="featured_image" name="featured_image" aria-label="Add photos to your post"/>
	                <input id="fakeselect_featured_image" type="button" value="" title="{% trans "Edit Picture" %}" />
	            </form>
	        {% endif %}
		{% endblock %}
		</div>
		<div class="span5 halfGutter">
			{% block title %}
			{% editable blog_post.title %}
				<span class="fontHelvetica fontSize15 weightBold">{{ blog_post.title|title }}</span>
			{% endeditable %}
			{% endblock %}
			{% block blog_post.web_url %}
				{% editable  blog_post.web_url %}
				<div>
					<a class="siteURL fontTitillium fontSize13"  target="_blank" href="{{blog_post.web_url}}">{% trans "Visit Site" %}</a>
				</div>
				{% endeditable %}
			{% endblock %}

			{% block blog_post_detail_content %}
			{% editable blog_post.content %}
				<span class="fontTitillium1 fontSize12 aboutStore">{{ blog_post.content|richtext_filter|safe }}</span>
			{% endeditable %}
			{% endblock %}
		</div>
	</div>
	<div class="dottedSeparator fullSeparator"></div>
	<div class="row topHalfGutter bottomHalfGutter">
		{% include 'blog/store_radio_module.html' with noShare="False" %}
	</div>
	<div class="dottedSeparator fullSeparator"></div>
	<div class="row topHalfGutter bottomHalfGutter">
		<div class="span7">
			<div class="fontTitillium fontSize15 bottomHalfGutter">
				{% trans "WHAT PEOPLE SAY" %}
			</div>
			{% reviewrating_for blog_post %}
		</div>
	</div>
</div>