{% load mezzanine_tags i18n widget_tweaks static %}
<div class="message fontSize16 fontTitillium1 hide">
<p class="radioColor pagination-centered">{% trans "Thank you so much!" %}</p>
<p class="color5D fontSize13">{% trans "Where would we be without all you helpful people suggesting stores that are new or missed." %}</p>
<p class="color5D fontSize13">{% trans "We'll get to work adding this store now." %}</p>
</div>

<div class="suggestFormPrefix fontTitillium1">
    <p class="radioColor fontSize16" style="margin-bottom:0;">{% trans "Can't find a store on Wishradio?" %}</p>
    <p class="color5D fontSize13" style="margin-bottom:0;">{% trans "Paste the store link " %}<span class="radioColor">below</span>{% trans " and we'll ensure that we add it." %}</p>
</div>

<form style="position:relative;" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %} action="{{action_url}}" class="suggestForm topHalfGutter">
    {% for field in form %}
    	{% render_field field placeholder=field.label class="textField pull-left" %}
    	<div>
    	</div>
    {% endfor %}
    <input class="makeYellowButton fontTitillium radioColor fontSize15 halfGutter pull-right" style="margin-top:-6px;padding-left:20px;padding-right:20px;" type="submit" value="Go">
    <img class="halfGutter noBoxShadow hide loader pull-right" style="height:20px;margin-right:18px;" src="{% static "img/loading.gif" %}"/>
</form>