{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags static %}
{% load relationship_tags %}
{% load activity_tags %}
{% load hitcount_tags %}
{% load userProfile_tags %}
{% load follow_tags %}
{% load thumbnail %}

{% block meta_title %}{{ profile_user.username }}{% endblock %}
{% block title %}{{ profile_user.username }} | Wishradio{% endblock %}
{% block body_id %}account{% endblock %}

{% block extra_css %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "css/vallenato.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/account_profile.css" %}">
{% endcompress %}
{% endblock %}

{% block extra_head %}
<script src="http://connect.facebook.net/en_US/all.js"></script>
{% endblock %}

{% block extra_js %}
<!-- <script src="{% static "js/jquery.mousewheel.js" %}"></script> -->
{% compress js %}
<script src="{% static "js/vallenato.js" %}"></script>
{% endcompress %}

<script type="text/javascript">
  var sIndex = 0;
  var lIndex = 20;
  $(document).ready(function() {
    {% get_hit_count_javascript for profile_user %}
    $('#followerCountBox').add('#followingCountBox').add('#followingVendorCountBox').on("click", display_popup_handler);
    $('#sendInvitesFB').click(function() {
        FB.init({ 
            appId: {% settings_value 'FACEBOOK_APP_ID' %}, cookie:true, 
            status:true, xfbml:true 
        });
        FB.ui({ method: 'apprequests', 
            message: 'Check out this cool application! Make your own network of friends, Share reviews, Get best vendors in town and much more...',
            new_style_message: true
        });
        return false;
    });

    var getFeed = function(){
        $('#load-feeds').html("");
        {% actor_url_subset profile_user 0 20 as feed %}
        var link = "{{feed}}";
        $.get(link, {}, function(data) {
            if (data.html == "None" && data.more == false) {
                $(window).off('scroll');
                $('#status').hide();
            } else {
                if(data.html != 'None') {
                    $('#load-feeds').html(data.html);
                    install_action_handlers($('#load-feeds').children().last());
                    $('#status').hide();
                }
                if ($(document).height() <= $(window).height() && data.more === true) { 
                    updateFeed();
                }
            }
        });
    }
    $('#status span').text('Loading Timeline');
    $('#status').show();
    getFeed();
    getWishList();
    $(window).debounce('scroll', feedUpdater, 100);
});

function getWishList() {
    $('#load-wish').html("");
    {% get_wishlist_url profile_user 0 'MIN_DEALS_HOME_PAGE'|settings_value as wishlisturl %}
    var link = "{{wishlisturl}}";
    $.get(link, {}, function(data) {
        $('#load-wish').html(data.html);
        install_voting_handlers($('#load-wish'));
        $('.shareWish').on('click', sharewish_handler);
        $contentElement = $('.accordion-content').first();
        setupCustomScrollBar($contentElement);
        install_delete_object_handler($contentElement);
    });  
}

function updateFeed(){ 
        //fetch new items 
    $('#status span').text('Loading more items...');
    $('#status').show();
    sIndex = lIndex;
    lIndex = lIndex + 20;
    {% actor_url_subset profile_user 0 20 as feed %}
    var link = "{{feed}}";
    var linksplit = link.split("/");
    linksplit[linksplit.length-2] = lIndex;
    linksplit[linksplit.length-3] = sIndex;
    link = linksplit.join('/');

    $.get(link, {}, function(data) {
        if (data.html == "None" && data.more == false) {
            $(window).off('scroll');
            $('#status').hide();
        } else {
            if(data.html != 'None') {
                $('#load-feeds').append(data.html);
                install_action_handlers($('#load-feeds').children().last());
                $('#status').hide();
            }
            if ($(document).height() <= $(window).height() && data.more === true) { 
                updateFeed();
            }            
        }
    }); 
}

var manageFeedOwner = function() {
    var $this = $(this); 
    if ($this.hasClass('manageFeedUp')) {
        $this.removeClass('manageFeedUp');
        $this.parent().find('.whiteBox').hide();
    }
    else { 
        $this.addClass('manageFeedUp');
        $this.parent().find('.whiteBox').show().css({'display': 'inline-block', 'position': 'relative', 'left': '10px'});
    }
}

var manageFeedOther = function() {
    if ($(this).hasClass('manageFeedUp')) {
        $(this).removeClass('manageFeedUp');
        $(this).parent().find('.whiteBox').hide();
    } else {
        $(this).addClass('manageFeedUp');
        $(this).parent().find('.whiteBox').show().css({'display': 'inline-block', 'position': 'relative', 'left': '10px'});
    }
}

function feedUpdater() {
    var scrollOffset = 400;

    if($(window).scrollTop() + $(window).height() >= $(document).height() - scrollOffset) {
       updateFeed();
       //$(window).off('scroll');
    }  
}


</script>

{% endblock %}
{% block main %}
<div class="row topHalfGutter color5D">
    <div class="span7">
        <div class="row">
            <div class="whiteBox profileIntro">
                {% include 'accounts/account_profile_intro.html' with profile_user=profile_user %}
            </div>
        </div>
        <div class="row">
            <div class="whiteBox">
                {% include 'accounts/account_profile_details.html'  with profile_user=profile_user %}
            </div>
        </div>
    </div>
    <div class="span3 whiteBox">
        <div id="accordion-container">
            {% get_owned_blog profile_user as blog %}
            {% if blog %}
            <h2 class="accordion-header accordion-header-color-4"><span class="hotDealsIcon">%&nbsp;</span>{{ blog.title|title }} {% trans "Deals" %}
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
            <div class="accordion-content"> 
                <div id="topDealsForStore">
                    {% render_deals_for_stores blog.id 'All' 'MIN_DEALS_HOME_PAGE'|settings_value 'vertical' %}
                </div>
            </div> 
            {% else %}
            {% get_wishes_by_user profile_user as wishes %}
            <h2 class="accordion-header accordion-header-color-5">{% trans "Wishlist" %} (<span class="objectCount">{{wishes.count}}</span>)
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
            <div class="accordion-content">
                <div id="load-wish">
                </div>
            </div>
            {% endif %}
            {% if blog %}
            {% else %}
            {% get_reviews_by_user profile_user as reviews %}
            <h2 class="accordion-header accordion-header-color-4">{% trans "Reviews" %} ({{reviews.count}})
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
            <div class="accordion-content">
                 {% render_reviews_for_user profile_user 'REVIEWS_PER_PAGE'|settings_value 'vertical' %}
            </div>
            {% endif %}
            <h2 class="accordion-header accordion-header-color-3">{% trans "Followers" %} ({{profile_user.relationships.followers.count}})
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
            <div class="accordion-content"> 
                {% render_follower_subset profile_user 0 'MIN_FOLLOWERS_CHUNK'|settings_value 'MIN_FOLLOWERS_CHUNK'|settings_value %}
            </div>
            <h2 class="accordion-header accordion-header-color-2">{% trans "Following" %} (<span class="objectCount">{{profile_user.relationships.following.count}}</span>)
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
            <div class="accordion-content"> 
                {% render_following_subset profile_user 0 'MIN_FOLLOWERS_CHUNK'|settings_value 'MIN_FOLLOWERS_CHUNK'|settings_value %}
            </div>
            <h2 class="accordion-header accordion-header-color-1">{% trans "Following Stores" %} ({{profile_user|vendor_following_count}})
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
            <div class="accordion-content"> 
                {% render_vendor_following_subset profile_user 0 'MIN_FOLLOWERS_CHUNK'|settings_value 'MIN_FOLLOWERS_CHUNK'|settings_value 'vertical' 'true' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
