{% extends "base.html" %}
{% load i18n static mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="{% static "js/dateSelectBoxes.js" %}"></script>
<script type="text/javascript">
    $(document).ready(
    	function () {
        if (window.FileReader) {
              function handleFileSelect(evt) {
                var files = evt.target.files;
                var f = files[0];
                var reader = new FileReader();
                
                  reader.onload = (function(theFile) {
                    $('#previewimg span').show();
                    $('#profile_image_preview').show();
                    $('#profile_photo-clear_id').removeAttr('checked');
                    return function(e) {
                      if($('#profile_image_preview').length > 0) {
                          $('#profile_image_preview').attr('src', e.target.result).attr('title', theFile.name);
                      } else {
                        $('#previewimg').prepend($(['<img id="profile_image_preview" src="', e.target.result,'" title="', theFile.name, '" width="100"/>'].join('')));
                      }
                    };
                  })(f);
                  reader.readAsDataURL(f);
              }
         } 
         else {
                // alert('This browser does not support FileReader');
         }
         $('#id_profile_photo').change(handleFileSelect);
    });
    $(document).ready(function(event){
        function pad(n) {
          return (parseInt(n) < 10) ? ("0" + n) : n;
        }

        var populate_location_handler = function() {
            var city = $('#id_location').val();
            city = city.split(',')[0].trim();
            if(city) {
              $('#city option[value="' + city.toLowerCase() +'"]').attr("selected", "selected");
            }          
        };

        var populate_birthday_handler = function() {
            var $birthday = $('#id_birthday').val();
            if($birthday) {
              var $yyyymmdd = $birthday.split('-');
              var yyyy = $yyyymmdd[0];
              var mm = $yyyymmdd[1].replace(/^0+/, '');
              var dd = $yyyymmdd[2].replace(/^0+/, '');
              $('#birthYear option[value="' + yyyy +'"]').attr("selected", "selected");
              $('#birthYear').trigger('change');
              $('#birthMonth option[value="' + mm +'"]').attr("selected", "selected");
              $('#birthMonth').trigger('change');
              $('#birthDay option[value="' + dd +'"]').attr("selected", "selected");
              $('#birthDay').trigger('change');
            }
        };

        $('.signUpForm').on('submit', function(event){
            var $this = $(this);
              if($('#profile_image_preview').is(':hidden')){
                  $('#profile_photo-clear_id').attr('checked','checked');
                  var $fileInput = $('#id_profile_photo');
                  $fileInput.replaceWith( $fileInput = $fileInput.clone( true )); 
              }
              var yyyymmdd = new Array();
              var yyyy = $('#birthYear').find(":selected").val();
              yyyymmdd.push(yyyy);
              var mm = pad($('#birthMonth').find(":selected").val());
              yyyymmdd.push(mm);
              var dd = pad($('#birthDay').find(":selected").val());
              yyyymmdd.push(dd);
              var $yyyymmdd = yyyymmdd.join('-');
              $('#id_birthday').val($yyyymmdd); 

              var city =  $('#city').find(":selected").val();
              $('#id_location').val(city); 

              $this.off('submit');
              $this.submit();
              return false;
        });

        $().dateSelectBoxes($('#birthMonth'),$('#birthDay'),$('#birthYear'),true);
        populate_birthday_handler();
        populate_location_handler();
    });
</script>
{% endcompress %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>{{ title }}</li>
{% endblock %}

{% block main %}
{% include 'accounts/render_signup_form.html' with form=form %}
{% endblock %}



