{% extends "base.html" %}
{% load i18n future mezzanine_tags accounts_tags static %}
{% load relationship_tags %}
{% load activity_tags %}
{% load hitcount_tags %}
{% load userProfile_tags %}
{% load follow_tags %}

{% block meta_title %}{{ profile_user.username }}{% endblock %}
{% block title %}<p> Profile </p>{% endblock %}
{% block body_id %}account{% endblock %}
{% block extra_js %}
<link rel="stylesheet" href="{% static "css/basetemp.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/imagestore.css" %}"/>
<link rel="stylesheet" href="{% static "css/navigation.css" %}"/>
<link rel="stylesheet" href="{% static "css/creative.css" %}"/>
<script src="{% static "js/jquery.linkify.js" %}"></script>
<script src="{% static "js/jquery.jscrollpane.min.js" %}"></script>
<script src="{% static "js/jquery.mousewheel.js" %}"></script>
<script src="http://connect.facebook.net/en_US/all.js"></script>

<link rel="stylesheet" href="{% static "css/jquery.jscrollpane.css" %}">
    <script type="text/javascript">
          var sIndex = 0;
          var lIndex = 10;
		  $(document).ready(function() {
            
			$('#followerCountBox').add('#followingCountBox').add('#followingVendorCountBox').on("click", display_popup_handler);

            $('#sendInvitesFB').click(function() {
                        FB.init({ 
                          appId: {% settings_value 'FACEBOOK_APP_ID' %}, cookie:true, 
                          status:true, xfbml:true 
                        });

                        FB.ui({ method: 'apprequests', 
                          message: 'Check out this cool application! Make your own network of friends, Share reviews, Get best vendors in town and much more...',
                          new_style_message: true
                      });
                return false;
            });
            {% get_hit_count_javascript for profile_user %}
            $('#refreshActorCache').click(function() {
                var add_link = $(this);
                $.get(add_link.attr('href'), {}, function(data) {
                });
                return false;
            });
            $('#getSocialFriends').click(function() {
                var add_link = $(this);
                $.get(add_link.attr('href'), {}, function(data) {
                    $('#socialFriendsList').html(data);
                });
                return false;
            });
            $('#getSocialFriends').click();
            $('#refreshActorCache').click();
            

            var getFeed = function(){
                {% if request.user.is_authenticated %}
                    $('#load-feeds').html("");
                    {% actor_url_subset profile_user 0 10 as feed %}
                    var link = "{{feed}}";
                    $.get(link, {}, function(data) {
                        $('#load-feeds').html(data);
                         install_action_handlers();
                    });
                {% endif %}    
            }
            getFeed();   
            var getWishList = function(){
                {% if request.user.is_authenticated %}
                    $('#load-wish').html("");
                    {% get_wishlist_url profile_user 0 10 as wishlisturl %}
                    var link = "{{wishlisturl}}";
                    $.get(link, {}, function(data) {
                        $('#load-wish').html(data);
                            install_voting_handlers();
                            $('.shareWish').on('click', sharewish_handler);
                    });
                {% endif %}    
            }
            getWishList();  
            updatestatus(); 
            var element = $('.section-scroll').jScrollPane({
                    horizontalGutter:5,
                    verticalGutter:5,
                    'showArrows': true
                    });
                    
                    $('.jspDrag').hide();
                    $('.jspScrollable').mouseenter(function(){
                        $('.jspDrag').stop(true, true).fadeIn('slow');
                    });
                    $('.jspScrollable').mouseleave(function(){
                        $('.jspDrag').stop(true, true).fadeOut('slow');
                    });

                api = element.data('jsp');
                var scroll_handler = function(){
                    if($('.section-scroll').outerHeight() + api.getContentPositionY() >= api.getContentHeight()) {
                        //Fire another function here
                        $('.section-scroll').unbind('scroll');
                        
                        scrollalert();
                        var element = $('.section-scroll').jScrollPane({
                                        horizontalGutter:5,
                                        verticalGutter:5,
                                        'showArrows': true
                        });
                        api = element.data('jsp');
                        api.reinitialise();
                        $('.section-scroll').bind('scroll', scroll_handler);
                        
                    }

                }
                $('.section-scroll').bind('scroll', scroll_handler);
        });

function updatestatus(){  
    //Show number of loaded items  
    var totalItems=$('#load-feeds ul li').length;  
    $('#status').text('Loaded '+totalItems+' Items');  
}

function scrollalert(){ 
 
        $('#status').text('Loading more items...');
   
        sIndex = lIndex;
        lIndex = lIndex + 5;
        {% actor_url_subset profile_user 0 10 as feed %}
        var link = "{{feed}}";

        var linksplit = link.split("/");
        linksplit[linksplit.length-2] = lIndex;
        linksplit[linksplit.length-3] = sIndex;
        link = linksplit.join('/');

        $.get(link, {}, function(data) {
            if(data.indexOf("No actions yet") >= 0)
            {
               $('.section-scroll').unbind('scroll');
            }    
            $('#load-feeds').append(data);
            updatestatus(); 
            install_action_handlers();
        }); 
    /*}     
    setTimeout('scrollalert();', 1500); */ 
}

    </script>

{% endblock %}
{% block main %}
<div class="row">

    <div class="row">
        <!-- Quick Info Box -->
        <div class="span3">
            {% if profile_user.get_profile.profile_photo %}
            <img style="margin-right:20px;" src="{{ profile_user.get_profile.profile_photo.url }}">
            {% elif profile_user.get_profile.image_url %}
            <img style="margin-right:20px;" src="{{ profile_user.get_profile.image_url }}">	
            {% endif %}
            <div id="user-stats" class="left" style="background-color:#000000;color:#E9E6E6;">
                <ul style="list-style:None;">
                    <li class="user-stat user-stat-color"><span class="user-stat-color be-font-inline">G</span>Profile Views <a href="" class="blue right bold stat-views header-link-color">{%     get_hit_count for profile_user %}</a></li>
                    <li class="user-stat user-stat-color"><span class="user-stat-color be-font-inline">F</span>Appreciations <a href="" class="blue right bold stat-apps header-link-color">{{ profile_user.num_likes }}</a></li>
                    {% follower_subset_url profile_user 0 10 as follower_url %}
                    <li class="user-stat user-stat-color"><span class="user-stat-color be-font-inline">I</span>Follower Friends <a id="followerCountBox" href="{{follower_url}}" class="right bold stat-followers header-link-color">{{ profile_user.relationships.followers.count }}</a></li>
                    {% following_subset_url profile_user 0 10 as following_url %}
                    <li class="user-stat user-stat-color"><span class="user-stat-color be-font-inline">H</span>Following Friends <a id="followingCountBox" href="{{following_url}}" class="right bold stat-following header-link-color">{{ profile_user.relationships.following.count }}</a></li>
                    {% vendor_following_subset_info_url profile_user 0 profile_user|vendor_following_count as vendor_subset_url %}
                    <li class="user-stat user-stat-color"><span class="user-stat-color be-font-inline">H</span>Following Vendors <a id="followingVendorCountBox" href="{{vendor_subset_url}}" class="right bold stat-following header-link-color">{{ profile_user|vendor_following_count }}</a></li>
                </ul>
                <span class="tiny-text" id="member-since" style="color:#E9E6E6;">Member Since: <span class="join-date" style="color:#E9E6E6;">{{profile_user.date_joined}}</span></span>
                <span class="tiny-text" id="member-since" style="color:#E9E6E6;">Last Login: <span class="join-date" style="color:#E9E6E6;">{{profile_user.last_login}}</span></span>
            </div> <!-- #user-stats -->

            <!--p>Followers: <span id="followerCount">{{ profile_user.relationships.followers.count }}</span> 
            {#
            <span id="followerList">

            {% for follower in profile_user.relationships.followers %}
            <a href="{{follower.get_absolute_url}}">
            {{ follower }}
            </a>
            {% endfor %}
            </span>

            </p>
            <p>Following: <span id="followingCount">{{ profile_user.relationships.following.count }}</span> 
            <span id="followingList">
            {% for following in profile_user.relationships.following %}
            <a href="{{following.get_absolute_url}}">
            {{ following }}
            </a>
            {% endfor %}
            </span>
            #}
            </p-->

            </br>
            {% if request.user.is_authenticated %}
                {% if profile_user == request.user %}
                    {% for sa in request.user.social_auth.all %}
                        {% if sa.provider == "facebook" %}
                            Invite Friends: <a id="sendInvitesFB" href="#" ><img src="{{ STATIC_URL }}img/fb_login.png"></a>
                        {% elif sa.provider == "twitter" %}
                            <!-- TBD for twitter/google -->
                        {% endif %}
                    {% endfor %}
                    <br><br><a class="btn btn-primary" style="" href="{% url "profile_update" %}">{% trans "Edit profile" %}</a>
                {% else %}
                    <div id="followContainer" class="follow-button-container action-follow-user {% if_relationship request.user profile_user "following" %} following {% endif_relationship %}" >
                        <a  href="{{ profile_user|add_relationship_url:"following" }}" class="follow-btn form-button form-button-follow form-button-small form-button-default form-button-left-icon form-button-icon-follow" data-id="followerCountBox">Follow</a>
                        <a class="form-button form-button-following form-button-small form-button-light-and-grey form-button-left-icon form-button-icon-following">Following</a>
                        <a  href="{{ profile_user|remove_relationship_url:"following" }}" class="unfollow-btn form-button form-button-unfollow form-button-small form-button-red form-button-left-icon form-button-icon-unfollow" data-id="followerCountBox">Unfollow</a>
                    </div>  
                    {% if_relationship request.user profile_user "following" %}
                    {% endif_relationship %}
                {% endif %}

            {% endif %}
        </div>
        <!-- Quick Info Box End -->

        <!-- Profile Details -->
        <div class="span6">
            <h2>{{ profile_user.get_full_name }}</h2>
            <div>
                {% for field, value in profile_user|profile_fields %}
                {% if field != "Imageurl" %}
                        <p>{{ field }}: {{ value|linebreaksbr }}</p>
                {% endif %}
                {% endfor %}
            </div>

            {% if request.user.is_authenticated and profile_user == request.user   %}
            <div>
                <a id="getSocialFriends" style="" href="{% url "friend_list" %}"></a>
                <div id="socialFriendsList"></div>
            </div>
            {% endif %}

            <div>
                {% get_owned_blog profile_user as blog %}
                {% if blog %}
                    Vendor page: <a href="{{ blog.get_absolute_url }}">{{ blog }}</a>
                {% endif %}
            </div>
            
            {% if request.user.is_authenticated %}
                {% if profile_user != request.user %}
                    <div>
                        <a href="{% url "messages_compose_to" profile_user.username %}"><img src="{{STATIC_URL}}img/send.png"></a>
                    </div>
                {% else %}
                    <div>
                        <a href="{% url "messages_inbox" %}"><img src="{{STATIC_URL}}img/inbox.png"></a>{{ messages_inbox_count }}
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <!-- Profile Details end-->
    </div>

    <div class="row">
        <!-- Reviews Written -->
        <div class="span9">
            {% get_reviews_by_user profile_user as reviews %}
            <h4> Reviews Written: {{reviews|length}} </h4>
            {% for comment in reviews %}
                <h5>Review for {{ comment.content_object }}: </h5>
                <p>
              <p>
                <span id="truncComment{{ forloop.counter }}">{{ comment.intro }}</span>
                {%  if comment.comment != comment.intro %}
                      <span id="expComment{{ forloop.counter }}" style="display:none;">{{ comment.comment }}</span>
                      <a href="javascript:void(0);" id="moreComment{{ forloop.counter }}" onClick="

                          $('#truncComment{{ forloop.counter }}').toggle();
                          $('#expComment{{ forloop.counter }}').toggle();

                          if($(this).html() == 'More...')
                            $(this).html('Less...');
                          else
                            $(this).html('More...');
                          return false;"
                      >More...</a>
                {% endif %}
              </p>
                    <span class="timespan">{{ comment.submit_date|timesince }} {% trans "ago" %}</span>
                </p>
            {% endfor %}
        </div>
        <!-- Reviews Written End -->
    </div>
  
{% if request.user.is_authenticated %}  
    <div class = "row">
        <!-- Logged In User Feed -->
        <div class="span9">
                <div class="section-scroll" style="border-style:solid;border-width:medium;border-color:#00A3EF;">
                    <div id="load-feeds" class="content">
                    </div>
                </div>
                <span id="status" ></span>

                <div id="loader">
                    <a id="refreshActorCache" href="{% activity_actor_refresh_cache request.user %}"></a>
                </div>
                <span id="status" ></span>
                <!--div id="load-feeds" class="container span4 right"></div-->
        </div>
        <!-- Logged In User Feed End -->
        <div class="span9">
                <h3>Wishes</h3>
                <div class="wish-section-scroll" style="border-style:solid;border-width:medium;border-color:#00A3EF;">
                    <div id="load-wish" class="content">
                    </div>
                </div>
                <span id="wish-status" >
        </div>
    </div>
{% endif %}
</div>
{% endblock %}
