{% load userProfile_tags future i18n static %}
<div class="span7 color5D fontTitillium1 fontSize13">
	<div class="row topHalfGutter bottomHalfGutter">
		<div class="span2 noGutter pagination-centered">
            {% if profile_user.get_profile.profile_photo %}
            	<img class="noBoxShadow" style="max-height:110px;" src="{{ profile_user.get_profile.profile_photo.url }}">
            {% elif profile_user.get_profile.image_url %}
            	<img class="noBoxShadow" style="max-height:110px;" src="{{ profile_user.get_profile.image_url|add:"?width=110&height=110" }}">	
            {% else %}
                {% if profile_user.get_profile.gender %}
                 	{% if profile_user.get_profile.gender == "male" %}
                    	<img class="noBoxShadow" style="max-height:110px;" src="{% static "img/man_icon.png" %}">
                	{% else %}
                    	<img class="noBoxShadow" style="max-height:110px;" src="{% static "img/woman_icon.png" %}">
                    {% endif %}
                {% else %}
                    <img class="noBoxShadow" style="max-height:110px;" src="{% static "img/man_icon.png" %}">
                {% endif %}
            {% endif %}
		</div>
		<div class="span5 noGutter">
			<div class="row">
				<div class="span3">
					<div class="row">
						<div class="span3">
							<span class="fontTitillium1 fontSize20 weightBold">{{ profile_user.get_full_name }}</span>
							{% if request.user = profile_user %}
								<a href="{% url "profile_update" %}" title="{% trans "Edit Profile" %}"><img style="margin-top:-5px;" class="noBoxShadow" width="15px" height="15px" src="/static/img/edit.png"></a>
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="span3">
							<span class="fontSize11">Member Since: {{profile_user.date_joined}}</span>
						</div>
					</div>
				</div>
				{% get_owned_blog profile_user as blog %}
			    {% if blog %}
					<div class="span2">
						<div class="row">
							<div class="span2">
								<a href="{{ blog.get_absolute_url }}" class="owned_store pull-right">Moderator:&nbsp;<span class="fontTitillium">{{ blog }}</span></a>
							</div>
						</div>
						<div class="row">
							<div class="span2 topHalfGutter">
								<a href="{{ blog.web_url }}" class="pull-right">{{ blog.web_url }}</a>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
			<div class="row">
				{% include 'accounts/profile_radio_module.html' with profile_user=profile_user %}
			</div>
		</div>
	</div>
</div>