{% load activity_tags static i18n %}
<div class="span7 halfGutter">
   <h6 class="fontTitillium fontSize16 boxTitle">
   		<div class="dottedSeparator" style="margin-top:0px;margin-bottom:10px;margin-left:0px;width:100%;"></div>
        <img class="noBoxShadow" src="{% static "img/shopTalk.png" %}">
        <span class="color5D">
        {% trans "TIMELINE" %}
        </span>
        <div class="dottedSeparator" style="margin-top:10px;margin-left:0px;width:100%;"></div>
    </h6>
</div>

<div id="load-feeds" class="section-scroll content">
</div>
<span id="status" class="pagination-centered">
	<span></span>
	<img class="noBoxShadow halfGutter" style="height:17px;margin-top:-4px;" src="{% static "img/loading-yellow.gif" %}">
</span>