{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags static %}
{% load relationship_tags %}
{% load activity_tags %}
{% load hitcount_tags %}
{% load userProfile_tags %}
{% load follow_tags %}

{% block meta_title %}{{ profile_user.username }}{% endblock %}
{% block title %}{{ profile_user.username }} | Wishradio{% endblock %}
{% block body_id %}account{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/vallenato.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/account_profile.css" %}">
{% endblock %}
{% block extra_js %}
<!-- <script src="{% static "js/jquery.mousewheel.js" %}"></script> -->
<script src="{% static "js/vallenato.js" %}"></script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">
  var sIndex = 0;
  var lIndex = 10;
  $(document).ready(function() {
    $('#followerCountBox').add('#followingCountBox').add('#followingVendorCountBox').on("click", display_popup_handler);
    $('#sendInvitesFB').click(function() {
        FB.init({ 
            appId: {% settings_value 'FACEBOOK_APP_ID' %}, cookie:true, 
            status:true, xfbml:true 
        });
        FB.ui({ method: 'apprequests', 
            message: 'Check out this cool application! Make your own network of friends, Share reviews, Get best vendors in town and much more...',
            new_style_message: true
        });
        return false;
    });
    var getFeed = function(){
        $('#load-feeds').html("");
        {% actor_url_subset profile_user 0 'MIN_DEALS_HOME_PAGE'|settings_value as feed %}
        var link = "{{feed}}";
        $.get(link, {}, function(data) {
            $('#load-feeds').html(data);
            install_action_handlers();
            $('#status').hide();
        });
    }
    $('#status').text('Loading Timeline');
    $('#status').show();
    getFeed();
    getWishList();
    $(window).debounce('scroll', feedUpdater, 100);
});

function getWishList() {
    $('#load-wish').html("");
    {% get_wishlist_url profile_user 0 'MIN_DEALS_HOME_PAGE'|settings_value as wishlisturl %}
    var link = "{{wishlisturl}}";
    $.get(link, {}, function(data) {
        $('#load-wish').html(data.html);
        install_voting_handlers($('#load-wish'));
        $('.shareWish').on('click', sharewish_handler);
    });  
}

function feedUpdater() {
    var scrollOffset = 400;

    if($(window).scrollTop() + $(window).height() >= $(document).height() - scrollOffset) {
       updateFeed();
       //$(window).off('scroll');
    }  
}

function updateFeed(){ 
        //fetch new items 
    $('#status').text('Loading more items...');
    $('#status').show();
    sIndex = lIndex;
    lIndex = lIndex + 5;
    {% actor_url_subset profile_user 0 10 as feed %}
    var link = "{{feed}}";
    var linksplit = link.split("/");
    linksplit[linksplit.length-2] = lIndex;
    linksplit[linksplit.length-3] = sIndex;
    link = linksplit.join('/');

    $.get(link, {}, function(data) {
        if (data == "None") {
            $(window).off('scroll');
            $('#status').hide();
        } else {
            $('#load-feeds').append(data);
            install_action_handlers();
        }
    }); 
}

var manageFeedOwner = function() {
    var $this = $(this); 
    if ($this.hasClass('manageFeedUp')) {
        $this.removeClass('manageFeedUp');
        $this.parent().find('.whiteBox').hide();
    }
    else { 
        $this.addClass('manageFeedUp');
        $this.parent().find('.whiteBox').show().css({'display': 'inline-block', 'position': 'relative', 'left': '10px'});
    }
}

var manageFeedOther = function() {
    if ($(this).hasClass('manageFeedUp')) {
        $(this).removeClass('manageFeedUp');
        $(this).parent().find('.whiteBox').hide();
    } else {
        $(this).addClass('manageFeedUp');
        $(this).parent().find('.whiteBox').show().css({'display': 'inline-block', 'position': 'relative', 'left': '10px'});
    }
}

</script>

{% endblock %}
{% block main %}
<div class="row topHalfGutter color5D">
    <div class="span7">
        <div class="row">
            <div class="whiteBox profileIntro">
                {% include 'accounts/account_profile_intro.html' with profile_user=profile_user %}
            </div>
        </div>
        <div class="row">
            <div class="whiteBox">
                {% include 'accounts/account_profile_details.html'  with profile_user=profile_user %}
            </div>
        </div>
    </div>
    <div class="span3 whiteBox" style="overflow:auto">
        <div id="accordion-container">
            {% get_owned_blog profile_user as blog %}
            {% if blog %}
            <h2 class="accordion-header accordion-header-color-4"><span class="hotDealsIcon">%&nbsp;</span>{{ blog.title|upper }} {% trans "DEALS" %}
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
            <div class="accordion-content"> 
                <div id="topDealsForStore">
                    {% render_deals_for_stores blog.id 'All' 'MIN_DEALS_HOME_PAGE'|settings_value 'vertical' %}
                </div>
            </div> 
            {% else %}
            <h2 class="accordion-header accordion-header-color-5">{% trans "Wishlist" %}
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
            <div class="accordion-content">
                <div id="load-wish">
                </div>
            </div>
            {% endif %}
            {% if blog %}
            {% else %}
            <h2 class="accordion-header accordion-header-color-4">{% trans "Reviews" %}
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
            <div class="accordion-content">
                {% get_reviews_by_user profile_user as reviews %}
                {% for review in reviews %}
                <div class="row">
                    <div class="span1 text-center halfGutter">
                        <div>
                            <a style="vertical-align:middle;" href='{{review.content_object.get_absolute_url}}'>
                                <img style="max-height:55px;max-width:55px" src="
                                {% if settings.BLOG_USE_FEATURED_IMAGE %}
                                    {% if review.content_object.featured_image %}
                                        {{ MEDIA_URL }}{% thumbnail review.content_object.featured_image 100 0 %}
                                    {% else %}
                                        {% static "img/store_default.png" %}
                                    {% endif %}
                                {% endif %}"
                                class="noBoxShadow"
                                >
                            </a>
                        </div>
                        <div>
                            <a class="fontSize13 radioColor fontHelvetica" href="{{ review.content_object.get_absolute_url }}">
                                {{ review.content_object }}
                            </a>
                        </div>
                    </div>
                    <div class="span2 noGutter">
                        {{ review.introchars }}
                        <a class="radioColor" href ="{% url render_review review.content_object.slug review.id %}">&nbsp;Read Full Review</a>
                    </div>
                </div>
                {% empty %}
                <div class="row">
                    <div class="span2">
                        No Reviews written
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <h2 class="accordion-header accordion-header-color-3">{% trans "Followers" %}
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
            <div class="accordion-content"> 
                {% render_follower_subset profile_user 0 'MIN_FOLLOWERS_CHUNK'|settings_value 'MIN_FOLLOWERS_CHUNK'|settings_value %}
            </div>
            <h2 class="accordion-header accordion-header-color-2">{% trans "Following" %}
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
            <div class="accordion-content"> 
                {% render_following_subset profile_user 0 'MIN_FOLLOWERS_CHUNK'|settings_value 'MIN_FOLLOWERS_CHUNK'|settings_value %}
            </div>
            <h2 class="accordion-header accordion-header-color-1">{% trans "Following Stores" %}
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
            <div class="accordion-content"> 
                {% render_vendor_following_subset profile_user 0 'MIN_FOLLOWERS_CHUNK'|settings_value 'MIN_FOLLOWERS_CHUNK'|settings_value 'vertical' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
