{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block extra_js %}
{% compress js %}
<script type="text/javascript">
    $(document).ready(
    	function () {
        if (window.FileReader) {
              function handleFileSelect(evt) {
                var files = evt.target.files;
                var f = files[0];
                var reader = new FileReader();
                
                  reader.onload = (function(theFile) {
                    $('#previewimg span').show();
                    $('#profile_image_preview').show();
                    $('#profile_photo-clear_id').removeAttr('checked');
                    return function(e) {
                      if($('#profile_image_preview').length > 0) {
                          $('#profile_image_preview').attr('src', e.target.result).attr('title', theFile.name);
                      } else {
                        $('#previewimg').prepend($(['<img id="profile_image_preview" src="', e.target.result,'" title="', theFile.name, '" width="100"/>'].join('')));
                      }
                    };
                  })(f);
                  reader.readAsDataURL(f);
              }
         } 
         else {
                // alert('This browser does not support FileReader');
         }
         $('#id_profile_photo').change(handleFileSelect);
    });
    $(document).ready(function(event){
        $('.updateProfile').on('click', function(event){
            var $this = $(this);
              if($('#profile_image_preview').is(':hidden')){
                  $('#profile_photo-clear_id').attr('checked','checked');
                  var $fileInput = $('#id_profile_photo');
                  $fileInput.replaceWith( $fileInput = $fileInput.clone( true )); 
              }
              $this.submit();
        });
    })
</script>
{% endcompress %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>{{ title }}</li>
{% endblock %}

{% block main %}
{% include 'accounts/render_signup_form.html' with form=form %}
{% endblock %}



