{% load activity_tags static i18n %}
<div class="span7 halfGutter">
   <h6 class="fontTitillium fontSize16 boxTitle">
        <img class="noBoxShadow" src="{% static "img/shopTalk.png" %}">
        <span>
        {% trans "Timeline" %}
        </span>
    </h6>
</div>

<div id="load-feeds" class="section-scroll content">
</div>
<span id="status" class="pagination-centered">
	<span></span>
	<img class="noBoxShadow halfGutter" style="height:17px;margin-top:-4px;" src="{% static "img/loading.gif" %}">
</span>