{% load i18n future %}

{% if request.user.is_authenticated %}
    <p>{% trans "You're already logged in." %}</p>
{% else %}
	<div class="loginPopup">
		<div class="fontTitillium1 socialLoginForm fontSize13 color5D">
			<a href="{% url "socialauth_begin" "facebook" %}" class="zocial facebook">
				{% trans "Log in with Facebook" %}
<!--                 <span class="socialLogin facebookLogin" style="margin-top:10px;">
                </span> -->
            </a>
            <a href="{% url "socialauth_begin" "google-oauth2" %}" class="zocial googleplus icon" >
<!--                <span class="socialLogin googleLogin" style="margin-top:10px;">
               </span> -->
            </a>
            <a href="{% url "socialauth_begin" "twitter" %}" class="zocial twitter icon">
<!--                 <span class="socialLogin twitterLogin" style="margin-top:10px;">
                </span> -->
            </a>
            <p class="fontTitillium radioColor fontSize20" style="margin:10px;clear:both;float:left">or</p>
			{% include 'accounts/render_form.html' with form=form %}
		    {% url "signup" as signup_url %}
	    	{% blocktrans with request.GET.next as next %}
	    		<p class="fontTitillium fontSize15 hintText">Don’t have an account yet? It’s never too late to Wishradio.&nbsp;<a class="radioColor" href="{{ signup_url }}?next={{ next }}">Sign up</a>&nbsp;now!
				</p>
	    	{% endblocktrans %}
		    {% url "mezzanine_password_reset" as password_reset_url %}
		    {% blocktrans %}
			    <p class="fontTitillium fontSize15">We’re all forgetful at times. Just&nbsp;<a class="radioColor" href="{{ password_reset_url }}?next={{ profile_update_url }}">Reset Your Password</a>&nbsp;here
			    </p>
		    {% endblocktrans %}
		</div>
	</div>
{% endif %}
