{% load i18n hitcount_tags static %}
{% load follow_tags userProfile_tags %}
{% load relationship_tags future %}

<div class="span5 topHalfGutter" style="height:25px;">
    <span class="radioModuleFeedRadio"></span>
    <span class="radioModuleFeedContainer fontTitillium1 fontSize12">
    	<span style="margin-left:10px;">
    		{% trans "Views" %}&nbsp;({% get_hit_count for profile_user %})
    	</span>
    	<span style="margin-left:10px;">
    		{% trans "Reviews" %}&nbsp;</span>{% get_reviews_by_user profile_user as totalReviews %}<span class="broadcasters commentCount" href="#" style="margin-left:0px;">({{totalReviews.count}})</span>

		{% if request.user != profile_user %}
            <span id="vendorFollowContainer" style="margin-left:5px;" class="{% if_relationship request.user profile_user "following" %} following {% endif_relationship %}" >
    			<a href="#" class="follow-btn icon-follow" data-id="vendor_followers" data-href="{{ profile_user|add_relationship_url:"following" }}">{% trans "Follow" %}</a>

    			<a class="icon-following radioColor" data-id="vendor_followers">{% trans "Follow" %}</a>

    			<a href="#" class="unfollow-btn icon-unfollow" data-id="vendor_followers" data-href="{{ profile_user|remove_relationship_url:"following" }}"><img class="noBoxShadow" src="{% static 'img/1transparent.png' %}"></a>
    		</span>

            {% follower_subset_url profile_user 0 10 as follower_url %}
    		<a id="vendor_followers" style="margin-right:10px;" class="vendorFollowers" class="vendor_followers" href="{{follower_url}}">({{ profile_user.relationships.followers.count }})</a>
        {% endif %}
    </span>
    <span class="socialShare makeButton fontTitillium halfGutter">+</span>
    {% if request.user != profile_user %}
        <a class="makeButton radioColorBackground colorWhite pull-right" href="{% url "messages_compose_to" profile_user.username %}">{% trans "Send Message" %}</a>
    {% else %}
        {% if request.user.is_authenticated %}
            {% for sa in request.user.social_auth.all %}
                {% if sa.provider == "facebook" %}
                    <a id="sendInvitesFB" class="makeButton colorWhite greyBackground pull-right" href="#" >{% trans "Invite Friends" %}</a>
                {% elif sa.provider == "twitter" %}
                    <!-- TBD for twitter/google -->
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
</div>