{% load i18n hitcount_tags static %}
{% load follow_tags userProfile_tags %}
{% load relationship_tags %}

<div class="span5 topHalfGutter" style="height:25px;">
    <span class="radioModuleFeedRadio"></span>
    <span class="radioModuleFeedContainer fontTitillium1 fontSize12">
    	<span style="margin-left:10px;">
    		{% trans "Views" %}&nbsp;({% get_hit_count for profile_user %})
    	</span>
    	<span style="margin-left:10px;">
    		{% trans "Reviews" %}&nbsp;</span>{% get_reviews_by_user profile_user as totalReviews %}<a class="commentCount" href="{% url get_reviews_by_user profile_user.id %}" style="margin-left:0px;margin-right:10px;" title="Reviews By {{profile_user.first_name|title}}" data-title="Reviews By {{profile_user.first_name|title}}">({{totalReviews.count}})</a>

            <span>{% trans "Followers" %}</span>

            {% follower_subset_url profile_user 0 10 as follower_url %}
    		<a style="margin-right:10px;" class="vendorFollowers" href="{{follower_url}}" title="People Who Follow {{profile_user.first_name|title}}" data-title="People Who Follow {{profile_user.first_name|title}}">({{ profile_user.relationships.followers.count }})</a>
    </span>
    {% if request.user != profile_user %}
        <span class="vendorFollowContainer halfGutter pagination-centered {% if_relationship request.user profile_user "following" %} following {% endif_relationship %}">
            <button class="follow-btn makeYellowButton icon-follow" data-href="{{ profile_user|add_relationship_url:"following" }}">{% trans "Follow" %}</button>
            <button class="icon-following makeYellowButton radioColor"><img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">{% trans "Following" %}</button>
            <button class="unfollow-btn makeYellowButton icon-unfollow radioColor" data-href="{{ profile_user|remove_relationship_url:"following" }}"><img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">{% trans "Unfollow" %}</button>
        </span>
    {% endif %}
    {% if request.user != profile_user %}
        {% if enable == "true" %}
            <a class="makeButton radioColorBackground colorWhite pull-right" href="{% url messages_compose_to profile_user.username %}">{% trans "Send Message" %}</a>
        {% endif %}
    {% else %}
        {% if request.user.is_authenticated %}
            <a id="sendInvitesFB" class="makeButton colorWhite greyBackground pull-right" href="#" >{% trans "Invite Friends" %}</a>
        {% endif %}
    {% endif %}
</div>