<span>
<select name="city" class="textField signUptextField" id="city">
    <option value="" selected="selected">Select City</option>
	    <option value="delhi">Delhi NCR</option>
		<option value="mumbai">Mumbai</option>
		<option value="bangalore">Bangalore</option>
		<option value="pune">Pune</option>
		<option value="chennai">Chennai</option>
		<option value="hyderabad">Hyderabad</option>
		<option value="kolkata">Kolkata</option>
		<option value="ahmedabad">Ahmedabad</option>
		<option value="chandigarh">Chandigarh</option>
		<option value="allindia">All India</option>
		<optgroup label="Top Cities End" style="border:1px solid #666; margin:10px 0;"></optgroup>
		<option value="agartala">Agartala</option>
		<option value="agra">Agra</option>
		<option value="ajmer">Ajmer</option>
		<option value="aligarh">Aligarh</option>
		<option value="allahabad">Allahabad</option>
		<option value="ambaji">Ambaji</option>
		<option value="ambala">Ambala</option>
		<option value="amravati">Amravati</option>
		<option value="amritsar">Amritsar</option>
		<option value="anand">Anand</option>
		<option value="angamali">Angamali</option>
		<option value="aurangabad">Aurangabad</option>
		<option value="ballary">Ballary</option>
		<option value="bareilly">Bareilly</option>
		<option value="belgaum">Belgaum</option>
		<option value="bellur">Bellur</option>
		<option value="bharuch">Bharuch</option>
		<option value="bhatinda">Bhatinda</option>
		<option value="bhopal">Bhopal</option>
		<option value="bhubaneswar">Bhubaneswar</option>
		<option value="bhuj">Bhuj</option>
		<option value="bilaspur">Bilaspur</option>
		<option value="bokaro">Bokaro</option>
		<option value="calicut">Calicut</option>
		<option value="chandragiri">Chandragiri</option>
		<option value="channarayapatna">Channarayapatna</option>
		<option value="chikkamagalur">Chikkamagalur</option>
		<option value="chittoor">Chittoor</option>
		<option value="coimbatore">Coimbatore</option>
		<option value="coonoor">Coonoor</option>
		<option value="cuttack">Cuttack</option>
		<option value="dalhousie">Dalhousie</option>
		<option value="darjeeling">Darjeeling</option>
		<option value="davanageray">Davanageray</option>
		<option value="dehradun">Dehradun</option>
		<option value="dhanbad">Dhanbad</option>
		<option value="dharamsala">Dharamsala</option>
		<option value="dibrugarh">Dibrugarh</option>
		<option value="durgapur">Durgapur</option>
		<option value="erode">Erode</option>
		<option value="gandhidham">Gandhidham</option>
		<option value="gandhinagar">Gandhinagar</option>
		<option value="gangtok">Gangtok</option>
		<option value="goa">Goa</option>
		<option value="gorakhpur">Gorakhpur</option>
		<option value="greater-noida">Greater Noida</option>
		<option value="guntur">Guntur</option>
		<option value="guwahati">Guwahati</option>
		<option value="gwalior">Gwalior</option>
		<option value="haridwar">Haridwar</option>
		<option value="hoshiarpur">Hoshiarpur</option>
		<option value="howrah">Howrah</option>
		<option value="hubli">Hubli</option>
		<option value="indore">Indore</option>
		<option value="jabalpur">Jabalpur</option>
		<option value="jaipur">Jaipur</option>
		<option value="jalandhar">Jalandhar</option>
		<option value="jammu">Jammu</option>
		<option value="jamnagar">Jamnagar</option>
		<option value="jamshedpur">Jamshedpur</option>
		<option value="jhansi">Jhansi</option>
		<option value="jodhpur">Jodhpur</option>
		<option value="jorhat">Jorhat</option>
		<option value="kannur">Kannur</option>
		<option value="kanpur">Kanpur</option>
		<option value="karnal">Karnal</option>
		<option value="kochi">Kochi</option>
		<option value="kodaikanal">Kodaikanal</option>
		<option value="kolar">Kolar</option>
		<option value="kolhapur">Kolhapur</option>
		<option value="kota">Kota</option>
		<option value="kottayam">Kottayam</option>
		<option value="kovalam">Kovalam</option>
		<option value="kumarakom">Kumarakom</option>
		<option value="kushalanagar">Kushalanagar</option>
		<option value="lekkadi">Lekkadi</option>
		<option value="lonavala">Lonavala</option>
		<option value="loni">Loni</option>
		<option value="lucknow">Lucknow</option>
		<option value="ludhiana">Ludhiana</option>
		<option value="maddur">Maddur</option>
		<option value="madurai">Madurai</option>
		<option value="mahabalipuram">Mahabalipuram</option>
		<option value="mangalore">Mangalore</option>
		<option value="manipal">Manipal</option>
		<option value="mararikkulam">Mararikkulam</option>
		<option value="mathura">Mathura</option>
		<option value="meerut">Meerut</option>
		<option value="mohali">Mohali</option>
		<option value="moradabad">Moradabad</option>
		<option value="mount-abu">Mount Abu</option>
		<option value="munnar">Munnar</option>
		<option value="murthal">Murthal</option>
		<option value="muvattupuzha">Muvattupuzha</option>
		<option value="mysore">Mysore</option>
		<option value="nadiad">Nadiad</option>
		<option value="nagercoil">Nagercoil</option>
		<option value="nagpur">Nagpur</option>
		<option value="nainital">Nainital</option>
		<option value="nanded-waghala">Nanded Waghala</option>
		<option value="nashik">Nashik</option>
		<option value="nellore">Nellore</option>
		<option value="ooty">Ooty</option>
		<option value="palakkad">Palakkad</option>
		<option value="panchkula">Panchkula</option>
		<option value="panipat">Panipat</option>
		<option value="pathankot">Pathankot</option>
		<option value="patiala">Patiala</option>
		<option value="patna">Patna</option>
		<option value="pondicherry">Pondicherry</option>
		<option value="patna">Panjim</option>
		<option value="raipur">Raipur</option>
		<option value="rajkot">Rajkot</option>
		<option value="ranchi">Ranchi</option>
		<option value="rishikesh">Rishikesh</option>
		<option value="roorkee">Roorkee</option>
		<option value="rourkela">Rourkela</option>
		<option value="saharanpur">Saharanpur</option>
		<option value="salem">Salem</option>
		<option value="sangli">Sangli</option>
		<option value="shillong">Shillong</option>
		<option value="shimla">Shimla</option>
		<option value="shirdi">Shirdi</option>
		<option value="silchar">Silchar</option>
		<option value="siliguri">Siliguri</option>
		<option value="sivakasi">Sivakasi</option>
		<option value="solan">Solan</option>
		<option value="solapur">Solapur</option>
		<option value="sonipat">Sonipat</option>
		<option value="srinagar">Srinagar</option>
		<option value="surat">Surat</option>
		<option value="suryapet">Suryapet</option>
		<option value="thekkady ">Thekkady</option>
		<option value="thiruvananthapuram">Thiruvananthapuram</option>
		<option value="thrissur">Thrissur</option>
		<option value="tiruchirappalli">Tiruchirappalli</option>
		<option value="tirupati">Tirupati</option>
		<option value="tiruppur">Tiruppur</option>
		<option value="tumkur">Tumkur</option>
		<option value="udaipur">Udaipur</option>
		<option value="vadodara">Vadodara</option>
		<option value="vapi">Vapi</option>
		<option value="varanasi">Varanasi</option>
		<option value="vellore">Vellore</option>
		<option value="vijayawada">Vijayawada</option>
		<option value="visakhapatnam">Visakhapatnam</option>
		<option value="vizianagaram">Vizianagaram</option>
		<option value="warangal">Warangal</option>
		<option value="zirakpur">Zirakpur</option>
</select>
</span>