{% load i18n mezzanine_tags %}
{% load widget_tweaks static %}

<form class="accountForm" style="clear:both;" method="post" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
	{% csrf_token %}
   	{% for field in form %}
	   	<div class="bottomHalfGutter{% if forloop.last %} topHalfGutter{% endif %}">
	   		{{field.label}}
	   	</div>
	   	<div>
	   		{{ field|add_class:"textField" }}
	   		{% if forloop.last %}
	   		   	<input class="fontTitillium fontSize16 radioColor loginSubmit makeYellowButton" type="submit" value="GO">
	   		   	<img class="halfGutter noBoxShadow hide loader" style="height:30px;margin-left:62px" src="{% static "img/loading.gif" %}"/>
	   		{% endif %}
	   	</div>
   	{% endfor %}
</form>