{% load i18n mezzanine_tags %}
{% load widget_tweaks future %}

<div class="row">
	<div class="offset3 span4 fontTitillium1 fontSize13 color5D" style="line-height:25px;">
		<form class="accountForm" method="post" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
			{% csrf_token %}
		   	{% for field in form %}
		   		{% if field.label != form.description.label %}
		   			{% if field.label != form.location.label %}
					<div class="topHalfGutter" {% if forloop.last %}style="height:72px; line-height:72px;"{% endif %}>
					{% endif %}
						{{field.errors}}
						{% if field.label == form.gender.label %}
							{{field.label_tag}}
						{% elif field.label == form.profile_photo.label %}
							<output id="previewimg">
								{% if request.user.is_authenticated %}
									{% if request.user.get_profile.profile_photo %}
										<img src="{{MEDIA_URL}}{{request.user.get_profile.profile_photo}}" width="100">
									{% elif request.user.get_profile.image_url %}
										<img src="{{request.user.get_profile.image_url}}" width="100">
									{% endif %}
									<span class="pull-right">
                            			<a href="javascript:void(0)"><img class="noBoxShadow" width="10px" height="10px" src="	/static/img/cross_button.png"></a>
			                        </span>
								{% endif %}
							</output>
						{% endif %}
						{% if field.label == form.location.label %}
							<span class="pull-right">
								{{field.label_tag}}
								{% render_field field class="textField smallTextField" %}
							</span>
						{% else %}
							{% render_field field placeholder=field.label class="textField signUptextField" %}
						{% endif %}
						{% if forloop.last %}
							<input class="fontTitillium fontSize16 radioColor loginSubmit signupSubmit pull-right makeYellowButton" type="submit" value="GO"/>
						{% endif %}
					{% if field.label != form.gender.label %}
					</div>
					{% endif %}
			   	{% endif %}
		   	{% endfor %}
		</form>
	</div>
</div>