{% load i18n mezzanine_tags %}
{% load widget_tweaks future static %}

<div class="row">
	<div class="offset3 span4 fontTitillium1 fontSize13 color5D" style="line-height:25px;">
		<form class="accountForm" method="post" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %} >
			{% csrf_token %}
		   	{% for field in form %}
		   		{% if field.label != form.description.label %}
		   			{% if field.label != form.location.label %}
					<div class="topHalfGutter" style="{% if forloop.last %}height:72px;line-height:72px;{% endif %}position:relative;">
					{% endif %}
						{{field.errors}}
						{% if field.label == form.gender.label %}
							{{field.label_tag}}
						{% elif field.label == form.profile_photo.label %}
							<output id="previewimg">
								{% if request.user.is_authenticated %}
									{% if request.user.get_profile.profile_photo %}
										<img id="profile_image_preview" src="{{MEDIA_URL}}{{request.user.get_profile.profile_photo}}" width="100">
									
									{% comment %}
									{% elif request.user.get_profile.image_url %}
										<img id="profile_image_preview" src="{{request.user.get_profile.image_url}}" width="100">
									{% endcomment %}

									{% endif %}
								{% endif %}
									<span class="pull-right {% if not request.user.get_profile.profile_photo %} hide {% endif %}">
                            				<a href="javascript:void(0)" onclick="$('#profile_image_preview').hide();$(this).parent().hide();return false;"><img class="noBoxShadow" width="10px" height="10px" src="{% static "img/cross_button.png" %} "></a>
			                        </span>
							</output>
						{% endif %}
						{% if field.label == form.location.label %}
							<span class="pull-right">
								{{field.label_tag}}
								{% if field.errors %}
									{% render_field field class="textField smallTextField error" %}
								{% else %}
									{% render_field field class="textField smallTextField" %}
								{% endif %}
							</span>
						{% else %}
							{% if field.errors %}
								{% render_field field placeholder=field.label class="textField error signUptextField" %}
								<div></div>
							{% else %}
								{% render_field field placeholder=field.label class="textField signUptextField" %}
							{% endif %}
						{% endif %}
						{% if forloop.last %}
							<input class="fontTitillium fontSize16 radioColor loginSubmit signupSubmit pull-right makeYellowButton updateProfile" type="submit" value="GO"/>
						{% endif %}
					{% if field.label != form.gender.label %}
					</div>
					{% endif %}
			   	{% endif %}
		   	{% endfor %}
		</form>
	</div>
</div>