@font-face
{
	font-family: skinny;
	src: url('/static/fonts/TheSkinny-bold.otf');
}
@font-face
{
	font-family: titillium;
	src: url('/static/fonts/TitilliumMaps26L.otf');
}
@font-face
{
	font-family: titillium3;
	src: url('/static/fonts/TitilliumMaps26L003.otf');
}
@font-face
{
	font-family: titillium2;
	src: url('/static/fonts/TitilliumMaps26L002.otf');
}
@font-face
{
	font-family: titillium1;
	src: url('/static/fonts/TitilliumMaps26L001.otf');
}
body{
	line-height: normal;
}
li{
	line-height: normal;
}
div p span {
	text-shadow: none;
}
img {
	box-shadow: 0 0 3px #bbb;
}
a{
	color: #5D5D5D;
	color: rgb(93, 93, 93);
}
a:hover {
	color: #029795;
	color: rgb(2, 151, 149);
	text-decoration: none;
}
.width200{
	width:200px;
}
.forText {
	color: rgb(99, 98, 91);
}
.fontHelvetica {
	font-family: helvetica;
}
.fontTitillium {
	font-family: titillium;
	/*boldest*/
}
.fontTitillium1 {
	font-family: titillium1;
}
.fontTitillium2 {
	font-family: titillium2;
}
.fontTitillium3 {
	font-family: titillium3;
	/*lightest*/
}
.weightBold{
	font-weight: bold;
}
.fontSize9{
	font-size: 9px;
}
.fontSize10{
	font-size: 10px;
}
.fontSize11{
	font-size: 11px;
}
.fontSize12{
	font-size: 12px;
}
.fontSize13{
	font-size: 13px;
}
.fontSize15{
	font-size: 15px;
}
.fontSize16{
	font-size: 16px;
}
.storeTopMargin {
	margin-top: 5px;
}
.noGutter {
	margin-left: 0px;
}
.radioColor{
	color: #029795;
	color: rgb(2, 151, 149);
}
.radioColorBackground{
	background-color: rgb(2, 151, 149);
}
.color5D{
	color: #5D5D5D;
	color: rgb(93, 93, 93);
}
.colorDarkerGrey{
	color : #64635F;
	color : rgb(100, 99, 95);
}
.customNavBar{
	height: 150px;
}
.yellowBar{
	background : #F9DF1E;
	background : rgba(249, 223, 30, 1);
	height: 30px;
}
.socialLogin{
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-top: 5px;
	margin-left: 3px;
}
.facebookLogin{
	background-image: url("/static/img/facebook.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
}
.pinterest{
	background-image: url("/static/img/pinterest.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
}
.googleLogin{
	background-image: url("/static/img/google.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: -5px -5px;
}
.googleLogin:hover{
	background-image: url("/static/img/google_hover.png");
}
.googleLogin:active{
	background-image: url("/static/img/google_pressed.png");
}
.twitterLogin{
	background-image: url("/static/img/twitter.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
}
.tumblr{
	background-image: url("/static/img/tumblr.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;	
}
.whiteSpace{
	background-color: white;
	height: 40px;
	line-height: 40px;
}
.whiteSpace a {
	font-weight: 500;
	color: #595757;
	color: rgb(89, 87, 87);
}
.searchBar{
	height: 60px;
	background-color: rgb(2, 151, 149);
}
.error{
	border-width: 1px !important;
	border-color: red !important;
	border-style: solid !important;
}
.blog_parentcategories, .blog_subcategories{
	font-size: 12.85px;
	text-indent: 0.01px;
	text-overflow: '';
	font-family: helvetica;
	color:rgba(89,87,87,1.00);
	background-color:rgba(229,244,244,1.00);
	background-image: url('/static/img/selectPointer.png');
	background-repeat: no-repeat;
	background-position: 94% 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-padding-start: 10px;
	-moz-padding-start: 10px;
	height: 25px;
	width: 100%;
	vertical-align: top;
	margin-top: 12px;
	line-height: normal;
	/*padding: 0px;*/
}
div span.wantText{
	color:rgba(89,87,87,1.00);
	font-family: titillium2;
	background-image: url('/static/img/searchIcon.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 10px 10px;
	display: inline-block;
	background-color: white;
	margin-top: 12px;
	padding-left:30px;
	padding-right: 10px;
	height: 25px;
	line-height: 25px;
	width: 70%;
}
#getvendorsdiv{
	height: 52px;
	background-image: url("/static/img/goSearch.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 30px 30px;
}
#getvendors{
	display: inline-block;
	width: 30px;
	height: 30px;
}
.whiteBox {
	overflow: hidden;
	background-color:rgba(255,255,255,1);
	-webkit-box-shadow : 1.25px 1.25px 1.25px rgba(132,125,125,0.75);
	box-shadow : 1.25px 1.25px 1.25px rgba(132, 125, 125, 0.75);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1.25, OffY=1.25, Color='#847D7D');
}
.whiteBoxLarge {
	overflow: hidden;
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-color: rgba(198, 190, 190, 0.75);
	border-width: 1px;
	border-style: solid;
	-webkit-box-shadow : 1px 1px 1px rgba(198, 190, 190, 0.75);
	box-shadow : 1px 1px 1px rgba(198, 190, 190, 0.75);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1.65, OffY=1.65, Color='#C6BEBE') ;
}
.whiteBoxGlassy {
	background-color:rgba(255,255,255,0.4);
}
.logo{
	height: 150px;
	margin-top: -70px;
}
.logo a img{
	width: 96.25px;
	height: 110px;
	padding: 20px 6.875px;
	box-shadow: 0 0 0;
}
.settings {
	position: relative;
	cursor: pointer;
}
.settings img {
	box-shadow: none;
}
.settingsPopup {
	height: 50px; 
	padding: 0px 15px;
	position: absolute;
}
.settingsPopup span{
	line-height:25px;
	float:left;
}
.settingsPopup span a:hover{
	color: #029795;
	color: rgb(2, 151, 149);
}
.subcomments_container input[type="submit"] {
	display: none !important;
}
.subcomment_text{
	font-family: titillium2;
	font-size: 13px;
	height: 20px;
	line-height: 20px;
	border-radius: 0px;
	resize: none;
	padding: 2px;
	margin: 0;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}
form.comment_on_object{
	margin-bottom: 0px;
}
.trunc-comment, .exp-comment {
	white-space: pre-wrap;
}
.circleBase {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}
.messages_homepage img{
	box-shadow: none;
}
.messages_count{
	background : #F9DF1E;
	background : rgba(249, 223, 30, 1);
	width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    left: -12px;
    top: -7px;
    line-height: 15px;
}
.messages_homepage:hover + .messages_count {
	top: -10px;
}
.messages_count:hover {
	top: -10px
}
.dottedSeparator {
	border: 1px dotted #63625E; 
	border-style: none none dotted; 
	color: #fff; 
	background-color: #fff;
	margin:0; 
	width: 95%;
	margin-left: 2.5%;
	opacity : 0.31;
	filter: alpha(opacity=31) progid:DXImageTransform.Microsoft.Alpha(opacity=31) ;
	margin-top: 6px;
}
.dottedSeparatorIncresedMargin{
	margin-top: 8px;
}
.dottedSeparatorIncresedMarginBottom {
	margin-bottom: 8px;
}