.outerBox {
	height: 350px;
	width: 100%;
}
.innerBox {
	height: 290px;
	overflow: auto;
}
#topDealsForStoreCategory{
	height: 250px;
	margin: auto 0;
}
#topStoresForStoreCategory img {
	height: 45px;
}
.dealBox {
	height: 250px;
	line-height: 250px;
}
.dealBox ul {
	margin: auto 0;
	height: 250px;
	line-height: 250px;
}
.dealBox li{
	height: 210px;
	margin: auto 5px;
}
.dealBox li img{
	height: 210px;
	max-height: 210px;
}
.boxTitle{
	height: 25px;
	width: 100%;
	display: table;
	margin-top: 10px;
	margin-bottom: 10px;
	white-space: nowrap;
}
.boxTitle h6 {
	display: table-cell;
}
.boxTitle h6 img{
	box-shadow: none;
	display: inline-block;
}
.boxTitle h6 span {
	display: inline-block;
}
.yellowLine {
	margin: auto 2px 2px 10px;
	border:0;
	background-color: #F9DF1E;
	border-top: 2px solid #F9DF1E;
	border-bottom: 2px solid #F9DF1E;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
}
.yellowLineContainer{
	display: table-cell;
	width: 100%;
}
.topReviews{
	background-color: #fff;
	line-height: normal;
	margin-top: 8px;
}
.categoryName{
	font-size : 10px;
	color : #323333;
	color : rgb(50, 51, 51);
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}
.hotDealsIcon {
	font-family : Myriad Pro;
	font-size : 18px;
}
.imageCategoryBox
{
	cursor: pointer;
	position: relative;
	background : -moz-linear-gradient(0% 50% 0deg,rgba(134, 114, 120, 0.21) 0%,rgba(92, 74, 86, 0.21) 50%,rgba(67, 53, 69, 0.21) 100%);
	background : -webkit-linear-gradient(0deg, rgba(134, 114, 120, 0.21) 0%, rgba(92, 74, 86, 0.21) 50%, rgba(67, 53, 69, 0.21) 100%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(134, 114, 120, 0.21) ),color-stop(0.5,rgba(92, 74, 86, 0.21) ),color-stop(1,rgba(67, 53, 69, 0.21) ));
	background : -o-linear-gradient(0deg, rgba(134, 114, 120, 0.21) 0%, rgba(92, 74, 86, 0.21) 50%, rgba(67, 53, 69, 0.21) 100%);
	background : -ms-linear-gradient(0deg, rgba(134, 114, 120, 0.21) 0%, rgba(92, 74, 86, 0.21) 50%, rgba(67, 53, 69, 0.21) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#867278', endColorstr='#433545' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(134, 114, 120, 0.21) 0%, rgba(92, 74, 86, 0.21) 50%, rgba(67, 53, 69, 0.21) 100%);
	box-shadow : 1px 1px 1px rgba(0, 0, 0, 0.75);
	vertical-align: bottom;
	filter: alpha(opacity=21) progid:DXImageTransform.Microsoft.Alpha(opacity=21) progid:DXImageTransform.Microsoft.dropshadow(OffX=1.31, OffY=1.31, Color='#000000') progid:DXImageTransform.Microsoft.gradient(startColorstr='#867278',endColorstr='#433545' , GradientType=1);
}
.imageCategoryBoxSelected{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	box-shadow : 1px 1px 1px 1px rgba(0, 0, 0, 0.75) inset;
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=-0.57, OffY=-0.57, Color='#000000') ;
}