.outerBox {
	height: 350px;
	width: 100%;
}
.innerBox {
	height: 290px;
	overflow: auto;
}
#topDealsForStoreCategory{
	height: 250px;
	margin: auto 0;
}
#topStoresForStoreCategory img {
	height: 45px;
}
.dealBox {
	height: 280px;
	line-height: 250px;
}

/* dealBox_h will be applied on the deals listed on home page. */
.dealBox_h {
	width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.dealBox_h_elem {
	display:inline-block;
	height:210px;
	margin:auto 5px;
}
.dealBox_h img {
	height:100%;
}

.boxTitle{
	height: 25px;
	width: 100%;
	display: table;
	margin-top: 10px;
	margin-bottom: 10px;
	white-space: nowrap;
}
.boxTitle h6 {
	display: table-cell;
}
.boxTitle h6 img{
	box-shadow: none;
	display: inline-block;
}
.yellowLine {
	margin: auto 2px 2px 10px;
	border:0;
	background-color: #F9DF1E;
	border-top: 2px solid #F9DF1E;
	border-bottom: 2px solid #F9DF1E;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
}
.yellowLineContainer{
	display: table-cell;
	width: 100%;
}
.topReviews{
	background-color: #fff;
	line-height: normal;
	margin-top: 8px;
}
.categoryName{
	font-size : 10px;
	line-height : 14px;
	color : #323333;
	color : rgb(50, 51, 51);
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}
.hotDealsIcon {
	font-family : Myriad Pro;
	font-size : 18px;
}
.reviewUserImage {
	vertical-align:middle;
	display:inline-block;
	margin-left:8px;
}
.statusBox {
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-style : Solid;
	border-color : #C4C4BF;
	border-color : rgba(196, 196, 191, 1);
	border-width : 0px;
	box-shadow : 1px 1px 1px 1px rgba(130, 111, 113, 0.75) inset;
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=-0.4, OffY=-0.4, Color='#826F71') ;
	padding: 5px;
	margin-bottom: 10px;
}
.statusBox textarea, .statusBox textarea:focus {
	border:0;
	-webkit-box-shadow:none;
	box-shadow: none;
}
.imageCategoryBox
{
	cursor: pointer;
	position: relative;
	background : -moz-linear-gradient(0% 50% 0deg,rgba(134, 114, 120, 0.21) 0%,rgba(92, 74, 86, 0.21) 50%,rgba(67, 53, 69, 0.21) 100%);
	background : -webkit-linear-gradient(0deg, rgba(134, 114, 120, 0.21) 0%, rgba(92, 74, 86, 0.21) 50%, rgba(67, 53, 69, 0.21) 100%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(134, 114, 120, 0.21) ),color-stop(0.5,rgba(92, 74, 86, 0.21) ),color-stop(1,rgba(67, 53, 69, 0.21) ));
	background : -o-linear-gradient(0deg, rgba(134, 114, 120, 0.21) 0%, rgba(92, 74, 86, 0.21) 50%, rgba(67, 53, 69, 0.21) 100%);
	background : -ms-linear-gradient(0deg, rgba(134, 114, 120, 0.21) 0%, rgba(92, 74, 86, 0.21) 50%, rgba(67, 53, 69, 0.21) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#867278', endColorstr='#433545' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(134, 114, 120, 0.21) 0%, rgba(92, 74, 86, 0.21) 50%, rgba(67, 53, 69, 0.21) 100%);
	box-shadow : 1px 1px 1px rgba(0, 0, 0, 0.75);
	vertical-align: bottom;
	filter: alpha(opacity=21) progid:DXImageTransform.Microsoft.Alpha(opacity=21) progid:DXImageTransform.Microsoft.dropshadow(OffX=1.31, OffY=1.31, Color='#000000') progid:DXImageTransform.Microsoft.gradient(startColorstr='#867278',endColorstr='#433545' , GradientType=1);
}
.dealsFilter
{
	font-size: 12.85px;
	text-indent: 0.01px;
	text-overflow: '';
	font-family: helvetica;
	color:rgba(89,87,87,1.00);
	background-color:rgba(249, 223, 30, 1);
	background-image: url('/static/img/selectPointer.png');
	background-repeat: no-repeat;
	background-position: 220px 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-padding-start: 10px;
	-moz-padding-start: 10px;
	height: 25px;
	width: 100%;
	vertical-align: top;
	line-height: normal;
	margin: 0px;
	box-sizing:border-box;
	/*padding: 0px;*/
}
.radioSelect{
	color:white;
	background-color: rgb(2, 151, 149);
	background-image: url('/static/img/selectPointerWhite.png');
	margin-top: 0px;	
}
.imageCategoryBoxSelected{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	box-shadow : 1px 1px 1px 1px rgba(0, 0, 0, 0.75) inset;
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=-0.57, OffY=-0.57, Color='#000000') ;
}
.radioModuleFeedRadio{
	background-image: url('/static/img/radio_dark_small.png');
	background-repeat: no-repeat;
	background-position: bottom;
	width: 19px;
	height: 22px;
	display: inline-block;
}
.radioModuleFeedContainer{
	display: inline-block;
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-style : Solid;
	border-color : #D1D3D2;
	border-color : rgba(209, 211, 210, 1);
	border-width : 1px;
	-webkit-box-shadow : 1px 1px 1px rgba(197,189,189,0.75) inset;
	box-shadow : 1px 1px 1px rgba(197,189,189,0.75) inset;
	-webkit-box-shadow C5BDBD
	height: 24px;
	vertical-align: top;
	line-height: 24px;
	margin-left: 20px;
	position: relative;
}
.radioModuleFeedContainer a{
	margin-left: 10px;
	margin-right: 10px;
}
.radioModuleFeedContainer:before{
	content: '';
	position: absolute;
	left: -14px;
	top: 6px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 14px solid rgba(209, 211, 210, 1);
}
.manageFeed{
	background-image: url('/static/img/manage_feed_down.png');
	background-repeat: no-repeat;
	background-position: 0px 10px;
	width: 10px;
	height:25px;
	display: inline-block;
}
.manageFeedUp{
	background-image: url('/static/img/manage_feed_up.png');
	position: relative;
	top:-20px;
}
/* dealBox_v will be applied on the deals listed on logged-in home page. */
.dealBox_v {
	height: 600px;
	overflow 	: auto;
}
.dealBox_v_elem {
	width: 230px;
	margin-bottom: 8px;
}
.categoryTag {
	box-shadow: 1px 1px 1px rgb(2, 151, 149);;
	padding-left: 5px;
	padding-right: 5px;
}
[id*="action"]:hover .radioModuleFeedRadio {
	background-image: url('/static/img/radio_colored_small.png');
}