.rank {
	background-color: orange;
	border-radius: 50% 50%;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.vendorName {
	font-size: 2em;
}
.resultDesc {
	word-wrap: break-word;
	display:inline;
}
.searchResultRating {
	cursor: default;
	margin-left: 15px;
	padding: 0px;
	padding-left: 3px;
	padding-right: 3px;
}
.reviewTitle{
	color: rgb(99, 98, 91);
}
.searchResultRatingScheme {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(91, 168, 41);
	background-image: none;
	background-origin: padding-box;
	color: #605D5A;
  	color: rgb(96, 93, 90);
}
.darken{
	font-weight: 500;
}
.rating-0 {
	background : #D1D0C1;
  	background : rgba(209, 208, 193, 0.4);
  	filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) ;
	/*background-color: rgb(222, 29, 15);*/
}
.rating-1 {
	background : #D1D0C1;
  	background : rgba(209, 208, 193, 0.4);
  	filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) ;
	/*background-color: rgb(255, 120, 0);*/
}
.rating-2 {
	background : #D1D0C1;
  	background : rgba(209, 208, 193, 0.4);
  	filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) ;
	/*background-color: rgb(255, 186, 0);*/
}
.rating-3 {
	background : #D1D0C1;
  	background : rgba(209, 208, 193, 0.4);
  	filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) ;
	/*background-color: rgb(154, 205, 50);*/
}
.rating-4 {
	background : #D1D0C1;
  	background : rgba(209, 208, 193, 0.4);
  	filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) ;
	/*background-color: rgb(91, 168, 41);*/
}
.rating-5 {
	background : #D1D0C1;
  	background : rgba(209, 208, 193, 0.4);
  	filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) ;
	/*background-color: rgb(63, 126, 0);*/
}
.infoSpace{
	margin-right: 4px;
}
.infoStyle {
	font-style: italic;
}
.vendorResult {
	background-color: #fff;
	line-height: normal;
	margin-top: 6px;
}
.radioColor{
	color : #029795;
	color : rgb(2, 151, 149);
}