.search-result {
	background-color: #fff;
}

.rank {
	background-color: orange;
	border-radius: 50% 50%;
	text-align: center;
	width: 20px;
}

.vendorName {
	font-size: 2em;
}

.resultDesc {
	word-wrap: break-word;
	display:inline;
}
.searchResultRating {
	cursor: default;
	height: 47px;
	line-height: 49px;
	width: 72px;
	margin-left: 30px;
	padding:4px;
	border-radius: 5px;
}

.searchResultRatingText {
	font-size: 28px;
	font-weight: normal;
	text-align: center;
	text-shadow: none;	
}

.searchResultRatingScheme {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: 
	rgb(91, 168, 41);
	background-image: none;
	background-origin: padding-box;
	color: 
	rgb(255, 255, 255);	
}

.rating-0 {
	background-color: 
	rgb(222, 29, 15);
}

.rating-1 {
	background-color: 
	rgb(255, 120, 0);
}

.rating-2 {
	background-color: 
	rgb(255, 186, 0);
}

.rating-3 {
	background-color: 
	rgb(154, 205, 50);
}

.rating-4 {
	background-color: 
	rgb(91, 168, 41);
}

.rating-5 {
	background-color: 
	rgb(63, 126, 0);
}

.infoItem {
	margin-left: 2px;
	font-style: italic;
}

.dotted {
	border: 1px dotted #ff0000; border-style: none none dotted; color: #fff; background-color: #fff; margin-top: 5px;
}