.rank {
	background-color: orange;
	border-radius: 50% 50%;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.vendorName {
	font-size: 2em;
}
.resultDesc {
	word-wrap: break-word;
	display:inline;
}
.searchResultRating {
	cursor: default;
	margin-left: 30px;
	padding: 0px;
	padding-left: 3px;
	padding-right: 3px;
}
.searchResultRatingText {
	text-shadow: none;
	font-family : Helvetica;
	font-weight : bold;
	font-size : 9.85pt;
}
.searchResultRatingScheme {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(91, 168, 41);
	background-image: none;
	background-origin: padding-box;
	color : #605D5A;
  	color : rgb(96, 93, 90);
}
.searchResultSubText{
	font-size : 8.44pt;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
	text-shadow: none;
}
.searchResultSubTextBig{
	font-size : 9.12pt;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
	text-shadow: none;
}
.darken{
	font-weight: 500;
}
.rating-0 {
	background : #D1D0C1;
  	background : rgba(209, 208, 193, 0.4);
  	filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) ;
	/*background-color: rgb(222, 29, 15);*/
}
.rating-1 {
	background : #D1D0C1;
  	background : rgba(209, 208, 193, 0.4);
  	filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) ;
	/*background-color: rgb(255, 120, 0);*/
}
.rating-2 {
	background : #D1D0C1;
  	background : rgba(209, 208, 193, 0.4);
  	filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) ;
	/*background-color: rgb(255, 186, 0);*/
}
.rating-3 {
	background : #D1D0C1;
  	background : rgba(209, 208, 193, 0.4);
  	filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) ;
	/*background-color: rgb(154, 205, 50);*/
}
.rating-4 {
	background : #D1D0C1;
  	background : rgba(209, 208, 193, 0.4);
  	filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) ;
	/*background-color: rgb(91, 168, 41);*/
}
.rating-5 {
	background : #D1D0C1;
  	background : rgba(209, 208, 193, 0.4);
  	filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) ;
	/*background-color: rgb(63, 126, 0);*/
}
.infoSpace{
	margin-right: 4px;
}
.infoStyle {
	font-style: italic;
}
.dottedSeparator {
	border: 1px dotted #63625E; border-style: none none dotted; color: #fff; background-color: #fff;margin:0; width: 95%;margin-left: 2.5%;
	border-color : #63625E;
	border-color : rgba(99, 98, 94, 1);
	opacity : 0.31;
	filter: alpha(opacity=31) progid:DXImageTransform.Microsoft.Alpha(opacity=31) ;
	margin-top: 4px
}
.vendorResult {
	background-color: #fff;
	line-height: normal;
	margin-top: 6px;
}