.rank {
	background-color: orange;
	border-radius: 50% 50%;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.height26{
	height: 26px;
	line-height:26px;
}
.height26auto{
	height: auto;
	line-height:26px;
}
.vendorName {
	font-size: 2em;
}
p.resultDesc {
	line-height: normal;
	word-wrap: break-word;
	display:inline;
}
.reviewTitle{
	color: rgb(99, 98, 91);
}
.darken{
	font-weight: 500;
}
.rating-0 {
	background-color: #E2DEC7;
	background-color: rgba(226, 222, 199, 1);
}
.rating-1 {
	background-color: #BC0D0D !important;
}
.rating-2 {
	background-color: #E55413 !important;
}
.rating-3 {
	background-color: #F7AA21 !important;
}
.rating-4 {
	background-color: #9CBC2A !important;
}
.rating-5 {
	background-color: #3F7C1C !important;
}
.infoSpace{
	margin-right: 4px;
}
.infoStyle {
	font-style: italic;
}
.vendorResult {
	background-color: #fff;
	line-height: normal;
	margin-top: 6px;
}
p.webUrl{
	margin: 0;
}
#search-results .vendorResult:hover .radioModuleFeedRadio {
	background-image: url('/static/img/radio_green.png');
}
#accordion-container .accordion-header:first-child{
	margin-top: 0px;
}
.searchFilter label{
	display: inline-block;
	margin: 0;
	margin-left: 10px;
}
.searchFilter input[type="checkbox"]{
	margin: 0;
	margin-right:5px;
}
#searchResultFilter{
	border: 0;
	margin-left: 10px;
	color: white;
	background : #63625E;
	background : rgba(99, 98, 94, 1);
	box-shadow : 1px 1px 1px rgba(153, 142, 126, 0.75);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color='#998E7E');
}