div a.siteURL{
	color: #029795;
	color: rgb(2, 151, 149);
}
.progress{
	border-radius: 0;
	margin: 0;
	height: 10px;
	width: 135px;
	margin-bottom: 15px;
}
.progress .bar-success{
	background-color: #029795;
	background-image: none;
}
.rateStoreNow{
	border: 0;
	padding: 6px 10px;
}
a#vendor_followers{
	display: inline-block;
	margin-left:0;
}
span#vendorFollowContainer a{
	margin-right: 0;
	width: initial;
}
span#vendorFollowContainer a.icon-follow{
	display: inline-block;
}
span#vendorFollowContainer a.icon-following{
	display: none;
}
span#vendorFollowContainer a.icon-unfollow{
	display:none;
}
span#vendorFollowContainer.following a.icon-follow{
	display: none;
}
span#vendorFollowContainer.following a.icon-following{
	display: inline-block;
}
span#vendorFollowContainer.following a.icon-unfollow{
	display: inline-block;
	margin-left: 0px;
}
.icon-unfollow img {
	background-image: url("/static/img/cross_button.png");
	background-size: 10px;
	background-repeat: no-repeat;
	margin: 0px;
	width: 12px;
	display: inline-block;
	padding: 12px 0 0 0;
	height: 0px !important;
}
.categories img{
	box-shadow: none;
}
a.share_store{
	margin-right: 0;
}
a.store_sharers{
	margin: 0;
	margin-right: 10px;
}
.found-helpful{
	padding: 2px 5px;
	line-height: normal;
	margin-left: 3px;
	margin-right: 4px;
}
.found-helpful img{
	display: none;
}
.clear-helpful img{
	background-image: url("/static/img/cross_button.png");
	background-size: 10px;
	background-repeat: no-repeat;
	margin: 0px;
	width: 12px;
	display: inline-block;
	padding: 12px 0 0 0;
	height: 0px !important;
}
.storeIntro:hover .radioModuleFeedRadio {
	background-image: url('/static/img/radio_green.png');
}
[id*="review"]:hover .radioModuleFeedRadio {
	background-image: url('/static/img/radio_green.png');
}
#topRelatedStoreForStore img.smallIcon{
	height: 45px;
	vertical-align: middle;
	display: inline-block;
	margin-left: -4px;
}
.ratingSeparator{
	margin-left: 6px;
	margin-right: 3px;
	position: relative;
	top: 1px;
}
.ratingSeparatorLess{
	margin-right: 3px;
	margin-left: 3px;
}
.socialReview{
	background-color: rgba(248,248,245,1.00);
}
.reviewForm{
	font-family: titillium1;
	font-size: 12px;
}
.reviewForm .textField {
    border-radius: 0;
    font-family: titillium2;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    padding: 2px;
    width: 90%;
}
.reviewForm input[type="radio"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -ms-appearance: checkbox;     /* not currently supported */
    -o-appearance: checkbox;      /* not currently supported */
    appearance:checkbox;
    margin: 0;
}
.reviewForm textarea.textField{
	height: 80px;
    resize: none;
    transition: height 0.2s ease 0s;
}
.reviewForm label{
	display: inline;
	font-family: titillium1;
	font-size: 12px;
}
.reviewForm .controls {
	display: inline-block;
}
.reviewForm ul {
	display: inline-block;
}
.reviewForm ul li {
	display: inline;
	margin-left: 10px;
}
input.blockLabel {
	display: block;
}
textarea.blockLabel {
	display: block;
}
select.boughtCategory{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-padding-start: 10px;
	-moz-padding-start: 10px;
	background-color: #F9DF1E;
	background-image: url("/static/img/selectPointer.png");
	background-position: 94% 8px;
	background-repeat: no-repeat;
	border-radius: 0;
	color: #595757;
	font-family: fonttitillium1;
	font-size: 12.85px;
	height: 25px;
	line-height: normal;
	margin-left: 20px;
	margin-bottom: 0px;
	text-indent: 0.01px;
	text-overflow: "";
	vertical-align: top;
	width: 200px;
}
