#accordion-container {
	font-size: 13px;
	background: #ffffff;
}

.accordion-header img{
	-webkit-box-shadow:none;
	box-shadow: none;
}

.accordion-header h2 {
	display: table-cell;
}

.whiteLine {
	margin: auto 20px 2px 20px;
	border: 0;
	background-color: #FFFFFF;
	border-top: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
	display: none;
}
.accordion-header {
	font-family: titillium1;
	white-space: nowrap;
	display: table;
	font-size: 15px;
	line-height: 25px;
	padding-left: 6px;
	padding-right: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
	cursor: pointer;
	color: white;
	background : #029795;
	background : rgba(2, 151, 149, 1);
	box-shadow : 0.77px 0.77px 0.77px rgba(198, 190, 190, 0.75);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0.77, OffY=0.77, Color='#C6BEBE') ;
}

.active-header {
	background: url(/static/img/accordian_open.png) rgba(2, 151, 149, 1);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

.inactive-header {
	background: url(/static/img/accordian_close.png) rgba(2, 151, 149, 1);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

.accordion-content {
	display: none;
	padding: 0px 6px 0px 6px;
	background: #ffffff;
}

.accordion-header-color-1{
	background-color:rgba(2, 151, 149, 1);
}
.accordion-header-color-2{
	background-color:rgba(2, 151, 149, 0.9);
}
.accordion-header-color-3{
	background-color:rgba(2, 151, 149, 0.8);
}
.accordion-header-color-4{
	background-color:rgba(2, 151, 149, 0.7);
}
.accordion-header-color-5{
	background-color:rgba(2, 151, 149, 0.6);
}