#accordion-container {
	font-size: 13px;
	background: #ffffff;
}

.accordion-header img{
	-webkit-box-shadow:none;
	box-shadow: none;
	margin-right:5px; 
}

.accordion-header h2 {
	display: table-cell;
}

.whiteLine {
	margin: auto 20px 2px 20px;
	border: 0;
	background-color: #FFFFFF;
	border-top: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
}
.accordion-header {
	font-family: helvetica;
	white-space: nowrap;
	display: table;
	font-size: 15px;
	line-height: 25px;
	padding-left: 15px;
	padding-right:10px;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	color: white;
	background : #029795;
	background : rgba(2, 151, 149, 1);
	box-shadow : 0.77px 0.77px 0.77px rgba(198, 190, 190, 0.75);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0.77, OffY=0.77, Color='#C6BEBE') ;
}

.active-header {
	background: url(/static/img/accordian_open.png) rgba(2, 151, 149, 1);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

.inactive-header {
	background: url(/static/img/accordian_close.png) rgba(2, 151, 149, 1);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

.accordion-content {
	display: none;
	padding: 0px 10px 0px 15px;
	background: #ffffff;
}