{% load i18n %}
{% load userProfile_tags %}
{% load comment_tags %}
{% load voting_tags %}
{% load activity_tags %}
{% load thumbnail static %}

{% if not is_incremental %}
<div class="dealBox_v scrollContainer" data-href="{{data_href}}" data-chunk="{{data_chunk}}">
{% endif %}

{% for deal in deal_list %}

{% if deal.wishimage and deal.wishimage.image  %}
    {% get_reldata_url deal as rel_data_url %}
    {% comment_count_on_object deal as total_comments %}

	{% thumbnail deal.wishimage.image "400x400" as img %}
    <div class="dealBox_v_elem objectToBeDeleted"> 
        <a class="wishimg-deal-homepage" href="{{  deal.wishimage.image.url }}" rel="homepage_deals" data-reldata-url="{{rel_data_url}}" style="">
            <img src="{{img.url}}">
        </a>
        <div class="whiteBoxGlassy pagination-centered">
            {% include 'generic/includes/render_voting.html' with object=deal %}
            {% include 'actstream/render_share_action.html' with object=deal %}
			<a href="#" class="comment_radio_d" style="margin-right:0px;" onclick="$(this).parents('.dealBox_v_elem').find('.wishimg-deal-homepage').click();return false;">Comment</a>
				{% comment_count_on_object deal as total_comments %}
			<a class="broadcasters commentCount" href="{% get_commenters_url deal %}" style="margin-left:0px;">({{total_comments}})</a>
        </div>
        {% get_wish_owner deal as owner %}

        {% if request.user == owner.user %}
            {% get_delete_object_url deal as delete_deal_url %}
            <div class="topRight">
                <a class="deleteObject" data-object-type="deal" data-href="{{delete_deal_url}}" href="javascript:void(0);">
                    <img class="noBoxShadow" width="15px" height="15px" style="display:inline-block" src="{% static 'img/cross_button.png' %}">
                </a>
            </div>
        {% endif %}

    </div>
    {% endthumbnail %}
{% endif %}
{% empty %}
    {% trans "No Deals Posted" %}
{% endfor %}
{% if not incremental %}
</div>
{% endif %}
