{% load i18n %}
{% load userProfile_tags %}
{% load comment_tags %}
{% load voting_tags %}
{% load thumbnail %}
 
{% if not is_incremental %}
<div class="dealBox_h scrollContainer" data-href="{{data_href}}" data-chunk="{{data_chunk}}">
{% endif %}
{% for deal in deal_list %}
{#% get_wish_owner deal as deal_owner %#}
{#% include 'generic/includes/render_owner.html' with owner=deal_owner %#}

{#% render_deal deal %#}
{#{deal.timestamp}#}
{#% include 'generic/includes/render_voting.html' with object=deal %#}

{#% include 'actstream/render_subcomments.html' with object=deal %#}

{% if deal.wishimage and deal.wishimage.image %}
    {% get_reldata_url deal as rel_data_url %}
	{% thumbnail deal.wishimage.image "400x400" as img %}
    <div class="dealBox_h_elem {% if forloop.last %}dealImageMarginRight{% endif %}">
        <a class="wishimg-deal-homepage" href="{{  deal.wishimage.image.url }}" rel="homepage_deals" data-reldata-url="{{rel_data_url}}">
            <img src="{{img.url}}">
        </a>
        <div class="whiteBoxGlassy pagination-centered">
            <span class="dealRadio">
                <span style="float:left;margin-right:4px;">
                    {% include 'generic/includes/render_voting.html' with object=deal %}
                </span>
                <span style="float:left;margin-right:4px;">
                    {% include 'actstream/render_share_action.html' with object=deal %}
                </span>
                <span style="float:left;">
                    <a href="#" class="comment_radio_d" style="margin-right:0px;" onclick="$(this).parents('.dealBox_h_elem').find('.wishimg-deal-homepage').click();return false;">Comment</a>
                        {% comment_count_on_object deal as total_comments %}
                    <a class="broadcasters commentCount" href="{% get_commenters_url deal %}" style="margin-left:0px;">({{total_comments}})</a>
                </span>
            </span>
        </div>
    </div>
    {% endthumbnail %}
{% endif %}

{% empty %}
<span class="fontTitillium1 fontSize13">
    {% if blog_post %}
        <div class="color5D fontSize14 halfGutter">{% trans "There are no deals on " %}{{blog_post|title}}{% trans " yet." %}</div>
    {% else %}
        <div class="color5D fontSize14 halfGutter">{% trans "This category does not have any Deals currently." %}</div>
    {% endif %}
</span>
{% endfor %}
{% if not is_incremental %}
</div>
{% endif %}
