{% load i18n %}
{% load thumbnail %}
{% load userProfile_tags %}

<div class="row">
    <div class="span6">
        <span class="message">
            {{post.message}}
        </span>
    </div>
</div>
{% if post.wishimage %}
    <div class="row" style="margin-top:10px; margin-bottom:10px;">
        <div class="span6 pagination-centered">
            {% get_reldata_url deal as rel_data_url %}
            {% thumbnail deal.wishimage "800x400" crop="center" as img %} 
                <a class="wishimg-post{{post.id}}" href="{{  post.wishimage.url }}" data-reldata-url="{{rel_data_url}}">
                    <img src="{{ MEDIA_URL }}{{img}}" style="max-height:250px;">
                </a> 
                <script type="text/javascript">
                      $('a.wishimg-post{{post.id}}').fancybox({
                        scrolling: 'yes',
                        minWidth:500,
                        minHeight:450,
                        autoSize: true
                      });
                </script> 
            {% endthumbnail %}
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="span6">
        {% autoescape off %}
            {{post.urlPreviewContent}}
        {% endautoescape %}
    </div>
</div>