{% load i18n %}
{% load thumbnail %}
{% load userProfile_tags %}

<ul class="unstyled">
        <li>
        <span class="message">
            {% if  wish.parent_category %}
                <a href="{{ wish.parent_category.get_absolute_url }}"> {{wish.parent_category}} </a> </br>
            {% endif %}
            {% if  wish.blog_category %}
                <a href="{{ wish.blog_category.get_absolute_url }}"> {{wish.blog_category}} </a> </br>
            {% endif %}
            {{ wish.message }}
        </br>
        {% get_reldata_url wish as rel_data_url %}
        {% if wish.wishimage %}
        	{% thumbnail wish.wishimage "500x400" crop="center" as img %} 
                <a class="wishimg-wish{{wish.id}}" href="{{  wish.wishimage.url }}" data-reldata-url="{{rel_data_url}}">
                    <img style="margin-right:20px;" src="{{ MEDIA_URL }}{{img}}">
                </a> 
                <script type="text/javascript">
                      $('a.wishimg-wish{{wish.id}}').fancybox({
                        scrolling: 'yes',
                        minWidth:500,
                        minHeight:450,
                        autoSize: true
                      });
                </script> 
            {% endthumbnail %}
        {% endif %}
    </span>
    <p>
    {% autoescape off %}
            {{wish.urlPreviewContent}}
    {% endautoescape %}
    </li>
</ul>

