{% load i18n %}
{% load thumbnail %}
{% load userProfile_tags %}

<ul class="unstyled">
        <li>
        <span class="message">
            {{ post.message }}
        </br>
        {% get_reldata_url post as rel_data_url %}
        {% if post.wishimage %}
            {% thumbnail post.wishimage "500x400" crop="center" as img %} 
                <a class="wishimg-post{{post.id}}" href="{{  post.wishimage.url }}" data-reldata-url="{{rel_data_url}}">
                    <img style="margin-right:20px;" src="{{ MEDIA_URL }}{{img}}">
                </a> 
                <script type="text/javascript">
                      $('a.wishimg-post{{post.id}}').fancybox({
                        scrolling: 'yes',
                        minWidth:800,
                        minHeight:600,
                        autoSize: true
                      });
                </script> 
            {% endthumbnail %}
        {% endif %}
    </span>
    <p>
    {% autoescape off %}
        {{post.urlPreviewContent}}
    {% endautoescape %}
    </li>
</ul>

