{% load i18n %}
{% load userProfile_tags %}
{% load comment_tags %}
{% load voting_tags %}
{% load thumbnail static %}

{% if is_incremental != "true" %}
<div class="dealBox_v scrollContainer fontTitillium1" data-href="{{data_href}}" data-chunk="{{data_chunk}}">
{% endif %}
{% for wish in wish_list %}
    {% get_reldata_url wish as rel_data_url %}
    {% comment_count_on_object wish as total_comments %}
    <div class="dealBox_v_elem objectToBeDeleted"> 
    	{% if wish.wishimage and wish.wishimage.image  %}
			{% thumbnail wish.wishimage.image "400x400" as img %}
                <a class="wishimg-deal-homepage" href="{{  wish.wishimage.image.url }}" rel="userpage_wish" data-reldata-url="{{rel_data_url}}" style="">
        	       <span class="fontSize13" style="display:inline-block;">
        		      {{ wish.message|urlize }}
        	       </span>
                    <img class="noBoxShadow top6Margin" src="{{img.url}}">
                </a>
            <div class="whiteBoxGlassy pagination-centered">
                {% include 'generic/includes/render_voting.html' with object=wish %}
                {% include 'actstream/render_share_action.html' with object=wish %}
                <a href="javascript:void(0);" class="comment_radio_d" style="margin-right:0px;" onclick="$(this).parents('.dealBox_v_elem').find('.wishimg-deal-homepage').click();return false;">Comment</a>
                    {% comment_count_on_object wish as total_comments %}
                <a class="broadcasters commentCount" href="{% get_commenters_url wish %}" style="margin-left:0px;">({{total_comments}})</a>
            </div>
            {% endthumbnail %}
        {% else %}
        <a class="wishimg-deal-homepage" href="{% url view_wish wish.id %}" rel="userpage_wish" data-reldata-url="{{rel_data_url}}" data-force-ajax="true" data-split-vertical="true">
        	<span class="fontSize13">
        		{{ wish.message|urlize }}
        	</span>
        </a>
        {% endif %}

        {% get_wish_owner wish as owner %}

        {% if request.user == owner %}
            {% get_delete_object_url wish as delete_wish_url %}
            <div class="topRight">
                <a class="deleteObject" data-object-type="wish" data-href="{{delete_wish_url}}" href="javascript:void(0);">
                    <img class="noBoxShadow" width="15px" height="15px" style="display:inline-block" src="{% static 'img/cross_button.png' %}">
                </a>
            </div>
        {% endif %}
        <div class="dottedSeparator"></div>
    </div>

{% empty %}
    {% trans "No wishes posted" %}
{% endfor %}
{% if is_incremental != "true" %}
</div>
{% endif %}