{% load activity_tags i18n %}
{% load userProfile_tags static %}

{% get_owned_blog request.user as blog %}
<div class="row topHalfGutter">
    <div class="span7">
        <div class="row">
            {% include 'home/form_post.html' with parent_categories=parent_categories%}

            <a id="refreshCache" href="{% activity_refresh_cache request.user %}"></a>
            <a id="refreshActivity" class="fontSize12 pagination-centered" style="display:none;" href="{% activity_dynamic_update request.user %}"></a>
            <a id="pendingActionCount" href="{% activity_pending_action_count request.user %}"></a>
        </div>
        <div class="row">
            <div class="whiteBox" style="border-top-width:0px;">
                <div class="span7 halfGutter boxTitle" style="margin-bottom:0px;margin-top:0px;">
                    <h6 class="fontTitillium fontSize16">
                        <div class="dottedSeparator" style="margin-top:0px;margin-bottom:10px;margin-left:0px;"></div>
                        <img src="{% static "img/shopTalk.png" %}" style="margin-top:-2px;">
                        <span class="color5D">
                            {% trans "ACTIVITY" %}
                        </span>
                        <div class="dottedSeparator" style="margin-top:10px;margin-left:0px;"></div>
                    </h6>
                </div>
                <div id="load-feeds" class="section-scroll content">
                </div>
            </div>
            <span id="status" class="whiteBox pagination-centered topHalfGutter">
                <span>{% trans "Loading Activity Feed" %}</span>
                <img class="noBoxShadow halfGutter" style="height:17px;margin-top:-4px;" src="{% static "img/loading-yellow.gif" %}">
            </span>
        </div>
    </div>

    <div class="span3 whiteBox">
        {% if parent_categories %}
        <div>
            <select id="dealsFilterSelect" class="dealsFilter">
                <option value='empty' selected disabled>{% trans "Filter By" %}</option>
                <option value="all">{% trans "All" %}</option>
                {% for category in parent_categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="accordion-container">
			<h2 class="accordion-header accordion-header-color-3"><span class="hotDealsIcon">%&nbsp;</span>{% trans "Hot Deals" %}
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
			<div class="accordion-content">
			    <div id="topDealsForStoreCategoryAuth">
            		{% render_deals_for_categories 'All' 'All'  'MIN_DEALS_HOME_PAGE'|settings_value 'vertical' %}
        		</div>
                <div class="">
                </div>
			</div>
			<h2 class="accordion-header accordion-header-color-2"><img src="{% static "img/top_stores_white.png" %}">{% trans " Top Stores" %}
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
			<div class="accordion-content">
			    <div id="topStoresForStoreCategoryAuth">
                        {% render_stores_for_categories 'All' 'All' 'MIN_STORES_HOME_PAGE'|settings_value 'vertical' %}
                </div>
                <div class="">
                </div>
			</div>
			<h2 class="accordion-header accordion-header-color-1"><img src="{% static "img/store_reviews_white.png" %}">{% trans " Store Reviews" %}
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
			<div class="accordion-content"> 
                <div id="topReviewsForStoreCategoryAuth">
                    {% render_reviews_for_categories 'All' 'All' 'MIN_REVIEWS_HOME_PAGE'|settings_value 'vertical' %}
                </div>
                <div class="">
                </div>
			</div>
		</div>
        {% endif %}
    </div>
</div>
{% if blog %}
<div id="walkthroughloggedinStore">
{% else %}
<div id="walkthroughloggedin">
{% endif %}
    <div id="type-modal" style="display:none;">
        <p class="tooltipTitle">Welome to the WishRadio Activity Page Walkthrough!</p> 
        <p>A short and sweet tour of your Activity page to help you use it to the max!  </p>
        <br>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="type-tooltip-post-wish-widget" style="display:none;">
        <p class="tooltipTitle">Radio your Wishes</p>
        <p>This is what Wish Radio was designed for. So that you could share your wishes and posts easily with your friends. And if you're a store - you could use this widget to post your latest deals. </p>
        <p>Make the most of it - add URLs and images to make your wishes come alive. </p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="type-tooltip-add-to-wishlist" style="display:none;">
        {% if blog %}
            <p class="tooltipTitle">Post as a Deal</p>
            <p>If this is a deal, check this tiny box to Post it as a Deal, and we'll help you by spreading the word to your consumers on Wish Radio. We suggest adding an image or URL to ensure it gets seen. </p>
            <br>
            <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
            <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
        {% else %}
            <p class="tooltipTitle">Add to Wishlist</p>
            <p>Just check this tiny box to add your wish to your personal wishlist. Who knows, a friend might decide to surprise you. </p>
            <br>
            <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
            <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
        {% endif %}
    </div>
    <div id="type-tooltip-load-feeds" style="display:none;">   
        <p class="tooltipTitle">Activity</p>
        <p>See what your friends are upto - which stores they're following &amp; reviewing, what they're wishing for and lots more.
        <br>Follow them to receive updates about their Wishlists and online shopping experiences.
        <br>You could also Follow stores to know the latest activity and deals. </p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="done-walkthrough" style="display:none;">
        <p class="tooltipTitle">And we're done!</p>
        <p>That's it for now. Like we said, feedback, suggestions, comments are eagerly awaited. </p>
        <p>Write to us using the Contact Us tab at the bottom of the page. </p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
    </div>
</div>