{% load i18n userProfile_tags static %}

<div class="row">
    <div class="span3 halfGutter"> 
        <div class="outerBox">
            <div class="row">
                <div class="span3">
                    <div class="boxTitle">
                        <h6 class="fontTitillium fontSize16 categories">
                            <img src="{% static "img/categories.png" %}" style="margin-top:-2px;">
                            {% trans "CATEGORIES" %}
                        </h6>
                        <div class="yellowLineContainer">
                            <hr class="yellowLine"/>
                        </div>
                    </div>
                    <div class="innerBox whiteBox categoryBox">
                        <div class="span1HalfGutter span1Height imageCategoryBox imageCategoryBoxSelected category-icon category-all updateTrends">
                            <span class="categoryName makeButton colorWhite fontTitillium1 fontSize11">
                                {% trans "All" %}
                            </span>
                        </div>
                        {% if parent_categories %}
                            {% for category in parent_categories %}
                                <div class="span1HalfGutter span1Height imageCategoryBox category-icon category-{{category|slugify}} updateTrends {% if forloop.last %}bottomHalfGutter{% endif %} {% cycle '' 'thirdCategory' '' %}">
                                    <span class="categoryName makeButton colorWhite fontTitillium1 fontSize11">
                                            {{category}}
                                    </span>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span7">
        <div class="outerBox">
            <div class="row">
                <div class="span3">
                    <div class="boxTitle">
                        <h6 class="fontTitillium fontSize16">
                            <img src="{% static "img/topStores.png" %}" style="margin-top:-2px;">
                            {% trans "TOP STORES" %}
                        </h6>
                        <div class="yellowLineContainer">
                            <hr class="yellowLine"/>
                        </div>
                    </div>
                    <div class="whiteBox" style="position:relative;">
                        <div id="topStoresForStoreCategory">
                            {% render_stores_for_categories 'All' 'All' 'MIN_STORES_HOME_PAGE'|settings_value %}
                        </div>
                        <div class="">
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="boxTitle">
                        <h6 class="fontTitillium fontSize16">
                            <img src="{% static "img/shopTalk.png" %}" style="margin-top:-2px;">
                            {% trans "STORE REVIEWS" %}
                        </h6>
                        <div class="yellowLineContainer">
                            <hr class="yellowLine"/>
                        </div>
                    </div>
                    <div class="whiteBox" style="position:relative;">
                        <div id="topReviewsForStoreCategory">
                        {% render_reviews_for_categories 'All' 'All' 'MIN_REVIEWS_HOME_PAGE'|settings_value %}
                        </div>
                        <div class="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span10 halfGutter">
        <div class="boxTitle">
                <h6 class="fontTitillium fontSize16"><span class="hotDealsIcon radioColor">%&nbsp;</span>HOT DEALS</h6>
                <div class="yellowLineContainer">
                    <hr class="yellowLine"/>
                </div>
        </div>
        <div class="outerBox dealBox whiteBox" style="position:relative;">
            <div id="topDealsForStoreCategory">
                {% render_deals_for_categories 'All' 'All'  'MIN_DEALS_HOME_PAGE'|settings_value 'horizontal'%}
            </div>
            <div class="">
            </div>
        </div>
        <span id="wish-status" ></span>
    </div>
</div>

<div id="walkthrough">
    <div id="type-modal" style="display:none;">
        <p class="tooltipTitle">WishRadio Home Page Walkthrough!</p>
        <p>Please follow the steps for a WishRadio journey.</p>
        <p>And We promise that we will walk you through only once.</p>
        <br>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="type-tooltip-social-login" style="display:none;">
        <p class="tooltipTitle">Social Login</p>
        <p>By using Facebook, Google or Twitter Signup you can automatically connnect with your friends who are already onboard</p>
        <p>We promise that we will not post anything on your wall!</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="type-tooltip-search-tag" style="display:none;">
        <p class="tooltipTitle">Search for stores, products & services</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="type-tooltip-search-category" style="display:none;">
        <p class="tooltipTitle">Or search by categories for more focused search results</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="type-tooltip-trend-category" style="display:none;">
        <p class="tooltipTitle">Update trends of Top Stores, Top Reviews & Top Deals</p>
        <p>Contains blocks of categories. Click on these to update the trends accordingly.</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="type-tooltip-top-stores" style="display:none;">
        <p class="tooltipTitle">Trending Stores</p>
        <p>Top trending stores for the selected category in the category panel.</p>
        <p>Scroll down to load more stores.</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="type-tooltip-top-reviews" style="display:none;">
        <p>Trending Reviews</p>
        <p class="tooltipTitle">Top trending reviews for the selected category in the category panel.</p>
        <p>Scroll down to load more reviews.</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="type-tooltip-top-deals" style="display:none;">
        <p class="tooltipTitle">Trending Deals</p>
        <p>Top trending deals for the selected category in the category panel.</p>
        <p>Scroll down to load more deals.</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="done-walkthrough" style="display:none;">
        <p class="tooltipTitle">And we're done!</p>
        <p>Click close button to end the walkthrough.</p>
        <p>Once again, Welcome to Wishradio!</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
    </div>
</div>