{% load i18n userProfile_tags static %}

<div class="row topHalfGutter">
    <div class="span3 halfGutter"> 
        <div class="outerBox">
            <div class="row">
                <div class="span3">
                    <div class="boxTitle">
                        <h6 class="fontTitillium fontSize16 categories">
                            <img src="{% static "img/categories.png" %}" style="margin-top:-2px;">
                            {% trans "CATEGORIES" %}
                        </h6>
                        <div class="yellowLineContainer">
                            <hr class="yellowLine"/>
                        </div>
                    </div>
                    <div class="innerBox whiteBox categoryBox">
                        <div class="span1HalfGutter span1Height imageCategoryBox imageCategoryBoxSelected category-icon category-all updateTrends">
                            <span class="categoryName makeButton colorWhite fontTitillium1 fontSize11">
                                {% trans "All" %}
                            </span>
                        </div>
                        {% if parent_categories %}
                            {% for category in parent_categories %}
                                <div class="span1HalfGutter span1Height imageCategoryBox category-icon category-{{category|slugify}} updateTrends {% if forloop.last %}bottomHalfGutter{% endif %} {% cycle '' 'thirdCategory' '' %}">
                                    <span class="categoryName makeButton colorWhite fontTitillium1 fontSize11">
                                        {{category}}
                                    </span>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="whiteBox infoBox colorWhite fontSize20 halfGutterInset halfGutterInsetRight">
                        <div>
                        {% trans "Now Share your wishlists with your friends" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span7">
        <div class="outerBox">
            <div class="row">
                <div class="span7">
                    <div class="boxTitle">
                        <h6 class="fontTitillium fontSize16"><span class="radioColor fontSize18">&starf;&nbsp;</span>{% trans "SHOWCASE" %}
                        </h6>
                        <div class="yellowLineContainer">
                            <hr class="yellowLine"/>
                        </div>
                    </div>
                    <div class="whiteBox" style="position:relative;">
                        <div id="topStoresForStoreCategory">
                            {% include "generic/new_vendor_list.html" %}
                        </div>
                        <div class="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span10 halfGutter">
        <div class="boxTitle">
                <h6 class="fontTitillium fontSize16"><span class="hotDealsIcon radioColor">%&nbsp;</span>HOT DEALS</h6>
                <div class="yellowLineContainer">
                    <hr class="yellowLine"/>
                </div>
        </div>
        <div class="outerBox dealBox whiteBox" style="position:relative;">
            <div id="topDealsForStoreCategory">
                {% render_deals_for_categories 'All' 'All'  'MIN_DEALS_HOME_PAGE'|settings_value 'horizontal'%}
            </div>
            <div class="">
            </div>
        </div>
        <span id="wish-status" ></span>
    </div>
</div>

<a id="new-walk-through" href="/static/img/walkthrough.png"></a>