{% load activity_tags i18n %}

<div class="row topHalfGutter">
    <div class="span7">
        <div class="row">
            {% include 'home/form_post.html' with parent_categories=parent_categories%}

            <a id="refreshCache" href="{% activity_refresh_cache request.user %}"></a>
            <a id="refreshActivity" href="{% activity_dynamic_update request.user %}"></a>
            <a id="pendingActionCount" href="{% activity_pending_action_count request.user %}"></a>
        </div>
        <div class="row">
            <div class="whiteBox">
                <div class="span7 boxTitle">
                    <h6 class="fontTitillium fontSize16">
                        <img src="{{STATIC_URL}}img/shopTalk.png">
                        <span>
                        SHOP TALK
                        </span>
                    </h6>
                </div>
                <div id="load-feeds" class="section-scroll content">
                </div>
            </div>
            <span id="status" ></span>
            <div id="loader">
                <img src="{{STATIC_URL}}img/ajax-loader.gif">
            </div>
        </div>
    </div>

    <div class="span3 whiteBox" style="overflow:auto">
        {% if parent_categories %}
        <div class="halfGutterInset halfGutterInsetRight">
            <select class="dealsFilter">
                <option value='empty' selected disabled>{% trans "Filter By" %}</option>
                <option value="all">{% trans "All" %}</option>
                {% for category in parent_categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
    </div>
</div>