{% load activity_tags i18n %}
{% load userProfile_tags static %}

<div class="row topHalfGutter">
    <div class="span7">
        <div class="row">
            {% include 'home/form_post.html' with parent_categories=parent_categories%}

            <a id="refreshCache" href="{% activity_refresh_cache request.user %}"></a>
            <a id="refreshActivity" class="fontSize12 pagination-centered" style="display:none;" href="{% activity_dynamic_update request.user %}"></a>
            <a id="pendingActionCount" href="{% activity_pending_action_count request.user %}"></a>
        </div>
        <div class="row">
            <div class="whiteBox">
                <div class="span7 boxTitle" style="margin-bottom:0px;">
                    <h6 class="fontTitillium fontSize16">
                        <img src="{{STATIC_URL}}img/shopTalk.png">
                        <span>
                        SHOP TALK
                        </span>
                    </h6>
                </div>
                <div id="load-feeds" class="section-scroll content">
                </div>
            </div>
            <span id="status" ></span>
            <div id="loader">
                <img src="{{STATIC_URL}}img/ajax-loader.gif">
            </div>
        </div>
    </div>

    <div class="span3 whiteBox" style="overflow:auto">
        {% if parent_categories %}
        <div class="halfGutterInset halfGutterInsetRight">
            <select id="dealsFilterSelect" class="dealsFilter">
                <option value='empty' selected disabled>{% trans "Filter By" %}</option>
                <option value="all">{% trans "All" %}</option>
                {% for category in parent_categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="accordion-container"> 
			<h2 class="accordion-header"><span class="hotDealsIcon">%&nbsp;</span>HOT DEALS
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
			<div class="accordion-content"> 
			    <div id="topDealsForStoreCategoryAuth">
            		{% render_deals_for_categories 'All' 'All'  'MIN_DEALS_HOME_PAGE'|settings_value 'vertical'%}
        		</div>
			</div> 
			<h2 class="accordion-header"><img src="{% static "img/top_stores_white.png" %}">TOP STORES                        
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2>
			<div class="accordion-content"> 
			    <div id="topStoresForStoreCategoryAuth">
                        {% render_stores_for_categories 'All' 'All' 'MIN_STORES_HOME_PAGE'|settings_value %}
                </div>
			</div> 
			<h2 class="accordion-header"><img src="{% static "img/store_reviews_white.png" %}">STORE REVIEWS
                <div class="yellowLineContainer">
                    <hr class="whiteLine"/>
                </div>
            </h2> 
			<div class="accordion-content"> 
                <div id="topReviewsForStoreCategoryAuth">
                    {% render_reviews_for_categories 'All' 'All' 'MIN_REVIEWS_HOME_PAGE'|settings_value %}
                </div>
			</div> 
		</div>
        {% endif %}
    </div>
</div>