{% load i18n %}
{% load thumbnail %}
{% load userProfile_tags %}

{% if deal %}
{% get_wish_owner deal as deal_owner %}
By: {% include 'generic/includes/render_owner.html' with owner=deal_owner %}
<span class="message">
    {% if  deal.blog_category %}
       For  <a href="{{ deal.blog_category.get_absolute_url }}"> {{deal.blog_category}} </a> </br>
    {% endif %}
    {{ deal.message }}
    </br>
</span>
    <p>
    {% autoescape off %}
        {{deal.urlPreviewContent}}
    {% endautoescape %}
    {% if deal.expiry_date %}
        Expires on: {{deal.expiry_date}}
    {% endif %}
    </br>
	{% include 'generic/includes/render_voting.html' with object=deal %}

	{% include 'actstream/render_subcomments.html' with object=deal %}
    <a class="shareDeal" href="#" data-href="{% share_deal_url deal %}" >share</a>
{% endif %}