{% load i18n %}
{% load thumbnail %}
{% load comment_tags  %}
{% load userProfile_tags %}

{% if deal %}
{% get_wish_owner deal as deal_owner %}
<div class="fancybox-data-inner">
By: {% include 'generic/includes/render_owner.html' with owner=deal_owner %}
<span class="message">
    {% if  deal.blog_category %}
       For  <a href="{{ deal.blog_category.get_absolute_url }}"> {{deal.blog_category}} </a> </br>
    {% endif %}
    {{ deal.message }}
    </br>
</span>
    <p>
    {% autoescape off %}
        {{deal.urlPreviewContent}}
    {% endautoescape %}
    {% if deal.expiry_date %}
        Expires on: {{deal.expiry_date}}
    {% endif %}
    </br>
    <div  style="border-style: solid;border-color: white;background-color: whitesmoke;">
    <div style="float:left; margin-right:5px;">
	{% include 'generic/includes/render_voting.html' with object=deal %}
	</div>
    {% comment_count_on_object deal as total_comments %}
    <div class="row">
        <div class="span6 whiteBoxLarge subcomments_container {% if total_comments == 0 %}hide{% endif %}">
	       {% include 'generic/render_subcomments_deal.html' with object=deal %}
        </div>
    </div>
    {% get_share_object_url deal as shareDealUrl %}
    <a class="shareObject" href="#" data-href="{{shareDealUrl}}" >share</a>
    </div>
</div>
{% endif %}