{% load i18n %}
{% load thumbnail %}
{% load comment_tags  %}
{% load userProfile_tags %}

{% if object %}
<div class="fancybox-data-inner fontTitillium2 color5d fontSize13 halfGutterRight">
	<hr class="dottedSeparator fullSeparator">
	{% if  object.message %}
		<div class="row topHalfGutter fontSize15 fontTitillium1 bottomHalfGutter fancyBoxSplitHidden">
			<div class="span3">
			{{ object.message }}
			</div>
		</div>
		<hr class="dottedSeparator fullSeparator fancyBoxSplitHidden">
	{% endif %}
	{% if object.blog_category %}
		<div class="row topHalfGutter bottomHalfGutter">
			<div class="span3">
	       		<a href="{{ object.blog_category.get_absolute_url }}" class="categoryTag radioColor"> {{object.blog_category}} </a>
	       	</div>
		</div>
		<hr class="dottedSeparator fullSeparator">
	{% endif %}
	{% if object.title and object.title|lower != "untitled" %}
		<div class="row topHalfGutter bottomHalfGutter fancyBoxSplitHidden">
			<div class="span3">
			{{ object.title }}
			</div>
		</div>
		<hr class="dottedSeparator fullSeparator fancyBoxSplitHidden">
	{% endif %}
	{% if object.description %}
		<div class="row topHalfGutter bottomHalfGutter fancyBoxSplitHidden">
			<div class="span3">
			{{ object.description }}
			</div>
		</div>
		<hr class="dottedSeparator fullSeparator fancyBoxSplitHidden">
	{% endif %}
	{% if object.tagged_categories and object.tagged_categories.all %}
		<div class="row topHalfGutter">
			<div class="span3">
				{% for category in object.tagged_categories.all %}
					<span style="display:inline-block;margin-right:10px;" class="bottomHalfGutter">
						<a href="{{ category.get_absolute_url }}" class="categoryTag radioColor">{{category}}</a>
					</span>
				{% endfor %}
	       	</div>
		</div>
		<hr class="dottedSeparator fullSeparator">
	{% endif %}
	<div class="row topHalfGutter bottomHalfGutter radio_module">
		{% include 'generic/render_dealwishfancybox_radio_module.html' with object=object %}
	</div>
	<hr class="dottedSeparator fullSeparator">
    {% comment_count_on_object object as total_comments %}
    <div class="row">
        <div class="span3 whiteBoxLarge subcomments_container fontSize12 {% if total_comments == 0 %}hide{% endif %}">
	       {% include 'generic/render_subcomments_deal.html' with object=object %}
        </div>
    </div>
</div>
{% endif %}