{% load activity_tags %}
{% load userProfile_tags %}

<div class="span3" style="height:22px;">
    <span class="radioModuleFeedRadio"></span>
    <span class="radioModuleFeedContainer fontTitillium1 fontSize12">
    	{% include 'generic/includes/render_voting.html' with object=object %}
    	{% get_share_count object as share_count %}
    	{% get_share_object_url object as share_comment_url %}
		<a href="javascript:void(0)" data-href="{{share_comment_url}}" class="shareObject">Share</a>
		{% broadcasters_for_object object as broadcasters_url %}
		<a class="broadcasters sharedCount" href="{{broadcasters_url}}">({{share_count}})</a>
		{% include 'actstream/render_comment_text.html' with object=object %}
    </span>
</div>