{% extends "base.html" %}
{% load i18n static future %}
{% block meta_title %} {% trans "Privacy Policy" %}{% endblock %}

{% block main %}

<p>
    <strong>Wishradio.in Terms and Conditions of Use</strong>
</p>
<p>
    WISHRADIO.IN, ("WISHRADIO.IN") PROVIDES THIS WEB SITE (THE "SITE") TO YOU SUBJECT TO THESE TERMS AND CONDITIONS OF USE (THESE "SITE TERMS"). PLEASE READ
    THESE SITE TERMS CAREFULLY BEFORE USING THIS WEB SITE. BY ACCESSING OR USING THIS WEB SITE, YOU EXPLICITLY AGREE TO COMPLY WITH AND BE BOUND BY THESE SITE
    TERMS AND ALL TERMS, POLICIES AND GUIDELINES INCORPORATED BY REFERENCE HEREIN. IF YOU DO NOT AGREE TO ALL PROVISIONS OF THESE SITE TERMS, DO NOT USE THIS
    WEB SITE.
</p>
<p>
    These Site Terms do not alter in any way the terms or conditions of any other agreement you may have with Wishradio.in or its affiliates for products,
    services or otherwise. Wishradio.in reserves the right to change or modify any of the terms and conditions contained in these Site Terms, or any policy or
    guideline of the Site, at any time and in its sole discretion. Unless otherwise specified, any changes or modifications will be effective immediately upon
    posting of the revisions on the Site, and your continued use of the Site will constitute your acceptance of such changes or modifications. You should
    review the Site Terms and its incorporated policies and documents from time to time to understand the terms and conditions that apply to your use of the
    Site. If you do not agree to any amended terms, you must stop using the Site.
</p>
<p>
    <strong>Privacy Policy</strong>
</p>
<p>
    Please refer to Wishradio.in's <a href="{% url 'privacy_policy' %}">Privacy Policy</a> for information on how Wishradio.in collects, uses
    and discloses personally identifiable information from its users.
</p>
<p>
    <strong>Pricing Terms and Conditions</strong>
</p>
<p>
    Wishradio.in is not an Online Store, and does not charge service fees to users of the Site. Wishradio.in offers Online Store Owners a Premium Account
    option for which it charges the Online Store Owners an amount. Third Parties and Online Stores may serve advertisements on Wishradio.in for which they will
be charged. The pricing policy for the premium account and advertisements may change from time to time and can be obtained by mailing the team at    <a href="mailto:helpmewish@wishradio.in">helpmewish@wishradio.in</a>.
</p>
<p>
    <strong>Ownership and Copyright</strong>
</p>
<p>
    Except as otherwise indicated, the Site, and all text, images, marks, logos and other content contained herein, including, without limitation, the
    Wishradio.in logo and all designs, text, graphics, pictures, information, data, software, sound files, other files, Content (as defined below) and the
    selection and arrangement thereof (collectively, the "Site Content") are the proprietary property of Wishradio.in or its licensors or users and are
    protected by Indian and international copyright laws. The Site and all Site Content is ©2014 Wishradio.in, All Rights Reserved.
</p>
<p>
    <strong>Trademarks</strong>
</p>
<p>
    Wishradio.in, the Radio Logo and all other product or service names or slogans displayed on the Site are registered and/or common law trademarks of
    Wishradio.in, and/or its suppliers or licensors, and may not be copied, imitated or used, in whole or in part, without the prior written permission of
    Wishradio.in or the applicable trademark holder. In addition, the look and feel of the Site, including all page headers, custom graphics, button icons and
    scripts, is the service mark, trademark and/or trade dress of Wishradio.in and may not be copied, imitated or used, in whole or in part, without the prior
    written permission of Wishradio.in. All other trademarks, registered trademarks, product names and company names or logos mentioned in the Site are the
    property of their respective owners. Reference to any products, services, processes or other information, by trade name, trademark, manufacturer, supplier
    or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof by Wishradio.in.
</p>
<p>
    <strong>Limited License</strong>
</p>
<p>
    Wishradio.in grants you a non-exclusive, limited, nonsublicensable license to access and use the Site and to view, copy and print portions of the Site
    Content. Such license is subject to these Site Terms, and specifically conditioned upon the following: (i) you may only view, copy and print portions of
    the Site Content for your own informational, personal and non-commercial use; (ii) you may not reverse engineer, modify or otherwise make derivative uses
    of the Site or the Site Content, or any portion thereof; (iii) any displays or printouts of Site Content must be marked "©2014, Wishradio.in, All rights
    reserved."; (iv) you may not remove or modify any copyright, trademark, or other proprietary notices that have been placed in the Site Content; (v) you may
    not use any data mining, robots or similar data gathering or extraction methods; (vi) you may not use the Site or the Site Content other than for its
    intended purpose; and (vii) you may not reproduce, prepare derivative works from, distribute or display the Site or any Site Content (except for page
    caching), except as provided herein. Except as expressly permitted above, any use of any portion of the Site or Site Content without the prior written
    permission of Wishradio.in is strictly prohibited and will terminate the license granted herein.
</p>
<p>
    Any such unauthorized use may also violate applicable laws, including without limitation copyright and trademark laws and applicable communications
    regulations and statutes. Unless explicitly stated herein, nothing in these Site Terms may be construed as conferring any license to intellectual property
    rights, whether by estoppel, implication or otherwise. This license is revocable at any time without notice.
</p>
<p>
    You represent and warrant that your use of the Site and the Site Content will be consistent with this license and will not infringe or violate the rights
    of any other party or breach any contract or legal duty to any other parties, or violate any applicable law. You expressly agree to indemnify Wishradio.in
    against any liability to any person arising out of your use of Site Content not in accordance with these Site Terms.
</p>
<p>
    To request permission for uses of Site Content not included in the foregoing license, you may contact Wishradio.in as follows:
</p>
<p>
    Director, Wish Radio
    <br/>
    Wishradio.in
</p>
<p>
    Bangalore
    <br/>
    E-mail us: helpmewish@wishradio.in.
</p>
<p>
    <strong>Hyperlinks</strong>
</p>
<p>
    You are granted a limited, non-exclusive right to create a text hyperlink to the Site for noncommercial purposes, provided such link does not portray
    Wishradio.in or any of its products or services in a false, misleading, derogatory or otherwise defamatory manner and provided further that the linking
    site does not contain any adult or illegal material or any material that is offensive, harassing or otherwise objectionable. Wishradio.in may revoke this
    limited right at any time. You may not use a Wishradio.in logo or other proprietary graphic of Wishradio.in to link to the Site without the express written
    permission of Wishradio.in. Further, you may not use, frame or utilize framing techniques to enclose any Wishradio.in trademark, logo or other proprietary
    information, including the images found at the Site, the content of any text or the layout/design of any page or form contained on a page on the Site
    without Wishradio.in's express written consent. Except as noted above, you are not conveyed any right or license by implication, estoppel or otherwise in
    or under any patent, trademark, copyright or proprietary right of Wishradio.in or any third party. Nothing contained on the Site may be construed as
    granting, by implication, estoppel or otherwise, any license or right to use any patent, trademark, copyright or other proprietary right of Wishradio.in or
    any third party without the prior written permission of Wishradio.in or such other party that may own such patent, trademark, copyright or other
    proprietary right(s).
</p>
<p>
    The Site may contain links to third-party Web sites ("Third-Party Sites") and third-party content ("Third-Party Content") as a service to those interested
    in this information. You use links to Third-Party Sites, and any Third-Party Content therein, at your own risk. Wishradio.in does not monitor or have any
    control over, and makes no claim or representation regarding, Third-Party Content or Third-Party Sites. Wishradio.in provides these links only as a
    convenience, and a link to a Third-Party Site or Third-Party Content does not imply Wishradio.in's endorsement, adoption or sponsorship of, or affiliation
    with, such Third-Party Site or Third-Party Content. Wishradio.in accepts no responsibility for reviewing changes or updates to, or the quality, content,
    policies, nature or reliability of, Third-Party Content, Third-Party Sites, or Web sites linking to the Site. When you leave the Site, our terms and
    policies no longer govern. You should review applicable terms and policies, including privacy and data gathering practices, of any Third-Party Site, and
    should make whatever investigation you feel necessary or appropriate before proceeding with any transaction with any third party.
</p>
<p>
    <strong>Use of Chat Rooms, Bulletin Boards and Other Interactive Areas</strong>
</p>
<p>
    The Site may contain discussion forums, bulletin boards, review services or other forums in which you or third parties may post reviews of online shopping
    experiences or other content, messages, materials or other items on the Site ("Interactive Areas"). If Wishradio.in provides such Interactive Areas, you
    are solely responsible for your use of such Interactive Areas and use them at your own risk. Please take note of the posting guidelines as contained in the
    Site. Further, by using any Interactive Areas, you expressly agree not to post, upload to, transmit, distribute, store, create or otherwise publish through
    the Site any of the following:
</p>
<ol type="a">
    <li>
        <p>
            Any message, data, information, text, music, sound, photos, graphics, code or other material ("Content") that is unlawful, libelous, defamatory,
            obscene, pornographic, indecent, lewd, suggestive, harassing, threatening, invasive of privacy or publicity rights, abusive, inflammatory,
            fraudulent or otherwise objectionable;
        </p>
    </li>
    <li>
        <p>
            Content that would constitute, encourage or provide instructions for a criminal offense, violate the rights of any party, or that would otherwise
            create liability or violate any local, state, national or international law, including, without limitation, the regulations of the Securities and
            Exchange Board of India or any rules of a securities exchange where the shares of the concerned entity have been listed such as the National Stock
            Exchange and the Bombay Stock Exchange;
        </p>
    </li>
    <li>
        <p>
            Content that may infringe any patent, trademark, trade secret, copyright or other intellectual or proprietary right of any party;
        </p>
    </li>
    <li>
        <p>
            Content that impersonates any person or entity or otherwise misrepresents your affiliation with a person or entity;
        </p>
    </li>
    <li>
        <p>
            Unsolicited promotions, political campaigning, advertising or solicitations;
        </p>
    </li>
    <li>
        <p>
            Private information of any third party, including, without limitation, addresses, phone numbers, email addresses, Social Security numbers and
            credit card numbers;
        </p>
    </li>
    <li>
        <p>
            Viruses, corrupted data or other harmful, disruptive or destructive files;
        </p>
    </li>
    <li>
        <p>
            Content that is unrelated to the topic of the Interactive Area(s) in which such Content is posted; or
        </p>
    </li>
    <li>
        <p>
            Content that, in the sole judgment of Wishradio.in, is objectionable or which restricts or inhibits any other person from using or enjoying the
            Interactive Areas or the Site, or which may expose Wishradio.in or its affiliates or its users to any harm or liability of any type.
        </p>
    </li>
</ol>
<p>
    Wishradio.in takes no responsibility and assumes no liability for any Content posted, stored or uploaded by you or any third party, or for any loss or
    damage thereto, nor is Wishradio.in liable for any mistakes, defamation, slander, libel, omissions, falsehoods, obscenity, pornography or profanity you may
    encounter. As a provider of interactive services, Wishradio.in is not liable for any statements, representations or Content provided by its users in any
    public forum, personal home page or other Interactive Area. Although Wishradio.in has no obligation to screen, edit or monitor any of the Content posted to
    or distributed through any Interactive Area, Wishradio.in reserves the right, and has absolute discretion, to remove, screen or edit without notice any
    Content posted or stored on the Site at any time and for any reason, and you are solely responsible for creating backup copies of and replacing any Content
    you post or store on the Site at your sole cost and expense.
</p>
<p>
    Any use of the Interactive Areas or other portions of the Site in violation of the foregoing violates these Site Terms and may result in, among other
    things, termination or suspension of your rights to use the Interactive Areas and/or the Site.
</p>
<p>
    <strong>Rights to User Content</strong>
</p>
<p>
    By posting or distributing Content to or through the Site, unless we indicate otherwise, you (a) grant Wishradio.in and its affiliates a worldwide,
    nonexclusive, royalty-free, for the term of copyright and all renewals thereto, transferable, irrevocable and fully sublicensable right to use, reproduce,
    modify, adapt, translate, distribute, publish, create derivative works from and publicly display and perform such Content throughout the world in any
    media, now known or hereafter devised; (b) grant Wishradio.in and its affiliates and sublicensees the right to use the name that you submit in connection
    with such Content, if they choose; and (c) represent and warrant that (i) you own and control all of the rights to the Content that you post or otherwise
    distribute, or you otherwise have the lawful right to post and distribute such Content to or through the Site; (ii) such Content is accurate and not
    misleading; and (iii) use and posting or other transmission of such Content does not violate these Site Terms and will not violate any rights of or cause
    injury to any person or entity. You further grant Wishradio.in the right to pursue at law any person or entity that violates your or Wishradio.in's rights
    in the Content by a breach of these Site Terms.
</p>
<p>
    Content submitted by users will be considered non-confidential and Wishradio.in is under no obligation to treat such Content as proprietary information.
    Without limiting the foregoing, Wishradio.in reserves the right to use the Content as it deems appropriate, including, without limitation, deleting,
    editing, modifying, rejecting, or refusing to post it. Wishradio.in is under no obligation to offer you any payment for Content that you submit or the
    opportunity to edit, delete or otherwise modify Content once it has been submitted to Wishradio.in. Wishradio.in shall have no duty to attribute authorship
    of Content to you, and shall not be obligated to enforce any form of attribution by third parties.
</p>
<p>
    If it is determined that you retain moral rights (including rights of attribution or integrity) in the Content, you hereby declare that (a) you do not
    require that any personally identifying information be used in connection with the Content, or any derivative works of or upgrades or updates thereto; (b)
    you have no objection to the publication, use, modification, deletion and exploitation of the Content by Wishradio.in or its licensees, successors and
    assigns; (c) you forever waive and agree not to claim or assert any entitlement to any and all moral rights of an author in any of the Content; and (d) you
    forever release Wishradio.in, and its licensees, successors and assigns, from any claims that you could otherwise assert against Wishradio.in by virtue of
    any such moral rights.
</p>
<p>
    <strong>Advertisements and Promotions</strong>
</p>
<p>
    Wishradio.in may run advertisements and promotions from third parties on the Site. Your business dealings or correspondence with, or participation in
    promotions of, such advertisers other than Wishradio.in, and any terms, conditions, warranties or representations associated with such dealings, are solely
    between you and such third party. Wishradio.in is not responsible or liable for any loss or damage of any sort incurred as the result of any such dealings
    or as the result of the presence of third-party advertisers on the Site.
</p>
<p>
    <strong>Repeat Infringer Policy</strong>
</p>
<p>
    In accordance with the Digital Millennium Copyright Act ("DMCA") and other similar applicable law, Wishradio.in has adopted a policy of terminating, in
    appropriate circumstances and at Wishradio.in's sole discretion, subscribers or account holders who are deemed to be repeat infringers. Wishradio.in may
    also at its sole discretion limit access to the Site and/or terminate the accounts of any users who infringe any intellectual property rights of others,
    whether or not there is any repeat infringement.
</p>
<p>
    <strong>Registration Data; Account Security</strong>
</p>
<p>
    You agree to (a) provide accurate, current and complete information about you as may be prompted by any registration forms on the Site ("Registration
    Data"); (b) maintain the security of your password; (c) maintain and promptly update the Registration Data, and any other information you provide to
    Wishradio.in, and to keep it accurate, current and complete; and (d) accept all risks of unauthorized access to the Registration Data and any other
    information you provide to Wishradio.in.
</p>
<p>
    <strong>WARRANTY DISCLAIMER</strong>
</p>
<p>
    EXCEPT AS EXPRESSLY PROVIDED TO THE CONTRARY IN A WRITING BY WISHRADIO.IN, THE SITE, THE MATERIALS CONTAINED THEREIN AND THE SERVICES PROVIDED ON OR IN
    CONNECTION THEREWITH (THE "SERVICES") ARE PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. WISHRADIO.IN EXPRESSLY
    DISCLAIMS ALL OTHER WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
    TITLE AND NONINFRINGEMENT AS TO THE SERVICES, INFORMATION, CONTENT AND MATERIALS ON THE SITE. WISHRADIO.IN DOES NOT REPRESENT OR WARRANT THAT MATERIALS IN
    THE SITE OR THE SERVICES ARE ACCURATE, COMPLETE, RELIABLE, CURRENT OR ERROR-FREE, AND EXPRESSLY DISCLAIMS ANY WARRANTY OR REPRESENTATION AS TO THE ACCURACY
    OR PROPRIETARY CHARACTER OF THE SITE, THE SITE CONTENT OR ANY PORTION THEREOF.
</p>
<p>
    WISHRADIO.IN IS NOT RESPONSIBLE FOR TYPOGRAPHICAL ERRORS OR OMISSIONS RELATING TO PRICING, TEXT OR PHOTOGRAPHY. WHILE WISHRADIO.IN ATTEMPTS TO MAKE YOUR
    ACCESS TO AND USE OF THE SITE AND THE SERVICES SAFE, WISHRADIO.IN CANNOT AND DOES NOT REPRESENT OR WARRANT THAT THE SITE OR ITS SERVER(S) ARE FREE OF
    VIRUSES OR OTHER HARMFUL COMPONENTS; THEREFORE, YOU SHOULD USE INDUSTRY-RECOGNIZED SOFTWARE TO DETECT AND DISINFECT VIRUSES FROM ANY DOWNLOAD.
</p>
<p>
    <strong>LIMITATION OF LIABILITY</strong>
</p>
<p>
    YOU WAIVE AND COVENANT NOT TO ASSERT ANY CLAIMS OR ALLEGATIONS OF ANY NATURE WHATSOEVER AGAINST WISHRADIO.IN, ITS AFFILIATES, OR THEIR RESPECTIVE
    DIRECTORS, OFFICERS, EMPLOYEES OR AGENTS ARISING OUT OF OR IN ANY WAY RELATING TO YOUR USE OF THE SITE, THE SERVICES, THE CONTENT OR THE MATERIALS
    CONTAINED IN OR ACCESSIBLE THROUGH THE SITE, INCLUDING, WITHOUT LIMITATION, ANY CLAIMS OR ALLEGATIONS RELATING TO THE ALLEGED INFRINGEMENT OF PROPRIETARY
    RIGHTS, ALLEGED INACCURACY OF SITE CONTENT, OR ALLEGATIONS THAT WISHRADIO.IN HAS OR SHOULD INDEMNIFY, DEFEND OR HOLD HARMLESS YOU OR ANY THIRD PARTY FROM
    ANY CLAIM OR ALLEGATION ARISING FROM YOUR USE OR OTHER EXPLOITATION OF THE SITE. YOU USE THE SITE AT YOUR OWN RISK.
</p>
<p>
    WITHOUT LIMITATION OF THE FOREGOING, NEITHER WISHRADIO.IN NOR ANY PARTIES PROVIDING SITE CONTENT SHALL BE LIABLE FOR ANY DIRECT, SPECIAL, INDIRECT OR
    CONSEQUENTIAL DAMAGES, OR ANY OTHER DAMAGES OF ANY KIND, INCLUDING BUT NOT LIMITED TO LOSS OF USE, LOSS OF PROFITS OR LOSS OF DATA, WHETHER IN AN ACTION IN
    CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE) OR OTHERWISE, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF THE SITE, THE SERVICES, THE
    CONTENT OR THE MATERIALS CONTAINED IN OR ACCESSIBLE THROUGH THE SITE, INCLUDING WITHOUT LIMITATION ANY DAMAGES CAUSED BY OR RESULTING FROM YOUR RELIANCE ON
    ANY SITE CONTENT OR OTHER INFORMATION OBTAINED FROM WISHRADIO.IN OR ACCESSIBLE VIA THE SITE, OR THAT RESULT FROM MISTAKES, ERRORS, OMISSIONS,
    INTERRUPTIONS, DELETION OF FILES OR EMAIL, DEFECTS, VIRUSES, DELAYS IN OPERATION OR TRANSMISSION OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING
    FROM ACTS OF GOD, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR UNAUTHORIZED ACCESS TO WISHRADIO.IN'S RECORDS, PROGRAMS OR SERVICES.
</p>
<p>
    IN NO EVENT SHALL THE AGGREGATE LIABILITY OF WISHRADIO.IN, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED),
    PRODUCT LIABILITY, STRICT LIABILITY OR OTHER THEORY, ARISING OUT OF OR RELATING TO THE USE OF THE SITE EXCEED ANY COMPENSATION YOU PAY, IF ANY, TO
    WISHRADIO.IN FOR ACCESS TO OR USE OF THE SITE.
</p>
<p>
    BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SOME OF THE ABOVE
    LIMITATIONS MAY NOT APPLY TO YOU.
</p>
<p>
    <strong>Termination/Modification of License and Site Offerings</strong>
</p>
<p>
    Notwithstanding any provision of these Site Terms, Wishradio.in reserves the right, without notice and in its sole discretion, without any notice or
    liability to you, to (a) terminate your license to use the Site, or any portion thereof; (b) block or prevent your future access to and use of all or any
    portion of the Site, Site Content or Services; (c) change, suspend or discontinue any aspect of the Site, Site Content or Services; and (d) impose limits
    on the Site, Site Content or Services.
</p>
<p>
    <strong>Severability</strong>
</p>
<p>
    If any provision of these Site Terms shall be deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from
    these Site Terms and shall not affect the validity and enforceability of any remaining provisions.
</p>
<p>
    <strong>Questions and Comments</strong>
</p>
<p>
If you have any questions regarding these Site Terms or your use of the Site, please submit them to us by writing in at    <a href="mailto:helpmewish@wisdhradio.in">helpmewish@wisdhradio.in</a>
</p>
{% endblock %}