{% load i18n %}
{% load userProfile_tags %}
{% load comment_tags %}
{% load voting_tags %}
{% load thumbnail %}
{% block extra_head %}

<ul>
{% for wish in wish_list %}
<li>
{% get_wish_owner wish as wish_owner %}
{% include 'generic/includes/render_owner.html' with owner=wish_owner %}
<span id="dealitem{{forloop.counter|add:sIndex}}"> {% render_wish wish %} </span>
        {{wish.timestamp}}
        {% include 'actstream/render_voting.html' with object=wish %}
         <a class="shareWish" href="{% share_wish_url wish %}">share</a>
        {% include 'actstream/render_subcomments.html' with object=wish %}
</li>
{% empty %}
{% trans "No wishes yet" %}
{% endfor %}
</ul>
{% endblock %}

