{% load i18n mezzanine_tags %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css">
{% endcompress %}
<div class="module" id="comments-module">
    <h1>{% trans "Recent Comments" %}</h1>
    {% if settings.COMMENTS_DISQUS_SHORTNAME %}
    <script src="http://{{ settings.COMMENTS_DISQUS_SHORTNAME }}.disqus.com/recent_comments_widget.js?num_items={{ settings.COMMENTS_NUM_LATEST }}&hide_avatars=0&avatar_size=32&excerpt_length=200"></script>
    {% else %}
    <ul>
        {% for comment in comments %}
        <li>
            <!--a href="mailto:{{ comment.email }}">
                <img src="{% gravatar_url comment.email %}">
                {{ comment.user_name }}
            </a-->
            <a href="{{ comment.user.get_absolute_url }}">
                {% if comment.user.get_profile.profile_photo %}
                <img src="{{ comment.user.get_profile.profile_photo.url }}">
                {% elif comment.user.get_profile.image_url %}
                <img src="{{ comment.user.get_profile.image_url }}">
                {% else %}
                <img src="{% gravatar_url comment.email %}">
                {% endif %}
                {{ comment.user_name }}
            </a>
            <p>
            <span id="truncComment{{forloop.counter}}">{{ comment.intro }}</span>
            {%  if comment.comment != comment.intro %}
            <span id="expComment{{forloop.counter}}">{{ comment.comment }}</span>
            </p>
            <a href="javascript:void(0);" id="moreComment{{forloop.counter}}">More...</a>
            <script type="text/javascript">
                $('#expComment{{forloop.counter}}').hide();
                $('#moreComment{{forloop.counter}}').click(function(){
                    $('#truncComment{{forloop.counter}}').toggle();
                    $('#expComment{{forloop.counter}}').toggle();
                    if($('#moreComment{{forloop.counter}}').html() == "More...")
                        $('#moreComment{{forloop.counter}}').html("Less...");
                    else
                        $('#moreComment{{forloop.counter}}').html("More...");

                    return false;
                });
            </script>
            {% endif %}
            <p>
                <a href="{{ comment.content_object.get_absolute_url }}">
                    {{ comment.content_object }}
                </a>
                &middot;
                <a href="{{ comment.get_absolute_url }}">
                    {{ comment.submit_date|timesince }} {% trans "ago" %}
                </a>
            </p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
