{% load i18n mezzanine_tags comment_tags %}
<div id="comments">
{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_comments.html" %}
{% else %}
<script>
$(function() {
    $('.reply').click(function() {
        $('.reply-form').hide();
        $(this).next('.reply-form').toggle();
    });
});
</script>
<style>.input_id_honeypot {display:none !important;}</style>
{% if object_for_comments|get_class_name != "Album" and object_for_comments|get_class_name != "Image" and object_for_comments|get_class_name != "UserWishRadio" %}
{% comment_thread object_for_comments %}
{% endif %}
        {% if request.user.get_profile.profile_photo %}
            <img style="margin-right:20px;" src="{{ request.user.get_profile.profile_photo.url }}">
        {% elif request.user.get_profile.image_url %}
            <img style="margin-right:20px;" src="{{ request.user.get_profile.image_url }}"> 
        {% else %}
            <img src='{{ STATIC_URL }}img/defaultProfilePic.gif'>
        {% endif %}

<form method="post" id="comment" action="{{ comment_url }}#comment">
    {% if object_for_comments|get_class_name == "BlogPost" %}
        {% if not request.POST.replied_to %}
            {% fields_for_comment posted_comment_form %}
        {% else %}
            {% fields_for_comment unposted_comment_form %}
        {% endif %}
    {% elif object_for_comments|get_class_name == "Review" or object_for_comments|get_class_name == "Album" or object_for_comments|get_class_name == "Image" or object_for_comments|get_class_name == "UserWishRadio" %}
        {% if not request.POST.replied_to %}
            {% fields_for posted_comment_form %}
        {% else %}
            {% fields_for unposted_comment_form %}
        {% endif %}
    {% endif %}
    <div class="form-actions">     
       <input class="btn" type="submit" value="{% trans "Comment" %}">
    </div>
</form>
{% endif %}
</div>
