{% load i18n mezzanine_tags comment_tags %}

<div id="comments">
{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_comments.html" %}
{% else %}
<script>
// $(function() {
//     $('.reply').click(function() {
//         $('.reply-form').hide();
//         $(this).next('.reply-form').toggle();
//     });
// });
</script>
<style>.input_id_honeypot {display:none !important;}
.comment_on_review{
    resize: none; 
    height: 40px;
    width:  580px;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 0 #DDDDDD;
}
</style>
{% if object_for_comments|get_class_name == "BlogPost" %}
{% comment_thread_most_recent object_for_comments %}
{% endif %}

{% endif %}
</div>
<div>
{% if object_for_comments|get_class_name == "BlogPost" %}
    <button class="writeReview rateStoreNow radioColorBackground colorWhite fontTitillium1 fontSize13 pull-right bottomHalfGutter topHalfGutter" data-href="{% write_review_for_obj_url object_for_comments %}" title="Write A Review" data-title="Write A Review">Write a Review</button>
{% endif %}
</div>
