{% load i18n mezzanine_tags comment_tags %}
{% load thumbnail %}

<div id="comments">
{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_comments.html" %}
{% else %}
<script>
$(function() {
    $('.reply').click(function() {
        $('.reply-form').hide();
        $(this).next('.reply-form').toggle();
    });
});
</script>
<style>.input_id_honeypot {display:none !important;}
.comment_on_review{
    resize: none; 
    height: 40px;
    width:  580px;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 0 #DDDDDD;
}
</style>
{% if object_for_comments|get_class_name == "BlogPost" %}
{% comment_thread object_for_comments %}
{% endif %}
<span style="float:left;position:relative;left:5px;">
    {% include "generic/includes/render_owner.html" with owner=request.user %}
</span>
<form class="
{% if object_for_comments|get_class_name == "BlogPost" %} review_on_object {% else %} comment_on_object {% endif %}" method="post" id="comment" action="{{ comment_url }}">
    {% if not request.POST.replied_to %}
        {% fields_for posted_comment_form %}
    {% else %}
        {% fields_for unposted_comment_form %}
    {% endif %}
    <!--div class="form-actions"-->     
       <input class="btn" type="submit" value="{% trans "Post Review" %}">
    <!--/div-->
</form>
{% endif %}
</div>
