{% load activity_tags %}
{% load userProfile_tags %}
{% load mezzanine_tags %}
{% load future %}

<div class="span6" style="height:22px;">
    <span class="radioModuleFeedRadio"></span>
    <span class="radioModuleFeedContainer fontTitillium1 fontSize12">
    	{% include 'generic/includes/render_voting.html' with object=comment %}
    	{% get_share_count comment as share_count %}
    	{% get_share_object_url comment as share_comment_url %}
		<a href="javascript:void(0)" data-href="{{share_comment_url}}" class="shareObject">Share</a>
		{% broadcasters_for_object comment as broadcasters_url %}
		<a class="store_sharers broadcasters sharedCount" href="{{broadcasters_url}}">({{share_count}})</a>
		{% include 'actstream/render_comment_text.html' with object=comment %}
    </span>
        {% if request.user == comment.user %}
            {% comment %} 
            <span class="manageFeed" onmouseover="manageFeedOwner.call(this);" onmouseout="manageFeedOwner.call(this);">
                <span style="height:50px;display:none;padding:0px 15px;" class="whiteBox">
                {% get_delete_object_url comment as delete_review_url %}
                    <span style="line-height:25px;float:left;">
                        <a class="editReview" href="javascript:void(0)" data-href="{% url 'edit_review' comment.id %}">Edit</a>
                    </span>
                    <span style="line-height:25px;float:left;clear:both;">
                        <a class="deleteObject" data-href="{{delete_review_url}}" href="javascript:void(0)">Delete</a>
                    </span>
                </span>
            </span> 
            {% endcomment %}
        {% else %}
            <span class="manageFeed" onmouseover="manageFeedOther.call(this);" onmouseout="manageFeedOther.call(this);">
                <span style="height:25px;line-height:25px;display:none;padding:0px 15px;" class="whiteBox">
                        {% include 'actstream/render_spam_report.html' with object=comment %}
                </span>
            </span>
        {% endif %}
</div>