{% load i18n %}
{% load static thumbnail userProfile_tags %}

{% if owner %}
	{% if owner.get_absolute_url %}
		<div class="span1 halfGutter">
			<div style="width:32px;height:32px;">
				<a href="{{ owner.get_absolute_url }}">
				{% if owner|get_class_name == "User" %}
					{% if owner.get_profile.profile_photo %}
						{% thumbnail owner.get_profile.profile_photo "100x100" as img %}
							<img style="height:32px; max-height:32px;" src="{{img.url}}">
						{% endthumbnail %}
					{% elif owner.get_profile.image_url %}
						<img style="height:32px; max-height:32px;" src="{{ owner.get_profile.image_url }}">
					{% else %}
						<img style="height:32px; max-height:532px;" src="{% static "img/defaultProfilePic.gif" %}"> 
					{% endif %}

				{% elif owner|get_class_name == "BlogPost" %}
						{% thumbnail owner.featured_image "100x100" as img %} 
						<img style="height:55px; max-height:55px;" src="{{img.url}}">
						{% endthumbnail %}
				{% else %}
					{{owner}}
				{% endif %}
				</a>
			</div>
		</div>
	{% else %}
		{{owner}}
	{% endif %}
{% endif %}