{% load i18n %}
{% load static thumbnail userProfile_tags %}

{% if owner %}
	<div class="span0_25 span0_25Height">
		{% if owner.get_absolute_url %}
			<a href="{{ owner.get_absolute_url }}">
			{% if owner|get_class_name == "User" %}
				{% if owner.get_profile.profile_photo %}
					{% thumbnail owner.get_profile.profile_photo "100x100" as img %}
						<img class="smallIcon noBoxShadow" src="{{img.url}}">
					{% endthumbnail %}
				{% elif owner.get_profile.image_url %}
					<img class="smallIcon noBoxShadow" src="{{ owner.get_profile.image_url|add:"?width=45&height=45"  }}">
				{% else %}
					{% if request.user.get_profile.gender %}
                    	{% if owner.get_profile.gender == "male" %}
                        	<img class="noBoxShadow smallIcon" src="{% static "img/man_icon.png" %}">
                    	{% else %}
                        	<img class="noBoxShadow smallIcon" src="{% static "img/woman_icon.png" %}">
                    	{% endif %}
                    {% else %}
                        <img class="noBoxShadow smallIcon" src="{% static "img/man_icon.png" %}">
                    {% endif %}
				{% endif %}
			{% elif owner|get_class_name == "BlogPost" %}
					{% thumbnail owner.featured_image "100x100" as img %} 
					<img style="height:55px; max-height:55px;" src="{{img.url}}">
					{% endthumbnail %}
			{% else %}
				<img class="noBoxShadow smallIcon" src="{% static "img/man_icon.png" %}">
			{% endif %}
			</a>
		{% else %}
			<img class="noBoxShadow smallIcon" src="{% static "img/man_icon.png" %}">
		{% endif %}
	</div>
{% endif %}