{% load i18n mezzanine_tags comment_tags rating_tags %}
{% load thumbnail %}

<ul class="unstyled">
    <li id="comment-{{ comment.id }}"
        {% editable comment.is_public comment.is_removed %}
        {% if not comment.is_removed and comment.is_public %}
            <span id="truncComment{{ random }}">{{ comment.intro }}</span>
            
            {%  if comment != comment.intro %}
                  <span id="expComment{{ random }}" style="display:none;">{{ comment.comment }}</span>
                  
                  <a href="javascript:void(0);" id="moreComment{{ random }}" onClick="

                      $('#truncComment{{ random }}').toggle();
                      $('#expComment{{ random }}').toggle();

                      if($(this).html() == 'More...')
                        $(this).html('Less...');
                      else
                        $(this).html('More...');
                      return false;">More...</a>

            {% endif %}
        {% endif %}
        By:
             <a href="{{ comment.user.get_absolute_url }}">
            {% if comment.user.get_profile.profile_photo %}
                            {% thumbnail comment.user.get_profile.profile_photo "60x60" as img %} 
                                <img style="margin-right:20px;" src="{{ MEDIA_URL }}{{img}}">
                            {% endthumbnail %}
            <!--img src="{{ comment.user.get_profile.profile_photo.url }}"-->
            {% elif comment.user.get_profile.image_url %}
            <img src="{{ comment.user.get_profile.image_url }}">
            {% else %}
            <img src="{% gravatar_url comment.email %}">
            {% endif %}
            </a>
            {% if comment.user|get_class_name == "User" %}
                {{ comment.user.username }} 
            {% else %}
                {% trans "Anonymous" %}
            {% endif %}
                on <a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
            <span class="timespan">{% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}</span>
        {% endeditable %}
    </li>
</ul>

