{% load i18n static %}
{% load voting_tags %}      
{% load userProfile_tags %}
{% load url from future %}

{% if object %}

    {% score_for_object  object as score %}

    {% voters_inc_for_object object 0 10 as voters %}

    {% vote_by_user request.user on object as vote %}
    {% if not vote %}
        {% if object|get_class_name == "Review" %}
            <span class="radioColor"><span></span>
                <a class="upvote" href="#" data-href="{% url 'vote_on_reviews' object.id 'up' %}" style="margin-right:0px;"><span>Like</span>
                    <img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">
                </a>
            </span>
        {% elif object|get_class_name == "Album" %}
            <span class="radioColor"><span></span>
                <a class="upvote" href="#" data-href="{% url 'vote_on_albums' object.id 'up' %}" style="margin-right:0px;"><span>Like</span>
                    <img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">
                </a>
            </span>
        {% elif object|get_class_name == "Image" %}
            <span class="radioColor"><span></span>
                <a class="upvote" href="#" data-href="{% url 'vote_on_images' object.id 'up' %}" style="margin-right:0px;"><span>Like</span>
                    <img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">
                </a>
            </span>
        {% elif object|get_class_name == "ThreadedComment" %}
            <span class="radioColor"><span></span>
                <a class="upvote" href="#" data-href="{% url 'vote_on_comments' object.id 'up' %}" style="margin-right:0px;"><span>Like</span>
                    <img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">
                </a>
            </span>
        {% elif object|get_class_name == "GenericWish" %}
            <span class="radioColor"><span></span>
                <a class="upvote" href="#" data-href="{% url 'vote_on_post' object.id 'up' %}" style="margin-right:0px;"><span>Like</span>
                    <img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">
                </a>
            </span>
        {% elif object|get_class_name == "BroadcastWish" %}
            <span class="radioColor"><span></span>
                <a class="upvote" href="#" data-href="{% url 'vote_on_wish' object.id 'up' %}" style="margin-right:0px;"><span>Like</span>
                    <img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">
                </a>
            </span>
        {% elif object|get_class_name == "BroadcastDeal" %}
            <span class="radioColor"><span></span>
                <a class="upvote" href="#" data-href="{% url 'vote_on_deal' object.id 'up' %}" style="margin-right:0px;"><span>Like</span>
                    <img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">
                </a>
            </span>
        {% endif %}

    {% else %}
        {% if object|get_class_name == "Review" %}
            <span class="radioColor"><span class="clearvote">Like</span>
                <a class="clearvote" href="#" data-href="{% url 'vote_on_reviews' object.id 'clear' %}"><span></span>
                    <img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">
                </a>
            </span>
        {% elif object|get_class_name == "Album" %}
            <span class="radioColor"><span class="clearvote">Like</span>
                <a class="clearvote" href="#" data-href="{% url 'vote_on_albums' object.id 'clear' %}"><span></span>
                    <img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">
                </a>
            </span>
        {% elif object|get_class_name == "Image" %}
            <span class="radioColor"><span class="clearvote">Like</span>
                <a class="clearvote" href="#" data-href="{% url 'vote_on_images' object.id 'clear' %}"><span></span>
                    <img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">
                </a>
            </span>
        {% elif object|get_class_name == "ThreadedComment" %}
            <span class="radioColor"><span class="clearvote">Like</span>
                <a class="clearvote" href="#" data-href="{% url 'vote_on_comments' object.id 'clear' %}"><span></span>
                    <img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">
                </a>
            </span>
        {% elif object|get_class_name == "GenericWish" %}
            <span class="radioColor"><span class="clearvote">Like</span>
                <a class="clearvote" href="#" data-href="{% url 'vote_on_post' object.id 'clear' %}"><span></span>
                    <img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">
                </a>
            </span>
        {% elif object|get_class_name == "BroadcastWish" %}
            <span class="radioColor"><span class="clearvote">Like</span>
                <a class="clearvote" href="#" data-href="{% url 'vote_on_wish' object.id 'clear' %}"><span></span>
                    <img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">
                </a>
            </span>
        {% elif object|get_class_name == "BroadcastDeal" %}
            <span class="radioColor"><span class="clearvote">Like</span>
                <a class="clearvote" href="#" data-href="{% url 'vote_on_deal' object.id 'clear' %}"><span></span>
                    <img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">
                </a>
            </span>
        {% endif %}
    {% endif %}
    <a class="pScore" href="{{ voters }}" style="margin-left:0px;" title="People Who Like This" data-title="People Who Like This">({{score.num_up_votes}})</a>
{% endif %}