{% load i18n %}
{% load static thumbnail userProfile_tags %}

{% if owner %}
	{% if owner.get_absolute_url %}
		<div class="span1">
			<a href="{{ owner.get_absolute_url }}">
			{% if owner|get_class_name == "User" %}
				{% if owner.get_profile.profile_photo %}
					{% thumbnail owner.get_profile.profile_photo "100x100" as img %}
						<img class="smallIcon noBoxShadow" src="{{img.url}}">
					{% endthumbnail %}
				{% elif owner.get_profile.image_url %}
					<img class="noBoxShadow smallIcon" src="{{ owner.get_profile.image_url|add:"?width=45&height=45" }}">
				{% else %}
                    {% if not owner.get_profile.gender or owner.get_profile.gender == "male" %}
                        <img class="noBoxShadow smallIcon" src="{% static "img/man_icon.png" %}">
                    {% else %}
                        <img class="noBoxShadow smallIcon" src="{% static "img/woman_icon.png" %}">
                    {% endif %}
				{% endif %}

			{% elif owner|get_class_name == "BlogPost" %}
				{% if owner.featured_image %}
					{% thumbnail owner.featured_image "100x100" as img %} 
					<img class="noBoxShadow smallIcon" src="{{img.url}}">
					{% endthumbnail %}
				{% else %}
					<img class="noBoxShadow smallIcon" src="{% static "img/store_default.png" %}">
				{% endif %}
			{% else %}
				{{owner}}
			{% endif %}
			</a>
		</div>
	{% else %}
		{{owner}}
	{% endif %}
{% endif %}