{% load i18n mezzanine_tags comment_tags rating_tags %}

<ul class="unstyled" style="border:1px solid #666666;padding: 10px;">
    <li id="comment-{{ comment.id }}"
        {% if comment.by_author %}class="comment-author"{% endif %}>

        {% editable comment.is_public comment.is_removed %}
        {% if not comment.is_removed and comment.is_public %}

        <p>{{ comment.comment|comment_filter }}</p>

        {% endif %}
        By:
             <a href="{{ comment.user.get_absolute_url }}" %}">
            {% if comment.user.get_profile.profile_photo %}
            <img src="{{ comment.user.get_profile.profile_photo.url }}">
            {% elif comment.user.get_profile.image_url %}
            <img src="{{ comment.user.get_profile.image_url }}">
            {% else %}
            <img src="{% gravatar_url comment.email %}">
            {% endif %}
            </a>
            {% if comment.user|get_class_name == "User" %}
                {{ comment.user.username }} 
            {% else %}
                {% trans "Anonymous" %}
            {% endif %}
                on <a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
            <span class="timespan">{% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}</span>
        {% endeditable %}
    </li>
</ul>

