{% load i18n %}
{% load comment_tags %}

<div class="row fontTitillium1 fontSize13">
    <div class="span4">
        <div class="row">
            <div class="span1">
                {% trans "Excellent" %}&nbsp;&nbsp;
            </div>
            <div class="span2 progress halfGutter">
                <div class="bar bar-success rating-5" role="progressbar" aria-valuenow="{% widthratio overall_excellentR overall_count 100 %}" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio overall_excellentR overall_count 100 %}%">
                </div>
            </div>
            <div class="span1 halfGutter">
                {% widthratio overall_excellentR overall_count 100 %}%
            </div>
        </div>
            <div class="row">
            <div class="span1">
                {% trans "Very Good" %}&nbsp;&nbsp;
            </div>
            <div class="span2 progress halfGutter">
                <div class="bar bar-success rating-4" role="progressbar" aria-valuenow="{% widthratio overall_verygoodR overall_count 100 %}" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio overall_verygoodR overall_count 100 %}%">
                </div>
            </div>
            <div class="span1 halfGutter">
                {% widthratio overall_verygoodR overall_count 100 %}%
            </div>
        </div>
            <div class="row">
            <div class="span1">
                {% trans "Average" %}&nbsp;&nbsp;
            </div>
            <div class="span2 progress halfGutter">
                <div class="bar bar-success rating-3" role="progressbar" aria-valuenow="{% widthratio overall_averageR overall_count 100 %}" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio overall_averageR overall_count 100 %}%">
                </div>
            </div>
            <div class="span1 halfGutter">
                {% widthratio overall_averageR overall_count 100 %}%
            </div>
        </div>
            <div class="row">
            <div class="span1">
                {% trans "Poor" %}&nbsp;&nbsp;
            </div>
            <div class="span2 progress halfGutter">
                <div class="bar bar-success rating-2" role="progressbar" aria-valuenow="{% widthratio overall_poorR overall_count 100 %}" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio overall_poorR overall_count 100 %}%">
                </div>
            </div>
            <div class="span1 halfGutter">
                {% widthratio overall_poorR overall_count 100 %}%
            </div>
        </div>
            <div class="row">
            <div class="span1">
                {% trans "Terrible" %}&nbsp;&nbsp;
            </div>
            <div class="span2 progress halfGutter" style="margin-bottom:0;">
                <div class="bar bar-success rating-1" role="progressbar" aria-valuenow="{% widthratio overall_terribleR overall_count 100 %}" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio overall_terribleR overall_count 100 %}%">
                </div>
            </div>
            <div class="span1 halfGutter">
                {% widthratio overall_terribleR overall_count 100 %}%
            </div>
        </div>
    </div>
    <div class="span2_5 pull-right" style="margin-top:5px;">
        <div class="row">
            <div class="span2_5">
                <div class="row pagination-centered">
                    <div class="span0_5 clearFloatDisplayInline">
                        {% trans "Overall Rating" %}
                    </div>
                    <div class="span1 noGutter clearFloatDisplayInline" style="margin-left:5px">
                        <span class="searchResultRating searchResultRatingScheme rating-{{overall_average|floatformat:"0"}}">
                        {% if overall_average %}
                            {{ overall_average|floatformat:"1" }}
                        {% else %}
                            0
                        {% endif %}
                        </span>
                    </div>
                    <div class="span1 noGutter clearFloatDisplayInline" style="text-align:left;width:auto;">
                        <div class="row">
                            <div class="span1 clearFloatDisplayInline" style="width:auto;">
                                {% trans "Based on" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="span1 clearFloatDisplayInline" style="width:auto;">
                                {{overall_count}}&nbsp;{% trans "vote" %}{{ overall_count|pluralize }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row topHalfGutter">
            <div class="span2_5 topHalfGutter">
                <button style="width:100%" class="writeReview rateStoreNow radioColorBackground colorWhite fontTitillium1 fontSize13" data-href="{% write_review_for_obj_url blog_post %}">{% trans "Rate" %}&nbsp;{{blog_post.title|title}}&nbsp;{% trans "Now" %}</button>
            </div>
        </div>
    </div>
</div>