{% load reviewrating_tags i18n future %}

<div class="panel rating">

<div id="reviewrating-{{ reviewrating_object.id }}">
	<p>
	Total Ratings: {{overall_count}} <br/>
	Excellent : {{overall_excellentR}} / {{overall_count}} <br/>
	Very Good : {{overall_verygoodR}} / {{overall_count}} <br/>
	Average : {{overall_averageR}} / {{overall_count}} <br/>
	Poor : {{overall_poorR}} / {{overall_count}} <br/>
	Terrible : {{overall_terribleR}} / {{overall_count}} <br/>
    </p>
	<p>
    {% if overall_average %}
    {% trans "Current Overall rating" %}: {{ overall_average|floatformat }}
    {% else %}
    {% trans "Currently unrated Overall" %}
    {% endif %}
    </p>
	<p>
    {% if price_average %}
    {% trans "Current Price rating" %}: {{ price_average|floatformat }}
    {% else %}
    {% trans "Currently unrated on Price" %}
    {% endif %}
    </p>
    <p>
    {% if variety_average %}
    {% trans "Current Variety rating" %}: {{ variety_average|floatformat }}
    {% else %}
    {% trans "Currently unrated on Variety" %}
    {% endif %}
    </p>
    <p>
    {% if quality_average %}
    {% trans "Current Quality rating" %}: {{ quality_average|floatformat }}
    {% else %}
    {% trans "Currently unrated on Quality" %}
    {% endif %}
    </p>
    <p>
    {% if service_average %}
    {% trans "Current Service rating" %}: {{ service_average|floatformat }}
    {% else %}
    {% trans "Currently unrated on Service" %}
    {% endif %}
    </p>
    <p>
    {% if exchange_average %}
    {% trans "Current Exchange rating" %}: {{ exchange_average|floatformat }}
    {% else %}
    {% trans "Currently unrated on Exchange" %}
    {% endif %}
    </p>
</div>

<br style="clear:both">

</div>
