{% extends "base.html" %}

{% load i18n mezzanine_tags comment_tags rating_tags %}
{% load mezzanine_tags i18n future %}
{% load voting_tags %}
{% load inbox %}
{% load thumbnail %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    install_review_voting_handler();
});
</script>
{% endblock %}
{% block main %}

<div class="row-fluid">
    <div id="comment-{{ comment.id }}"
        {% url "commentProfile" comment.author as profile_url%}
        >
        {% editable comment.is_public comment.is_removed %}
        {% if not comment.is_removed and comment.is_public %}
        <strong>
            {% include 'generic/includes/render_owner.html' with owner=comment.user %}
	            {% if comment.bought_category%}
	            	{% include "actstream/render_actor_name.html" with actor=comment.user %} bought a {{comment.bought_category}}
	            {% endif %}</br>
	            {% if comment.overall_value%}
	           		<p>Rated Overall as  {{comment.overall_value}}</p>
	            {% endif %}
	            {% if comment.price_value%}
	            	<p>Rated Price as  {{comment.price_value}}</p>
	            {% endif %}
	            {% if comment.variety_value%}
	            	<p>Rated Variety as  {{comment.variety_value}}</p>
	            {% endif %}
	            {% if comment.quality_value%}
	            	<p>Rated Quality as  {{comment.quality_value}}</p>
	            {% endif %}
	            {% if comment.service_value%}
	            	<p>Rated Customer Service as  {{comment.service_value}}</p>
	            {% endif %}
	            {% if comment.exchange_value%}
	            	<p>Rated Exchange Experience as  {{comment.exchange_value}}</p>
	            {% endif %}
                {% if comment.title %}
                    {{comment.title}}
                {% endif %}

        </strong>

        <p>{{ comment.comment|comment_filter }}</p>
        <p>On <a href="{{ comment.content_object.get_absolute_url }}">{{comment.content_object}}</a></p>
        {% include 'generic/includes/render_voting.html' with object=comment %}
        {% include 'actstream/render_subcomments.html' with object=comment %}

        {% else %}

        {% if request.user.is_staff %}
        <strong>
            {% if comment.url %}
            <a href="{{ comment.url }}">
                <img src="{% gravatar_url comment.email %}">
                {{ comment.user_name }}
            </a>
            {% else %}
            <img src="{% gravatar_url comment.email %}">
            {{ comment.user_name }}
            {% endif %}
        </strong>
        <p>{{ comment.comment|comment_filter }}</p>
        {% endif %}

        <p>
            {% if comment.is_removed %}
            {% trans "Comment deleted" %}
            {% else %}
            {% trans "Comment awaiting approval" %}
            {% endif %}
            <span class="timespan">{{ comment.submit_date|timesince }} {% trans "ago" %}</span>
        </p>

        {% endif %}
        {% endeditable %}

        {% if settings.COMMENTS_USE_RATINGS %}
        {% rating_for comment %}
        {% endif %}
        
        {% comment_thread comment %}

        {% if comment.author != request.user %}
        {% include 'actstream/render_spam_report.html' with object=comment %}
        {% endif %}
        <span class="timespan">{% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}</span>
        <a class="btn small primary share-twitter" target="_blank" href="http://twitter.com/home?status={{ request.build_absolute_uri }}">Share on Twitter</a>
        <a class="btn small primary share-facebook" target="_blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&amp;t=review">{% trans "Share on Facebook" %}</a>
        <div>
            {% with comment|get_reviewrating_obj as review_rating_obj %}
                    {% vote_by_user request.user on review_rating_obj as vote %}
                    {% if not vote %}
                        <span>Do you find this review helpful? </span>
                        <a class="found-helpful" href="#" data-href="{% url 'rating_on_reviews' review_rating_obj.id 'up' %}">Yes</a>
                        <a class="not-found-helpful" href="#" data-href="{% url 'rating_on_reviews' review_rating_obj.id 'down' %}">No</a>
                    {% else %}
                        </span>You found this review helpful.</span>
                        <a class="clear-helpful" href="#" data-href="{% url 'rating_on_reviews' review_rating_obj.id 'clear' %}">Clear</a>
                    {% endif %}
            {% endwith %}
        </div>
        <div><span>Shop Again? </span> {% if comment.shop_again == 0%}NO{% else %}YES{% endif %}</div>
    </div>
</div>
{% endblock %}
    


