{% load i18n mezzanine_tags comment_tags rating_tags %}
{% load mezzanine_tags i18n future %}
{% load voting_tags %}
{% load thumbnail %}

{% for comment in comments_for_thread %}
    {% editable comment.is_public comment.is_removed %}
    {% if not comment.is_removed and comment.is_public %}
    <div class="span6 dottedSeparatorIncresedMargin dottedSeparatorIncresedMarginBottom"> 
        <div class="row">
            {% include 'generic/includes/render_owner_subcomment.html' with owner=comment.user %}
            <div class="span5 noGutter">
                <div class="row">
                    <div class="span5">
                        {% include 'actstream/render_actor_name.html' with actor=comment.user  %}
                        <span class="fontTitillium2">
                            <span class="trunc-comment">{{ comment.intro }}</span>
                            {% if comment.comment != comment.intro %}
                                <span class="exp-comment" style="display:none;">{{ comment.comment }}</span>
                                <a class="toggle-comment fontSize13" style="cursor: pointer;">More...</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top:5px;">
                    <div class="span5">
                        <span class="fontSize10">{% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}</span>
                        {% include 'generic/includes/render_voting.html' with object=comment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="dottedSeparator">
    {% endif %}
    {% endeditable %}
{% endfor %}