{% extends "base.html" %}
{% load i18n static %}
{% load activity_tags %}
{% load comment_tags %}
{% load userProfile_tags %}
{% load blog_tags %}
{% load static %}

{% block meta_title %}{% trans "Buy Shoes, Clothes, Books" %}{% endblock %}
{% block title %}{% trans "Buy Shoes, Clothes, Books" %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/vallenato.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/imagestore.css" %}"/>
    <link rel="stylesheet" class="cssButtons" type="text/css" href="{% static "css/linkPreview.css" %}"/>
    <link rel="stylesheet" class="cssStatics" href="{% static "css/stylesheet.css" %}"/>
    <link rel="stylesheet" href="{% static "css/index.css" %}"/>
{% endblock %}

{% block extra_js %}
<script src="{% static "js/jquery.mousewheel.js" %}"></script>
<script src="{% static "js/jquery.form.js" %}"></script>
<script src="{% static "js/vallenato.js" %}"></script>
{% if request.user.is_authenticated %}
<script src="{% static "js/trends_auth.js" %}"></script>
<script>
{% include 'js/index_auth.js.html' with parent_categories=parent_categories %}
</script>
{% else %}
<script src="{% static "js/trends.js" %}"></script>
<script>
{% include 'js/index_noauth.js.html' %}
</script>
{% endif %}
<script type="text/javascript" src="{% static "js/linkPreview.js" %}"></script>

{% endblock %}

{% block extra_head %}
<script type="text/javascript">
var sIndex = 0;
var lIndex = 5;
$(window).load(function(){
	/* Calling this on window.load to wait for all the images to load. */
    $(".dealBox_h").mCustomScrollbar({
        horizontalScroll:true,
        theme:"dark-thick",
		mouseWheel:true,
      	autoHideScrollbar:true,
      	contentTouchScroll:true
    });
    $(".innerBox").mCustomScrollbar({
        theme:"dark-thick",
		mouseWheel:true,
		autoHideScrollbar:true,
      	contentTouchScroll:true
    });    
});
$(document).ready(function() {
	$('.message').linkify();

    $('.updateTrends').click(function(event){
        update_trends_handler(event, this);
        return false;
    });
});
</script>

{% endblock %}



{% block main %}

{% blog_parentcategories_abs as parent_categories %}
{% if request.user.is_authenticated %}
    {% include 'home/index_auth.html' with parent_categories=parent_categories %}
{% else %}
    {% include 'home/index_noauth.html' with parent_categories=parent_categories %}
{% endif %}

{% endblock %}

