{% extends "base.html" %}
{% load i18n %}
{% load activity_tags %}
{% load comment_tags %}
{% load userProfile_tags %}
{% load blog_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}
{% block extra_js %}
<script src="{{ STATIC_URL }}js/jquery.jscrollpane.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.mousewheel.js"></script>
<script src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/linkPreview.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mcdropdown.min.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.bgiframe.js" ></script>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.jscrollpane.css">
<link rel="stylesheet" class="cssStatics" type="text/css" href="{{ STATIC_URL }}css/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.mcdropdown.min.css" />
<script type="text/javascript">
var sIndex = 0;
var lIndex = 5;
$(document).ready(function() {
    {% if request.user.is_authenticated %}
          {% get_owned_blog request.user as blog %} 
          {% if blog %}
          {% else %}
            $("#radio-category").mcDropdown("#radioCategory");
          {% endif %}
    {% endif %}
    $('#updateTrends').click(function(){
        var parent_category = $('#blog_parentcategories').find("option:selected").text()
        var sub_category = $('#blog_subcategories').find("option:selected").text();
        $.get('/' + parent_category + '/'+ sub_category + '/trendingreviews', {}, function(data) {
               $('#topReviewsForStoreCategory').html(data);
               });
        $.get('/' + parent_category + '/'+ sub_category + '/trendingstores', {}, function(data) {
               $('#topStoresForStoreCategory').html(data);
               });    
        $.get('/' + parent_category + '/'+ sub_category + '/trendingdeals', {}, function(data) {
               $('#topDealsForStoreCategory').html(data);
               });
        return false;
    });
    $('#getvendors').click(function(){
        var parent_category_slug = $('#blog_parentcategories').find("option:selected").text();
        var sub_category_slug = $('#blog_subcategories').find("option:selected").text();
        if(parent_category_slug && sub_category_slug)
            var url = "/getvendors/"+parent_category_slug+"/"+sub_category_slug+"/";
        else if(parent_category_slug && !sub_category_slug)
            var url = "/getvendors/"+parent_category_slug+"/all/";
        document.location.href = url;
    });
    $('#blog_parentcategories').change(function(){
        var slug = $(this).find("option:selected").text();
        $.get('/' + slug + '/subcategories', {}, function(data) {
            var $subCSelect = $('#blog_subcategories');
            $('#blog_subcategories').empty();
            var objJSON = eval("(function(){return " + data + ";})()");
            for(var i=0;i<objJSON.length;i++) {
                var option = '<option value="'+objJSON[i]+'">'+objJSON[i]+'</option>';
                $('#blog_subcategories').append(option);
            }
        });             
    });
    $('#updateTrends').click();
});
{% if request.user.is_authenticated %}
          $(document).ready(function() {
		   $('.linkPreview').linkPreview();
            // $('#broadcast').submit(function() {
               /* $.post($(this).attr('action'), $(this).serialize(), function(data, textStatus, jqXHR){
                        if(data == 'ok')
                        {
                            $("form").trigger('reset');
                            $('#refreshActivity').click();
                            //alert('posted');
                        }
                        else
                            alert(data);
                })
                return false;*/
                /*$('#broadcast').ajaxForm(function() {
                    $("form").trigger('reset'); 
                    alert("Posted Successfully"); 
                }); */
            //});
            $('#text').click(function() {
               $(this).height(90);
            });
            $('#fakeselect').bind("click" , function () {
                $('#wishimage').click();
            });
            (function(){
                if (window.FileReader) {
                      function handleFileSelect(evt) {
                        var files = evt.target.files;
                        var f = files[0];
                        var reader = new FileReader();
                        
                          reader.onload = (function(theFile) {
                            return function(e) {
                              $('#previewimg').html(['<img src="', e.target.result,'" title="', theFile.name, '" width="100"/>'].join(''));
                            };
                          })(f);
                          reader.readAsDataURL(f);
                      }
                 } 
                 else {
                        alert('This browser does not support FileReader');
                 }
                 $('#wishimage').change(handleFileSelect);
            })();

            (function() {
                
                var bar = $('.bar');
                var percent = $('.percent');
                var status = $('#status');
                   
                $('#broadcast').ajaxForm({
                    beforeSend: function() {
                        $('.progress').toggle();
                        status.empty();
                        var percentVal = '0%';
                        bar.width(percentVal)
                        percent.html(percentVal);
                    },
                    uploadProgress: function(event, position, total, percentComplete) {
                        var percentVal = percentComplete + '%';
                        bar.width(percentVal);
                        percent.html(percentVal);
                    },
                    success: function() {
                        var percentVal = '100%';
                        bar.width(percentVal)
                        percent.html(percentVal);
                    },
                    complete: function(xhr) {
                        if(xhr.responseText != 'ok')
                            status.html(xhr.responseText);
                        $('#broadcast').trigger('reset');
                        $('.progress').toggle(); 
                        $('#refreshActivity').click();
                        $('#previewimg').html('');
                    }
                }); 

            })();       

            $('#loader').hide();
            $('#refreshCache').click(function() {
                var add_link = $(this);
                $.get(add_link.attr('href'), {}, function(data) {
                });
                return false;
            });
            $('#refreshActivity').click(function() {
                var add_link = $(this);
                $.get(add_link.attr('href'), {}, function(data) {
                    if(data.indexOf("No actions yet") < 0)
                        $('#load-feeds').prepend(data);
                });
                return false;
            });
            
            $('#refreshCache').click();

            viewFeed(); 
            scrollalert();
            updatestatus(); 
            setInterval(function () {
                checkAnyLatestActivity();
            }, 10000); 

                /*var element = $('.section-scroll').jScrollPane({
                    horizontalGutter:5,
                    verticalGutter:5,
                    'showArrows': true
                    });
                    
                    $('.jspDrag').hide();
                    $('.jspScrollable').mouseenter(function(){
                        $('.jspDrag').stop(true, true).fadeIn('slow');
                    });
                    $('.jspScrollable').mouseleave(function(){
                        $('.jspDrag').stop(true, true).fadeOut('slow');
                    });

                api = element.data('jsp');
                var scroll_handler = function(){
                    if($('.section-scroll').outerHeight() + api.getContentPositionY() >= api.getContentHeight()) {
                        //Fire another function here
                        $('#loader').toggle();
                        $('.section-scroll').unbind('scroll');
                        scrollalert();
                        var element = $('.section-scroll').jScrollPane({
                                        horizontalGutter:5,
                                        verticalGutter:5,
                                        'showArrows': true
                        });
                        api = element.data('jsp');
                        api.reinitialise();
                        $('.section-scroll').bind('scroll', scroll_handler);
                        
                        $('#loader').toggle();
                    }*/

                //}
                //$('.section-scroll').bind('scroll', scroll_handler);
                /*$('#viewFeed').click(function() {
                    viewFeed();
                });*/    

}); 


function checkAnyLatestActivity(){
    $('#refreshActivity').click();
}
function updatestatus(){  
    //Show number of loaded items  
    var totalItems=$('#load-feeds ul li').length;  
    $('#status').text('Loaded '+totalItems+' Items');  
     $('#loader').hide();
}

function scrollalert(){ 
    var scrolltop=$('.section-scroll')[0].scrollTop; //$('.section-scroll').attr('scrollTop'); 
    var scrollheight=$('.section-scroll')[0].scrollHeight;//$('.section-scroll').attr('scrollHeight');  
    var windowheight=$('.section-scroll')[0].clientHeight;//$('.section-scroll').attr('clientHeight');  
    var scrolloffset=20; 

    if(scrolltop>=(scrollheight-(windowheight+scrolloffset)))  
    {  
        //fetch new items 
        $('#status').text('Loading more items...');
        $('#loader').show();
        sIndex = lIndex;
        lIndex = lIndex + 5;
        {% following_feedsubset_url request.user 0 10 as feed %}
        var link = "{{feed}}";
        var linksplit = link.split("/");
        linksplit[linksplit.length-2] = lIndex;
        linksplit[linksplit.length-3] = sIndex;
        link = linksplit.join('/');

        $.get(link, {}, function(data) {
            if(data.indexOf("No actions yet") >= 0)
            {
              //alert("No actions yet");
            }    
            $('#load-feeds').append(data);
            updatestatus(); 
        }); 
    }     
    setTimeout('scrollalert();', 1000); 
}  

function viewFeed()
{
    $('#load-feeds').html("");
    {% following_feedsubset_url request.user 0 5 as feed %}

    var link="{{feed}}";
    $.get(link, {}, function(data) {
        $('#load-feeds').html(data);
    });
}
{% endif %}
</script>

{% endblock %}



{% block main %}
<div class="row">
{% if request.user.is_authenticated %}
    <form id="broadcast" action="/userwish/" method="post" class='album-form' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input id="userwish" type="text" name="userwish" value="I wish to buy" readonly>
    <input id="vendorwish" type="text" name="vendorwish" value="I have a deal for" readonly style="display:None;">

    <div id="previewLoading"></div>
    {% get_owned_blog request.user as blog %} 
    {% if blog %}
        {% blog_subcategories_for_blog blog as sub_categories_blog %}
        {% if sub_categories_blog %}
            <select id="sub_categories_blog" name="radio_category">
                <ul class="unstyled">
                    {% for blog_category in sub_categories_blog %}
                    <option value="{{ blog_category }}">{{ blog_category }}</option>
                    {% endfor %}
                </ul>
            </select>
        {% endif %}
        
        <input id="asyou" type="radio" name="actor" value="user" checked="checked" onclick="$('#userwish').toggle();$('#vendorwish').toggle();">As You
        <input type="radio" name="actor" value="vendor" onclick="$('#userwish').toggle();$('#vendorwish').toggle();">As {{ blog }}<br><br>
    {% else %}
        <input id="radio-category" name="radio_category">
        {% blog_parentcategories_abs as parent_categories %}
        {% if parent_categories %}
            <ul id="radioCategory" class="mcdropdown_menu">
                {% for parent_category in parent_categories %}
                <li rel="{{ parent_category }}">{{ parent_category }}
                    {% blog_subcategories parent_category as sub_categories %}
                    {% if sub_categories %}
                    <ul>
                        {% for sub_category in sub_categories %}
                        <li rel="{{ sub_category }}">{{ sub_category }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    
                </li>
                {% endfor %}
            </ul>
        {% endif %}      
        <input id="asyou" style="display:none;" type="radio" name="actor" value="user" checked="checked"><br> 
    {% endif %}
    <div style="border:1px solid #1769ff;">
        <textarea class="boxsizingBorder" id="text" style="width:100%;height:50px;border: none;resize: none;" name="message" placeholder="What's on your mind?"></textarea>
    <!--textarea class="boxsizingBorder" id="createwish" style="width:100%;height:50px;border: none;resize: none;" name="message" placeholder="Wish details..."></textarea-->
    <output id="previewimg"></output>
    <div style="width:100%;margin-bottom:0px;" >
        <input style="display:none;" type="file" id="wishimage", name="wishimage" aria-label="Add photos to your post" >
        <input id="fakeselect" type="button"  style="background-image: url({{STATIC_URL}}img/photo.ico); 
                                                                    background-color: transparent;
                                                                    background-repeat: no-repeat;
                                                                    background-position: 0px 0px;
                                                                    border: none;     
                                                                    cursor: pointer;       
                                                                    height: 36px;   
                                                                    width:36px;        
                                                                    padding-left: 16px;    
                                                                    vertical-align: middle;"/>
        <input id="submitwithouturl" class="postPreviewButton"  type="submit" value="{% trans "Post" %}" />
        <input id="submitwithurl" class="postPreviewButton"  style="display:None;" type="button" value="{% trans "Post" %}" />
    </div>
        <input type="hidden" name="urlPreviewContent" id="urlPreviewContent" value="" />
                <div id="preview">
                    <div id="previewImages">
                        <div id="previewImage"><img src='{{STATIC_URL}}img/loader.gif' style='margin-left: 43%; margin-top: 39%;' ></img></div>
                        <input type="hidden" id="photoNumber" value="0" />
                    </div>
                    <div id="previewContent">
                        <div id="closePreview" title="Remove" ></div>
                        <div id="previewTitle"></div>
                        <div id="previewUrl"></div>
                        <div id="previewDescription"></div>
                        <div id="hiddenDescription"></div>
                        <div id="previewButtons" >
                            <div id='previewPreviousImg' class="buttonLeftDeactive" ></div><div id='previewNextImg' class="buttonRightDeactive"  ></div>  <div class="photoNumbers" ></div> <div class="chooseThumbnail">Choose a thumbnail</div>
                        </div>
                        <input type="checkbox" id="noThumb" class="noThumbCb" />
                        <div class="nT"  ><span id="noThumbDiv" >No thumbnail</span></div>
                    </div>
                    <div style="clear: both"></div>
                </div>
    <div class="previewPostedList"></div>
    </div>
    </form>

    <div class="progress" style="display:None;position:relative;">
        <div class="bar"></div >
        <div class="percent">0%</div >
    </div>
    
    <div id="status"></div>
<!--input id="viewFeed" type="button" class="button button-primary btn-sucess" value="Feed"></input-->
<a id="refreshCache" href="{% activity_refresh_cache request.user %}"></a>
<a id="refreshActivity" href="{% activity_dynamic_update request.user %}"></a>
<h2>Activity Feed</h2>
<div class="section-scroll" style="border-style:solid;border-width:medium;border-color:#00A3EF;">
    <div id="load-feeds" class="content">
    </div>
</div>
<span id="status" ></span><div id="loader"><img src="{{STATIC_URL}}img/ajax-loader.gif"></div>

<!--div id="scrollcontainer">  
    <div id="scrollbox" >  
        <div id="load-feeds" >  

        </div>  
    </div>  
    <p><span id="status" ></span></p>  
</div-->

{% endif %}
</div>
<div class="row">
    <div class="span9">
        {% blog_parentcategories_abs as parent_categories %}
        {% if parent_categories %}
        <select id="blog_parentcategories" name="blog_parentcategories">
            <ul class="unstyled">
                <option value="all">{% trans "All" %}</option>
                {% for category in parent_categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </ul>
        </select>
        {% endif %}
        {% with parent_categories|first as first_parent_category %}
        {% if first_parent_category %}
        {% blog_subcategories first_parent_category as sub_categories %}
        {% if sub_categories %}
        <select id="blog_subcategories" name="blog_subcategories">
            <ul class="unstyled">
                <option value="all">{% trans "All" %}</option>
                {% for category in sub_categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </ul>
        </select>	
        {% endif %}
        {% endif %}
        {% endwith %}
        {% if parent_categories %}
        <a id="updateTrends" href="#" class="postPreviewButton"  type="button"> {% trans "Update Trends" %} </a>   
        <a id="getvendors" href="#" class="postPreviewButton"  type="button"> {% trans "Search" %} </a>   
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="span5">
        <h6>Top Stores for selected category</h6>
        <div class="section-scroll" style="border-style:solid;border-width:medium;border-color:#00A3EF;">
            <div id="topStoresForStoreCategory" class="content">
            </div>
        </div>
    </div>
    <div class="span4">
            <h6>Top Reviews for selected category</h6>
            <div class="section-scroll" style="border-style:solid;border-width:medium;border-color:#00A3EF;">
                <div id="topReviewsForStoreCategory" class="content">
                </div>
            </div>
    </div>
</div>
<div class="row">
    <div class="span9">
        <h6>Top Deals for selected category</h6>
        <div class="section-scroll" style="border-style:solid;border-width:medium;border-color:#00A3EF;">
            <div id="topDealsForStoreCategory" class="content">
            </div>
        </div>
        <span id="wish-status" ></span>
    </div>
</div>
{% endblock %}

