{% extends "base.html" %}
{% load i18n static %}
{% load activity_tags %}
{% load comment_tags %}
{% load userProfile_tags %}
{% load blog_tags %}
{% load static compress %}

{% block meta_title %}{% trans "Activity" %}{% endblock %}

{% block extra_css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "css/vallenato.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/imagestore.css" %}"/>
        <link rel="stylesheet" class="cssButtons" type="text/css" href="{% static "css/linkPreview.css" %}"/>
        <link rel="stylesheet" class="cssStatics" href="{% static "css/stylesheet.css" %}"/>
        <link rel="stylesheet" href="{% static "css/index.css" %}"/>
        <link rel="stylesheet" href="{% static "css/jquery.pagewalkthrough.css" %}"/>
    {% endcompress %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var sIndex = 0;
        var lIndex = 20;
    </script>
    {% compress js %}
        <script src="{% static "js/jquery.mousewheel.js" %}"></script>
        <script src="{% static "js/jquery.form.js" %}"></script>
        <script src="{% static "js/vallenato.js" %}"></script>
        <script src="{% static "js/linkPreview.js" %}"></script>
        <script src="{% static "js/jquery.pagewalkthrough-1.1.0.min.js" %}"></script>
    {% endcompress %}

    {% if request.user.is_authenticated %}
        {% compress js %}
            <script src="{% static "js/trends_auth.js" %}"></script>
        {% endcompress %}

        {% include 'js/index_auth.js.html' with parent_categories=parent_categories %}

    {% else %}
        {% compress js %}
            <script src="{% static "js/trends.js" %}"></script>
        {% endcompress %}

        {% include 'js/index_noauth.js.html' %}

        {% compress js %}
            <script type="text/javascript">
                $(window).load(function(){
                    /* Calling this on window.load to wait for all the images to load. */    
                    setupCustomScrollBar($('#topDealsForStoreCategory'), true); //second boolean parameter forces horizontal scrollbar
                    setupCustomScrollBar($('#topStoresForStoreCategory'));
                    setupCustomScrollBar($('#topReviewsForStoreCategory'));

                    $(".innerBox").mCustomScrollbar({
                        theme:"dark-thick",
                        mouseWheel:true,
                        autoHideScrollbar:true,
                        contentTouchScroll:true
                    });    
                });
                $(document).ready(function() {
                    $('.updateTrends').click(function(event){
                        update_trends_handler(event, this);
                        return false;
                    });
                });
            </script>
        {% endcompress %}
    {% endif %}

{% endblock %}

{% block main %}

{% blog_parentcategories_abs as parent_categories %}
{% if request.user.is_authenticated %}
    {% include 'home/index_auth.html' with parent_categories=parent_categories %}
{% else %}
    {% include 'home/index_noauth.html' with parent_categories=parent_categories %}
{% endif %}

{% endblock %}

