{% load i18n static future %}

<div class="greyBackground">
    <div class="container wishradioFooter fontTitillium fontSize15">
        <div class="row">
            <div class="offset1 span10">
                <div class="row">
                    <div class="span3_5 halfGutter">
                        <div class="row">
                            <div class="span3_5">
                                <button class="footerElementHeight fontTitillium pagination-left makeButton colorWhite">
                                    {% trans "ABOUT Wish Radio" %}
                                </button>
                            </div>
                        </div>
                        <div class="row topHalfGutter">
                            <div class="span3_5">
                                <button class="footerElementHeight fontTitillium pagination-left makeButton colorWhite">
                                    <a class="colorWhite" href="http://blog.wishradio.in">{% trans "Wish Radio BLOG" %}</a>
                                </button>
                            </div>
                        </div>
                        <div class="row topHalfGutter">
                            <div class="span3_5">
                                {% url 'contact_us' as shopTalkUrl %}
                                <button class="footerElementHeight fontTitillium pagination-left makeButton colorWhite">
                                     <a class="colorWhite contactUs" href="javascript:void(0);" data-href="{{shopTalkUrl}}">{% trans "CONTACT Wish Radio" %}</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="span3_5">
                        <ul style="position:relative;list-style:none;">
                            <li class="colorYellow fontSize15 fontTitillium1" style="margin-left:auto; margin-right:auto;">
                                {% trans "The Wish Radio " %}<span class="colorWhite">{% trans "hint spot" %}</span>{% trans " will help you use our site better till you know us inside out. Click on the dot to get tips." %}
                            </li>
                        <ul>
                    </div>
                    <div class="span3 colorWhite fontSize13 halfGutterRight pull-right">
                        <div class="row">
                            <div class="span3 pagination-right">
                            {% trans "Follow Wish Radio on" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3">
                                <a href="http://www.twitter.com/thewishradio">
                                    <div class="socialLogin twitterLogin pull-right">
                                    </div>
                                </a>
                                <a href="http://www.pinterest.com/wishradio">
                                     <div class="socialLogin pinterest pull-right">
                                     </div>
                                 </a>
                                <a href="https://www.facebook.com/pages/Wishradio/189231901262112">
                                    <div class="socialLogin facebookLogin pull-right">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>