{% load mezzanine_tags i18n %}
{% load widget_tweaks %}

{% if form_for_fields.non_field_errors %}
<div class="control-group error non-field-errors">
    {% for error in form_for_fields.non_field_errors %}
    <span class="help-inline">{{ error }}</span>
    {% endfor %}
</div>
{% endif %}

{% nevercache %}
<input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
{% csrf_token %}
{% endnevercache %}

{% for field in form_for_fields %}
{% if field.is_hidden %}
{{ field }}
{% else %}
<div class="reviewForm input_{{ field.id_for_label }} {{ field.field.type }}
    {% if field.errors %} error {% endif %} controls">
        {% if field.label ==  form_for_fields.title.label %}
            <span class="label_text {% if field.errors %} error {% endif %}">{{ field.label }}</span>
            {{ field|add_class:"textField" }}
            {% comment %}
            {% if field.errors %}
            <span class="help-inline">
                {% for e in field.errors %}
                {% if not forloop.first %} / {% endif %}{{ e }}
                {% endfor %}
            </span>
            {% else %}
            {% endif %}
            {% endcomment %}
        {% elif field.label ==  form_for_fields.comment.label %}
            <span class="topHalfGutter label_text {% if field.errors %} error {% endif %}">{{ field.label }}</span>
            {{ field|add_class:"textField" }}
            {% comment %}
            {% if field.errors %}
            <span class="help-inline">
                {% for e in field.errors %}
                {% if not forloop.first %} / {% endif %}{{ e }}
                {% endfor %}
            </span>
            {% else %}
            {% endif %}
            {% encomment %}
        {% elif field.label ==  form_for_fields.overall_value.label %}
            <span class="label_text {% if field.errors %} error {% endif %}">{% trans "Overall Rating"%}</span>
            {{ field|add_class:"" }}
            {% comment %}
            {% if field.errors %}
            <span class="help-inline">
                {% for e in field.errors %}
                {% if not forloop.first %} / {% endif %}{{ e }}
                {% endfor %}
            </span>
            {% else %}
            {% endif %}
            {% endcomment %}
        {% elif field.label ==  form_for_fields.category.label %}
            <div style="display:table;border-spacing:0px 15px;">
                <div class="topHalfGutter controls" style="display:table-row;">
                    <div style="display:table-cell;">
                        <span class="label_text {% if field.errors %} error {% endif %}">{{ field.label }} 
                        {% comment %}           
                            {% if field.errors %}
                                <!-- <span class="help-inline"> -->
                                {% for e in field.errors %}
                                    {% if not forloop.first %} / {% endif %}{{ e }}
                                {% endfor %}
                                <!-- </span> -->
                            {% else %}
                            {% endif %}
                        {% endcomment %}
                        </span>
                    </div>
                    <div style="display:table-cell;" class="category">{{ field|add_class:"boughtCategory" }}</div>
                </div>
                <div class="topHalfGutter" style="display:table-row;">
                    <div style="display:table-cell;"></div>
                    <div style="display:table-cell;">
                        <div style="display:table;border-spacing:0;margin-left:20px;width:100%;">
                            <div style="display:table-row" class="radioColor">
                                <div style="display:table-cell;color:white;">0</div>
                                <div style="display:table-cell;">1</div>
                                <div style="display:table-cell;">2</div>
                                <div style="display:table-cell;">3</div>
                                <div style="display:table-cell;">4</div>
                                <div style="display:table-cell;">5</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fontSize15 topHalfGutter controls" style="display:table-row;">
                    <div style="display:table-cell;" class="label_text {% if field.errors %} error {% endif %}">{% trans "Overall rating" %}</div>
                    <div style="display:table-cell;" class="overall_value"></div>
                </div>
                <div class="topHalfGutter controls" style="display:table-row;">
                    <div style="display:table-cell;" class="label_text {% if field.errors %} error {% endif %}">{% trans "Range & Quality" %}</div>
                    <div style="display:table-cell;" class="quality_value"></div>
                </div>
                <div class="topHalfGutter controls" style="display:table-row;">
                    <div style="display:table-cell;" class="label_text {% if field.errors %} error {% endif %}">{% trans "Pricing" %}</div>
                    <div style="display:table-cell;" class="price_value"></div>
                </div>
                <div class="topHalfGutter controls" style="display:table-row;">
                    <div style="display:table-cell;" class="label_text {% if field.errors %} error {% endif %}">{% trans "Timely Delivery" %}</div>
                    <div style="display:table-cell;" class="service_value"></div>
                </div>
                <div class="topHalfGutter controls" style="display:table-row;">
                    <div style="display:table-cell;" class="label_text {% if field.errors %} error {% endif %}">{% trans "Website Experience" %}</div>
                    <div style="display:table-cell;" class="website_ex_value"></div>
                </div>
                <div class="topHalfGutter controls" style="display:table-row;">
                    <div style="display:table-cell;">{% trans "Exchange Experience (optional)" %}</div>
                    <div style="display:table-cell;" class="exchange_value"></div>
                </div>
            </div>
        {% elif field.label ==  form_for_fields.shop_again.label %}
            <span class="label_text {% if field.errors %} error {% endif %}">{% trans "Would you buy from this store again?"%}</span>
            {{ field|add_class:"" }}
            {% comment %}
            {% if field.errors %}
            <!-- <span class="help-inline"> -->
                {% for e in field.errors %}
                {% if not forloop.first %} / {% endif %}{{ e }}
                {% endfor %}
            <!-- </span> -->
            {% else %}
            {% endif %}
            {% endcomment %}
        {% else %}
            <span class="label_text {% if field.errors %} error {% endif %}">{{ field.label }}</span>
            {{ field }}
            {% comment %}
            {% if field.errors %}
            <!-- <span class="help-inline"> -->
                {% for e in field.errors %}
                {% if not forloop.first %} / {% endif %}{{ e }}
                {% endfor %}
            <!-- </span> -->
            {% else %}
            {% endif %}
            {% endcomment %}
        {% endif %}
</div>
{% endif %}
{% endfor %}
