{% load future %}
{% load i18n static %}
{% load blog_tags %}

<div class="container customNavBar navbar navbar-fixed-top">
    <div class="row yellowBar">
        <div class="offset9 span2">
            <a href="http://blog.wishradio.in">
                <div class="socialLogin tumblr pull-right">
                </div>
            </a>
            <a href="http://www.pinterest.com/wishradio">
                <div class="socialLogin pinterest pull-right">
                </div>
            </a>
            <a href="http://www.twitter.com/wishradio">
                <div class="socialLogin twitterLogin pull-right">
                </div>
            </a>
            <a href="http://www.facebook.com/wishradio">
                <div class="socialLogin facebookLogin pull-right">
                </div>
            </a>

        </div>
    </div>
    <div class="row whiteSpace">
        {% if request.user.is_authenticated %}
            <div class="offset7 span4">
                <span class="pull-right">
                    <a href="{% url "messages_inbox" %}">
                        <span class="messages_homepage"><img src="{% static "img/messages.png" %}"></span>
                        <span class="messages_count circleBase fontSize9 fontTitillium2 pagination-centered">{{ messages_inbox_count }}</span>
                    </a>
                </span>
                <span class="settings pull-right" style="margin-right: 5px;">
                    <img src="{% static "img/settings.png" %}">
                    <img src="{% static "img/green_pointer.png" %}">
                    <span class="whiteBox fontSize13 fontTitillium1 settingsPopup hide">
                        <span>
                            <a href="{% url "profile_update" %}">{% trans "Update profile" %}</a>
                        </span>
                        <hr class="dottedSeparator">
                        <span style="clear:both;">
                            <a href="{% url "logout" %}?next={{ request.get_full_path }}">{% trans "Log out" %}</a>
                        </span>
                </span>
                </span>
                <span class="pull-right" style="margin-right: 5px;">
                    {% url "profile" request.user.username as profile_url %}
                    {% if profile_url %}
                        {% if request.user.is_authenticated %}
                        <a href="{{profile_url}}">
                        {% if request.user.get_profile.profile_photo%}
                            <img style="margin-right:5px;height=30px;width:30px;" src="{{ request.user.get_profile.profile_photo.url }}">
                        {% elif request.user.get_profile.image_url %}
                            <img style="margin-right:5px;height=30px;width:30px;" src="{{ request.user.get_profile.image_url }}">
                        {% else %}
                            <img style="margin-right:5pxpx;height=30px;width:30px;" src="{{ STATIC_URL }}img/defaultProfilePic.gif">
                        {% endif %}
                        </a> 
                        {% endif %}
                    {% else %}
                        <img style="margin-right:20px;height=30px;width:30px;" src="{{ STATIC_URL }}img/defaultProfilePic.gif">
                    {% endif %}
                    {% include 'actstream/render_actor_name.html' with actor=request.user %}
                </span>
            </div>
        {% else %}
            <div class="offset8 span3">
                <span class="pull-right">
                    <a class="fontSize13 fontTitillium" href="{% url "login" %}?next={{ request.get_full_path }}">{% trans " Log in" %}</a>
                     | <a class="fontSize13 fontTitillium" href="{% url "signup" %}?next={{ request.get_full_path }}">{% trans "Sign up" %}</a>
                </span>
                <a href="#google">
                   <span class="socialLogin googleLogin pull-right" style="margin-top:10px;">
                   </span>
                </a>
                <a href="{% url "socialauth_begin" "twitter" %}">
                    <span class="socialLogin twitterLogin pull-right" style="margin-top:10px;">
                    </span>
                </a>
                <a href="{% url "socialauth_begin" "facebook" %}">
                    <span class="socialLogin facebookLogin pull-right" style="margin-top:10px;">
                    </span>
                </a>
            </div>
         {% endif %}
    </div>
    <div class="row">
        <div class="offset1 span10 searchBar">
            <div class="row" style="margin-top:auto;margin-bottom:auto;">
                <div class="span2 logo">
                    <div class="whiteBox whiteBoxGlassy fullGutter" style="width:110px;">
                        <a href="/"><img src="/static/img/wishRadioLogo.png"/></a>
                    </div>
                </div>
                <div class="span8">
                    <div class="span2 halfGutterRight">
                        <span class="wantText">
                            {% trans "I'm looking for" %}
                        </span>
                    </div>
                    {% blog_parentcategories_abs as parent_categories %}
                    {% if parent_categories %}
                    <div class="span2 halfGutterRight">
                        <select name="blog_parentcategories" class="blog_parentcategories">
                            <option value='empty' selected disabled>{% trans "By Category" %}</option>
                            <option value="all">{% trans "All" %}</option>
                            {% for category in parent_categories %}
                            <option value="{{ category }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="span2 halfGutterRight">
                        <select name="blog_subcategories" class="blog_subcategories">
                            <option value='empty' selected disabled>By Sub-category</option>
                        </select>
                    </div>
                    {% endif %}
                    <div class="span1">
                        <div id="getvendorsdiv" style="display:inline-block;">
                            <a id="getvendors" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>