{% load future %}
{% load i18n static %}
{% load blog_tags %}

<div class="container customNavBar navbar navbar-fixed-top">
    <div class="row yellowBar">
            {% if request.user.is_authenticated %}
            <div class="offset9 span2">
                {% url "profile" request.user.username as profile_url %}
                {% if profile_url %}
                    {% include 'actstream/render_actor_name.html' with actor=request.user %}
                    {% if request.user.is_authenticated %}
                    <a href="{{profile_url}}">
                    {% if request.user.get_profile.profile_photo%}
                        <img style="margin-right:20px;height=30px;width:30px;" src="{{ request.user.get_profile.profile_photo.url }}">
                    {% elif request.user.get_profile.image_url %}
                        <img style="margin-right:20px;height=30px;width:30px;" src="{{ request.user.get_profile.image_url }}">
                    {% else %}
                        <img style="margin-right:20px;height=30px;width:30px;" src="{{ STATIC_URL }}img/defaultProfilePic.gif">
                    {% endif %}
                    </a> 
                    {% endif %}
                    <a href="{% url "profile_update" %}" class="btn btn-small btn-account">{% trans "Update profile" %}</a>
                {% else %}
                    <a href="{% url "profile_update" %}">{{ request.user.username }}</a>
                    {% if request.user.get_profile.profile_photo %}
                        <img style="margin-right:20px;height=30px;width:30px;" src="{{ request.user.get_profile.profile_photo.url }}">
                    {% elif request.user.get_profile.image_url %}
                        <img style="margin-right:20px;height=30px;width:30px;" src="{{ request.user.get_profile.image_url }}">
                    {% else %}
                        <img style="margin-right:20px;height=30px;width:30px;" src="{{ STATIC_URL }}img/defaultProfilePic.gif">
                    {% endif %}
                    </a>
                {% endif %}
            </div>
            {% else %}
            <div class="offset10 span1">
                <a href="{% url "socialauth_begin" "facebook" %}">
                    <div class="socialLogin facebookLogin">
                    </div>
                </a>
                <a href="{% url "socialauth_begin" "twitter" %}" >
                    <div class="socialLogin twitterLogin">
                    </div>
                </a>
                <a href="#google">
                   <div class="socialLogin googleLogin">
                   </div>
                </a>
            </div>
            {% endif %}
    </div>
    <div class="row whiteSpace">
        <div class="offset8 span2 rightMargin pull-right">
            {% if request.user.is_authenticated %}
            <a href="{% url "logout" %}?next={{ request.get_full_path }}">{% trans "Log out" %}</a>
            {% else %}
            <a href="{% url "login" %}?next={{ request.get_full_path }}">{% trans " Log in" %}</a>
             | <a href="{% url "signup" %}?next={{ request.get_full_path }}">{% trans "Sign up" %}</a>
             {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="offset1 span10 searchBar">
            <div class="row" style="margin-top:auto;margin-bottom:auto;">
                <div class="span2 logo whiteBox">
                    <a href="/"><img src="/static/img/wishRadioLogo.png"/></a>
                </div>
                <div class="span8">
                    <span class="rightMargin wantText">
                        I WANT
                    </span>
                    {% blog_parentcategories_abs as parent_categories %}
                    {% if parent_categories %}
                        <select name="blog_parentcategories" class="rightMargin blog_parentcategories">
                            <option value='empty' selected disabled>By Category</option>
                            <option value="all">{% trans "All" %}</option>
                            {% for category in parent_categories %}
                            <option value="{{ category }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                        <select name="blog_subcategories" class="rightMargin blog_subcategories">
                            <option value='empty' selected disabled>By Sub-category</option>
                        </select>
                    {% endif %}
                    <div id="getvendorsdiv" style="display:inline-block;">
                        <a id="getvendors" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>