{% load mezzanine_tags i18n future %}

<form action="{% url "search" %}" class="span2 searchbox" >
    <input class="span2 search-query" placeholder="{% trans "Search Items" %}" type="text" name="q" value="{{ request.REQUEST.q }}">

    {% if search_model_choices %}
        {% if search_model_choices|length == 1 %}
        <input type="hidden" name="type" value="{{ search_model_choices.0.1 }}">
        {% else %}
        <select name="type" style="height:35px;">
            <option value="">{% trans "Everything" %}</option>
            {% for verbose_name, model in search_model_choices %}
            <option value="{{ model }}"
                {% if model == request.REQUEST.type  %}selected{% endif %}>
                {{ verbose_name }}
            </option>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="{% trans "Go" %}" style="height:35px;">
        </select>
        {% endif %}
    {% endif %}

</form>
