{% load future %}

<script>

var baseURLDealsTemplate = "{% url "get_filtered_deallist" blog_post.id "category" 0 10 %}";
var baseURLStoresTemplate = "{% url "get_related_stores" blog_post.id "category" 0 5 %}";

var get_filtered_deals_handler = function(sub_category)
{
	var new_url = baseURLDealsTemplate.replace("category", sub_category);
	new_url += "?v=1";
    
    var $element = $('#topDealsForStore');
    var $scrollContainer = $element.find(".scrollContainer");
    if ($scrollContainer && $scrollContainer.hasClass('mCustomScrollbar')) { 
      $scrollContainer.mCustomScrollbar("scrollTo","top");
    }

    $.get(new_url, {}, function(data) {
            if(data.success === true) {
                $deal_container = $scrollContainer.find('.mCSB_container');
                $deal_container.html(data.html);
                install_voting_handlers($deal_container);
                install_share_object_handler($deal_container);

                $scrollContainer.attr("data-href", new_url);

                $('a.wishimg-deal-homepage').fancybox({
    				scrolling: 'yes',
    				minWidth: 500,
    				minHeight:450,
    				autoSize: true,
    				helpers : { overlay : { locked : false } }
                });
            } else {
                $scrollContainer.removeAttr("data-href");
            }

       });
    return false;
}

var get_related_stores_handler = function(sub_category)
{
	var new_url = baseURLStoresTemplate.replace("category", sub_category);
		new_url += "?v=1";
    $.get(new_url, {}, function(data) {
       $('#topRelatedStoreForStore').html(data);
    });
   	return false;
}

var update_accordion = function(sub_category_slug)
{
    get_related_stores_handler(sub_category_slug);
    get_filtered_deals_handler(sub_category_slug);
	return false;
}

var manageFeedOwner = function() {
    var $this = $(this); 
    if ($this.hasClass('manageFeedUp')) {
        $this.removeClass('manageFeedUp');
        $this.parent().find('.whiteBox').hide();
    }
    else { 
        $this.addClass('manageFeedUp');
        $this.parent().find('.whiteBox').show().css({'display': 'inline-block', 'position': 'relative', 'left': '10px'});
    }
}

var manageFeedOther = function() {
    if ($(this).hasClass('manageFeedUp')) {
        $(this).removeClass('manageFeedUp');
        $(this).parent().find('.whiteBox').hide();
    } else {
        $(this).addClass('manageFeedUp');
        $(this).parent().find('.whiteBox').show().css({'display': 'inline-block', 'position': 'relative', 'left': '10px'});
    }
}

$(document).ready(function(event){
	$('#dealsFilterSelect').change(function(){
		var slug = $(this).find("option:selected").text();
		return update_accordion(slug);
	});

	$('a.wishimg-deal-homepage').fancybox({
        scrolling: 'yes',
        minWidth: 500,
        minHeight: 450,
        autoSize: true,
        helpers : { overlay : { locked : false } }
    });
});
</script>