{% load future userProfile_tags %}

<script>

var baseURLDealsTemplate = "{% url "get_filtered_deallist" blog_post.id "category" 0 'MIN_DEALS_HOME_PAGE'|settings_value %}";
var baseURLStoresTemplate = "{% url "get_related_stores" blog_post.id "category" 0 'MIN_STORES_HOME_PAGE'|settings_value %}";

var helpfulReviewsURL = "{% url "comment_thread_most_liked_view" blog_post.id 0 'MIN_REVIEWS_STORE_PAGE'|settings_value %}";
var socialReviewsURL = "{% url "comment_thread_social_view_level2" blog_post.id 0 'MIN_REVIEWS_STORE_PAGE'|settings_value %}";
var recentReviewsURL = "{% url "comment_thread_most_recent_view" blog_post.id 0 'MIN_REVIEWS_STORE_PAGE'|settings_value %}";

var get_filtered_deals_handler = function(sub_category)
{
	var new_url = baseURLDealsTemplate.replace("category", sub_category);
	new_url += "?v=1";
    
    var $element = $('#topDealsForStore');
    var $scrollContainer = $element.find(".scrollContainer");
    if ($scrollContainer && $scrollContainer.hasClass('mCustomScrollbar')) { 
      $scrollContainer.mCustomScrollbar("scrollTo","top");
    }

    $.get(new_url, {}, function(data) {
            if(data.success === true) {
                $deal_container = $scrollContainer.find('.mCSB_container');
                $deal_container.html(data.html);
                install_voting_handlers($deal_container);
                install_share_object_handler($deal_container);

                $scrollContainer.attr("data-href", new_url);

                $('a.wishimg-deal-homepage').fancybox({
    				scrolling: 'yes',
    				minWidth: 500,
    				minHeight:450,
    				autoSize: true,
    				helpers : { overlay : { locked : false } }
                });
            } else {
                $scrollContainer.removeAttr("data-href");
            }

       });
    return false;
}

var get_related_stores_handler = function(sub_category)
{
	var new_url = baseURLStoresTemplate.replace("category", sub_category);
		new_url += "?v=1";

    var $element = $('#topRelatedStoreForStore');
    var $scrollContainer = $element.find(".scrollContainer");
    
    if ($scrollContainer && $scrollContainer.hasClass('mCustomScrollbar')) { 
      $scrollContainer.mCustomScrollbar("scrollTo","top");
    }

    $.get(new_url, {}, function(data) {
        if(data.success === true) {
            $deal_container = $scrollContainer.find('.mCSB_container');
            $deal_container.html(data.html);
            $scrollContainer.attr("data-href", new_url);
        } else {
            $scrollContainer.removeAttr("data-href");
        }
    });
   	return false;
}

var update_accordion = function(sub_category_slug)
{
    get_related_stores_handler(sub_category_slug);
    get_filtered_deals_handler(sub_category_slug);
	return false;
}

var manageFeedOwner = function() {
    var $this = $(this); 
    if ($this.hasClass('manageFeedUp')) {
        $this.removeClass('manageFeedUp');
        $this.parent().find('.whiteBox').hide();
    }
    else { 
        $this.addClass('manageFeedUp');
        $this.parent().find('.whiteBox').show().css({'display': 'inline-block', 'position': 'relative', 'left': '10px'});
    }
}

var manageFeedOther = function() {
    if ($(this).hasClass('manageFeedUp')) {
        $(this).removeClass('manageFeedUp');
        $(this).parent().find('.whiteBox').hide();
    } else {
        $(this).addClass('manageFeedUp');
        $(this).parent().find('.whiteBox').show().css({'display': 'inline-block', 'position': 'relative', 'left': '10px'});
    }
}

var update_reviews = function (slug) {
    var link = ""
    if (slug == "social") {
        if (login_required_handler()) {
            return false;
        }
        link = socialReviewsURL;
    } else if (slug == "helpful") {
        link = helpfulReviewsURL;
    } else if (slug == "recent") {
        link = recentReviewsURL;
    }

    if (link) {
        $.get(link, {}, function(data) {
            $('#commentContainer').html(data);
            install_voting_handlers($('#commentContainer'));
            install_review_voting_handler($('#commentContainer'));
            install_review_handlers($('#commentContainer'));
            install_review_pagination_handler();

            var params = getParameters();
            if(params.hasOwnProperty("page")) {
                params.page = "1";
            }
            
            reviewFilter = $('.reviewFilter').find("option:selected").val();
            if(reviewFilter !== 'empty')
                params.reviewFilter = reviewFilter;

            update_url(params, false);
        });
    }

    return false;
}

var reviewPaginationHandler = function() {
    var $href = $(this).attr('href');
    var nextPageIndex = $href.split('=')[1];

    var params = getParameters();
    if(nextPageIndex) {
        params.page = nextPageIndex;
    }
    
    reviewFilter = $('.reviewFilter').find("option:selected").val();
    if(reviewFilter && reviewFilter !== 'empty')
        params.reviewFilter = reviewFilter;

    update_url(params, true);
    return false;   
}

var install_review_pagination_handler = function() {
    $('#comments div.pagination ul > li > a').on('click', reviewPaginationHandler);
}

$(document).ready(function(event){
	$('#dealsFilterSelect').change(function(){
		var slug = $(this).find("option:selected").text();
		return update_accordion(slug);
	});

	$('a.wishimg-deal-homepage').fancybox({
        scrolling: 'yes',
        minWidth: 500,
        minHeight: 450,
        autoSize: true,
        helpers : { overlay : { locked : false } }
    });

    $('.reviewFilter').change(function(){
        var slug = $(this).find("option:selected").val();
        return update_reviews(slug);
    });

    install_review_pagination_handler();

});
</script>